<div class="py-5 mt-2">
  <div class="info-color pt-4 pb-2 font-weight-bold z-depth-1 white-text">
      <div class="row no-gutters justify-content-center">
          <div class="col text-center">
              <h3 class="h3-responsive text-capitalize">
                Applications
              </h3>
          </div>
      </div>
  </div>
</div>

<div class="px-md-5">

  <mdb-card>
      <div class="table-responsive no-gutters">
        <table mdbTable hover="true">
          <thead class="unique-color white-text z-depth-2">
            <tr mdbTableCol>
              <th>Date</th>
              <th>Property</th>
              <th>Location</th>
              <th>My Rent offer</th>
              <th>Prop. Status</th>
            </tr>
          </thead>
          <tbody *ngIf="!loading && applications">
            <tr *ngFor="let application of applications" mdbTableCol style="cursor: pointer;" 
                [routerLink]="['/listings/details/' + application.listing.id]">
                <td>{{applicationDate(application.creationTS)}}</td>
                <td class="text-truncate">{{application.listing.name}}</td>
                <td class="text-truncate">{{application.listing.address.substring(0,33)}}...</td>
                <td>{{application.applicant.offer.rentAmount}} USD</td>
                <td>
                  <span *ngIf="application.listing.status=='listed'" class="badge badge-success">AVAILABLE</span>
                  <span *ngIf="application.listing.status=='tenant selected'" class="badge badge-secondary">TENANT SELECTED</span>
                  <span *ngIf="application.listing.status=='rented'" class="badge badge-info">RENTED</span>
                </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="loading" class="text-center">
          <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
        </div>

        <div *ngIf="!loading && applications && applications.length==0" class="text-center pt-5 pb-3">
          <h3><strong>No applications</strong></h3>
        </div>
      </div>
      
      
  </mdb-card>
</div>