<div class="pt-5 pb-4">
	<div class="info-color pt-4 pb-1 font-weight-bold z-depth-1 white-text">
			<div class="row no-gutters justify-content-center">
        <div class="col-12 col-md text-center">
            <h3 class="h3-responsive pt-2 text-capitalize">Property listing requests</h3>
        </div>
			</div>
	</div>
</div>



<div class="px-md-5">
	<mdb-card>
			<div class="table-responsive no-gutters">
				<table mdbTable hover="true">
					<thead class="unique-color white-text z-depth-2">
						<tr mdbTableCol>
							<th>Date</th>
							<th>Property</th>
							<th>Location</th>
							<th>Rent</th>
							<th>User</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody *ngIf="listings">
						<tr *ngFor="let listing of listings" mdbTableCol style="cursor: pointer;" [routerLink]="['/admin/property-listing/details/'+listing.id]">
								<td>{{formatDateSring(listing.creationTS)}}</td>
								<td>{{listing.name}}</td>
								<td>{{listing.address.substring(0,33)}}...</td>
								<td class="text-capitalize">{{listing.rentAmount}} USD</td>
								<td class="text-capitalize"> {{listing.user.firstName}} {{listing.user.lastName[0]}}.</td>
								<td>{{listing.user.email}}</td>
						</tr>
					</tbody>
				</table>

				<div *ngIf="!listings" class="text-center">
					<mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
				</div>

				<div *ngIf="listings && listings.length==0" class="text-center pt-5 pb-3">
					<h3><strong>No pending listing</strong></h3>
				</div>

				<hr class="my-0">
			</div>
</mdb-card>
</div>