<footer class="page-footer unique-color text-center text-md-left pt-4 mt-4">

    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <!--First column-->
<!--             <div class="col-md-3 offset-md-1">
                <h5 class="title">{{app.name}} </h5>
                <p>Create descentralized rental aggrements.</p>
            </div> -->
            <!--/.First column-->

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-md-3">
                <h5 class="title">{{app.name}} </h5>
                <ul class="list-unstyled">
                    <li> 
                        <app-contact-us-modal></app-contact-us-modal>
                    </li>
                    <!-- <li>
                        <a ></a>
                    </li> -->
<!--                     <li>
                        <a >Link 3</a>
                    </li>
                    <li>
                        <a >Link 4</a>
                    </li> -->
                </ul>
            </div>
            <!--/.Second column-->
            <hr class="hidden-md-up">

            <!--Third column-->
            <div class="col-md-3">
                <h5 class="title">Help</h5>
                <ul class="list-unstyled">
                    <li>
                        <a [routerLink]="['/how-it-works']">How it works</a>
                    </li>
                    <li>
                        <a [routerLink]="['/help/FAQ']">Frequently Asked Questions</a>
                    </li>
                   <!--  <li>
                        <a >Link 3</a>
                    </li> -->
                   <!--  <li>
                        <a >Link 4</a>
                    </li> -->
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="hidden-md-up">

            <!--Fourth column-->
            <div class="col-md-3">
                <h5 class="title">Legal</h5>
                <ul class="list-unstyled">
                    <li>
                        <a >Terms of use</a>
                    </li>
                    <li>
                        <a >Legal Disclaimer</a>
                    </li>
                    <li>
                        <a >Privacy Policy</a>
                    </li>
                   <!--  <li>
                        <a >Link 4</a>
                    </li> -->
                </ul>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <hr class="py-4">

    <!--Call to action-->
    <div *ngIf="!authenticated">
        <div class="call-to-action text-center">
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <h5>Register for free</h5>
                </li>
                <li class="list-inline-item">
                    <a [routerLink]="['/account/create']" mdbBtn color="danger" rounded="true" class="waves-light " mdbWavesEffect>Sign up!</a>
                </li>
            </ul>
        </div>

        <hr>
    </div>

    <!--Social buttons-->
    <div class="text-center mb-3">

        <a [href]='social.facebook' target="_blank" mdbBtn floating="true" size="sm" class="btn-fb waves-light" mdbWavesEffect>
            <i class="fa fa-facebook"> </i>
        </a>
        <a [href]='social.twitter' target="_blank" mdbBtn floating="true" size="sm" class="btn-tw waves-light" mdbWavesEffect>
            <i class="fa fa-twitter"> </i>
        </a>
        <a mdbBtn floating="true" size="sm" class="btn-gplus waves-light" mdbWavesEffect>
            <i class="fa fa-google-plus"> </i>
        </a>
        <a mdbBtn floating="true" size="sm" class="btn-li waves-light" mdbWavesEffect>
            <i class="fa fa-linkedin"> </i>
        </a>
        <a mdbBtn floating="true" size="sm" class="btn-ins waves-light" mdbWavesEffect>
            <i class="fa fa-instagram"> </i>
        </a>
        <a mdbBtn floating="true" size="sm" class=" btn-email waves-light" mdbWavesEffect>
            <i class="fa fa-envelope"></i>
        </a>



    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2018 Copyright: {{app.name}}
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->