<div class="row">

  <div class="col-12 text-center">
    <h1 class="font-weight-bold">Settings</h1>
  </div>
  
  <div class="col-12 py-5 text-center">
      <button *ngIf="(agreement.status=='active' || (agreement.status=='endingLease' && agreement.requestedBy !== userInfo.uid) )" 
          type="button" mdbBtn color="danger" rounded='true' mdbWavesEffect (click)="openEndLeaseModal()">
          <span *ngIf="agreement.status=='active'" class="text-uppercase">
            End Lease with 
              <span *ngIf="isRealEstateAgent(userInfo.uid)"> {{agreement.landlord.firstName}}</span>
              <span *ngIf="isLandlord(userInfo.uid)"> {{agreement.realEstateAgent.firstName}}</span>
          </span>

          <span *ngIf="agreement.status=='endingLease' && agreement.requestedBy !== userInfo.uid">Accept request to end Lease</span>
      </button>

      <button *ngIf="agreement.status=='endingLease' && agreement.requestedBy === userInfo.uid" 
          type="button" [disabled]='cancelingCulmination' mdbBtn color="danger" rounded='true' mdbWavesEffect (click)="cancelCulmination()">
          <span *ngIf="!cancelingCulmination" class="text-uppercase">Cancel Lease Culmination with 
              <span *ngIf="isRealEstateAgent(userInfo.uid)"> {{agreement.landlord.firstName}}</span>
              <span *ngIf="isLandlord(userInfo.uid)"> {{agreement.realEstateAgent.firstName}}</span>
          </span>

          <span *ngIf="cancelingCulmination" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
  </div>

</div>



<div mdbModal #endLeaseModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
      
      <div class="modal-content text-center">
        <div class="modal-header d-flex justify-content-center">
          <p class="heading">Are you sure you want to end this Lease?</p>
        </div>
        
        <div class="modal-body">
          <i class="fa fa-times fa-4x animated rotateIn"></i>
          <p *ngIf="agreement.status=='active'">The 
            <span *ngIf="isRealEstateAgent(userInfo.uid)"> Landlord </span>
            <span *ngIf="isLandlord(userInfo.uid)"> Real EState Agent </span>
            will need to confirm your request then Agreement will be deleted
          </p>
          <p *ngIf="agreement.status=='endingLease'">
            Agreement will be deleted
          </p>
        </div>
        
        <div class="modal-footer flex-center">
          <button type="button" [disabled]='endingLease' mdbBtn color="danger" outline="true" class="waves-effect"
            mdbWavesEffect (click)="endLease()">
            <span *ngIf="!endingLease">Yes</span>
            <span *ngIf="endingLease">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span class="sr-only">Submitting</span>
            </span>
          </button>
          <button type="button" [disabled]='endingLease' mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="endLeaseModal.hide()">No</button>
        </div>
      </div>
    </div>
</div>