<div class="py-5 mt-2">
  <div class="info-color pt-4 pb-2 font-weight-bold z-depth-1 white-text">
      <div class="row no-gutters justify-content-center">
          <div class="col text-center">
              <h3 class="h3-responsive text-capitalize">
                My Property Agreements
              </h3>
          </div>
      </div>
  </div>
</div>


<div class="px-md-5">
  <mdb-card>
    <div class="table-responsive no-gutters">
      <table mdbTable hover="true">
        <thead class="unique-color white-text z-depth-2">
          <tr *ngIf="userInfo" mdbTableCol>
            <th>Date</th>
            <th>ID</th>
            <th *ngIf="userInfo.role=='real estate agent'">Landlord</th>
            <th *ngIf="userInfo.role=='landlord'">Real Estate Agent</th>
            <!-- <th *ngIf="userInfo.role=='real estate agent'">Listing</th> -->
          </tr>
        </thead>
        <tbody *ngIf="agreements?.length>0">
          <tr *ngFor="let agreement of agreements" mdbTableCol style="cursor: pointer;" [routerLink]="['/agreements/details/' + agreement.id]">
            <td>{{createdAt(agreement.creationTS)}}</td>
            <td>{{agreement.id}}</td>
            <td *ngIf="userInfo.role=='real estate agent'" class="text-capitalize">{{agreement.landlord.firstName}} {{agreement.landlord.lastName}}</td>
            <td *ngIf="userInfo.role=='landlord'">{{agreement.realEstateAgent.firstName}} {{agreement.realEstateAgent.lastName}}</td>
            <!-- <td *ngIf="userInfo.role=='real estate agent' && agreement.listingID"><button mdbBtn color="warning" rounded="true" size="sm" type="button" class="m-0" mdbWavesEffect (click)="viewListing(myProperty.listingID); $event.stopPropagation()">view</button></td>
            <td *ngIf="userInfo.role=='real estate agent' && !agreement.listingID"><button mdbBtn color="success" rounded="true" size="sm" type="button" class="m-0" mdbWavesEffect (click)="listProperty(myProperty.id); $event.stopPropagation()">new</button></td> -->
          </tr>
        </tbody>
      </table>

      <div *ngIf="!agreements" class="text-center">
        <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
      </div>

      <div *ngIf="agreements?.length==0" class="text-center pt-5 pb-3">
        <h3><strong>No Agreements found</strong></h3>
      </div>
    </div>
  </mdb-card>
</div>