<div class="pt-5 pb-4">
	<div class="info-color pt-4 pb-1 font-weight-bold z-depth-1 white-text">
			<div class="row no-gutters justify-content-center">
        <div *ngIf="addressEntered" class="col col-md-2 text-center mr-md-auto">
          <a mdbBtn (click)="filterModal.show()">
            <i class="fa fa-sliders" aria-hidden="true"></i>
            <span> Filters</span>
          </a>
        </div>
        <div class="col-12 col-md text-center">
            <h3 class="h3-responsive pt-3 text-capitalize">
              Top Service Providers
            </h3>
        </div>
        <div [hidden]="!addressEntered" class="text-center form-inline waves-light col-12 col-md-4 pl-3">
            <i class="fa fa-search prefix"></i>
            <input #search class="form-control font-weight-bold form-control-sm ml-2 w-75" type="text" placeholder="Search">
        </div>
			</div>
	</div>
</div>

<div *ngIf="submitting" class="text-center">
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>


<div *ngIf="total>0" class="section-heading">
    <h3 class="pb-2 text-center">Results: <span class="badge blue">{{total}}</span></h3>
</div>

<div class="text-center pb-4">
	<span *ngIf="filterUsed && !submitting" class="badge badge-primary">(Filters active)</span>
</div>

<h1 *ngIf="total==0" class="text-center py-5 mb-5">
	Nothing found 😢
</h1>

<h1 *ngIf="!addressEntered" class="text-center pt-5 pb-1">
	Enter a city 🌇
</h1>

<div [hidden]="addressEntered" class="row justify-content-center no-gutters">
	<div class="col-md-6 md-form">
		<i class="fa fa-search prefix grey-text"></i>
		<input #search2 type="text" id="form-address" class="form-control" required mdbInputDirective placeholder="Search">
	</div>
</div>

<div *ngIf="serviceProviders && serviceProviders.length>0" class="row no-gutters justify-content-center pt-3 pb-5">
    
    <div class="col-md-8">
      <mdb-card class="black-text">
        <mdb-card-body>

          <div *ngFor="let user of serviceProviders" class="row">
            <div class="col-md-2 col-12 text-center">
              <img [src]="user.photo || './assets/noProfilePicture.png'" width="100px" style="cursor:pointer"
                class="avatar rounded-circle z-depth-1-half img-fluid" (click)="viewProfile(user.uid)">
            </div>
            
            <div class="col-md-10 col-12">
              <div class="row">
                <div class="col-md-auto col-12">
                  <h5 class="text-center text-capitalize"><span style="cursor:pointer" (click)="viewProfile(user.uid)">{{user.firstName}} {{user.lastName}} </span> 
                    <app-membership-icon [pricingPlan]='user.membership.pricingPlan'></app-membership-icon>
                  </h5>                  
                </div>
                <div class="col-12">
                  <h5 class="text-center text-md-left">
                    <span class="badge badge-warning mr-1">{{user.serviceProvider.score}}</span>
                    <app-score [score]='user.serviceProvider.score'></app-score>
                    <small class="grey-text text-right"> ({{user.serviceProvider.reviews}}
                      <span *ngIf="user.serviceProvider.reviews==1"> review</span> <span *ngIf="user.serviceProvider.reviews!=1"> reviews</span>)
                    </small>
                  </h5>
                </div>
                <div class="col-12">
                  <p class="grey-text mb-1">{{user.shortDescription}}</p>
                </div>
                <!-- <div class="col-12">
                  Areas Serving: <div class="chip cyan darken-2 mb-2 white-text">New York</div><div class="chip cyan darken-2 mb-2 white-text">Guarenas</div>
                </div> -->
                <div class="col-12">
                  Skills: <div *ngFor="let skill of user.skills" class="chip purple mb-2 white-text">{{skill.name}}</div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
</div>



<div mdbModal #filterModal="mdbModal" style="overflow: auto;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" (closed)="filterModalModalClosed()">
  <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead" id="myModalLabel">Skills</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="filterModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	
				<div class="row">
					<div class="col-md-8 border">
						<div class="row">
							<div *ngFor="let skill of serviceProviderSkills" class="col-md-6 service-provider-skill" [class.text-black]="skill.selected" [ngStyle]="{'background-color':skill.selected? '#b9f6ca' :''}" (click)="selectServiceProviderSkill(skill)">
								<p class="font-weight-bold">{{skill.name}}</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div *ngFor="let skill of selectedServiceProviderSkills" class="col-12 service-provider-skill" (click)="selectServiceProviderSkill(skill)">
								<p class="font-weight-bold">{{skill.name}} <i class="fa fa-times white-text" aria-hidden="true"></i></p>
							</div>
						</div>
					</div>
				</div>

      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" outline="true" class="waves-light" aria-label="Close" (click)="clearFilters()" mdbWavesEffect>Clear all</button>
        <button type="button" mdbBtn color="success" class="relative waves-light" (click)="editSkills()" mdbWavesEffect>
					<span>Find Providers</span> 
				</button>
      </div>
    </div>
  </div>
</div>