<div class="pt-5 pb-4">
	<div class="info-color pt-4 pb-1 font-weight-bold z-depth-1 white-text">
			<div class="row no-gutters justify-content-center">
        <div class="col-12 col-md text-center">
            <h3 class="h3-responsive pt-2 text-capitalize">ID Verification request</h3>
        </div>
			</div>
	</div>
</div>


<div class="px-md-5">
	<mdb-card>
		<mdb-card-body>
			<div *ngIf="!loadingRequest && request">



				<nav *ngIf="page<=3" class="">
				  <ul class="pagination justify-content-center">
				    <li class="page-item" [ngClass]="{active: page == 1, disabled:submiting}">
				    		<a class="page-link" mdbWavesEffect (click)='changePage(1)'>1</a>
				    </li>
				    <li class="page-item" [ngClass]="{active: page == 2, disabled:submiting}">
				    	<a class="page-link" mdbWavesEffect (click)='changePage(2)'>2</a>
				    </li>
				    <li class="page-item" [ngClass]="{active: page == 3, disabled:submiting}">
				    	<a class="page-link" mdbWavesEffect (click)='changePage(3)'>3</a>
				    </li>
				  </ul>
				</nav>


	      <form *ngIf="page==1" [formGroup]="itemForm1" (ngSubmit)="onSubmit()">
	      	<div  class="">
	          	<h2 class="h2-responsive text-center font-weight-bold mb-2">Confirm user's details</h2>

	          	<div class="">
	            	<div class="row justify-content-center no-gutters pb-4">

	                <div class="col-12 col-md-6 md-form">
	                  <i class="fa fa-user prefix grey-text"></i>
	                  <input type="text" id="form-firstName" class="form-control" formControlName="firstName" successMessage=" " errorMessage='This field is required' required mdbInputDirective>
	                  <label for="form-firstName">First name</label>
	              	</div>

	                <div class="col-12 col-md-6 md-form">
	                  <i class="fa fa-user prefix grey-text"></i>
	                  <input type="text" id="form-lastName" class="form-control" formControlName="lastName" successMessage=" " errorMessage='This field is required' required mdbInputDirective>
	                  <label for="form-lastName">Last name</label>
	                </div>

		            	<div *ngIf="request.role=='real estate agent'" class="col-12 col-md-6 md-form">
		                <i class="fa fa-suitcase prefix grey-text"></i>
		                <input type="text" id="orangeForm-brokerage" class="form-control" formControlName="brokerage" required
		                   successMessage=" " errorMessage='This field is required' mdbInputDirective>
		                <label for="orangeForm-brokerage">Brokerage</label>
		              </div>

		              <div *ngIf="request.role=='real estate agent'" class="col-12 col-md-6 md-form">
		                <i class="fa fa-drivers-license prefix grey-text"></i>
		                <input type="text" id="orangeForm-licence" class="form-control" formControlName="licenceNo" required
		                   successMessage=" " errorMessage='This field is required' mdbInputDirective>
		                <label for="orangeForm-licence">Licence No.</label>
		              </div>

	            	</div>


								<div class="row no-gutters pb-4" formGroupName="dateOfBirth">
									<div class="text-center col-md-12">
					        	<label class="grey-text font-weight-bold">Date of birth</label>
									</div>

							    <div class="col-md-4 px-5 text-center font-weight-bold border border-primary">
						        <mdb-select [options]="monthsOptions" placeholder="Choose month" formControlName="month" class="colorful-select dropdown-default"></mdb-select>
							    </div>

							    <div class="col-md-4 px-1 text-center font-weight-bold border border-primary">
						        <mdb-select [options]="daysOfTheMonthOptions" placeholder="Choose day" formControlName="day" class="colorful-select dropdown-default"></mdb-select>
							    </div>

							    <div class="col-md-4 px-1 text-center font-weight-bold border border-primary">
							        <mdb-select [options]="birthYearOptions" placeholder="Choose year" formControlName="year" class="colorful-select dropdown-default"></mdb-select>
							    </div>
								</div>

			          <div class="text-center pt-5">
			            <button type="submit" class="btn btn-success waves-light" mdbWavesEffect >
			                <span>Next</span>
			            </button>
			          </div>


	          </div>
	      	</div>
	      </form>


	      <form *ngIf="page==2" [formGroup]="itemForm2" (ngSubmit)="onSubmit()">
	      	<div class="">
	          <h2 class="h2-responsive text-center font-weight-bold pb-4">Confirm ID details</h2>
	          <div class="row justify-content-center no-gutters pb-4">
	          	 <div class="col-md-6 pb-2">
	          	 	<a class="text-center" [href]="request.IDFile" target="_blank">
			              <img [src]="request.IDFile" alt="" class="img-fluid">
			          </a>
	          	 </div>
	          </div>

						<div class="row no-gutters pt-4 pb-4">
							<div class="text-center col-md-12">
			        	<label class="grey-text font-weight-bold">ID Issuing Country</label>
							</div>
						
					    <div class="col-12 text-center font-weight-bold border border-primary">
				        <mdb-select [filterEnabled]="true" [options]="countriesOptions" placeholder="Choose country" formControlName="country" class="colorful-select dropdown-default"></mdb-select>
					    </div>
						</div>

						<div class="row no-gutters pb-4">
							<div class="text-center col-md-12">
			        	<label class="grey-text font-weight-bold">ID Type</label>
							</div>

					    <div class="col-12 text-center font-weight-bold border border-primary">
				        <mdb-select [options]="IDTypeOptions" placeholder="Choose ID Type" formControlName="IDType" class="colorful-select dropdown-default"></mdb-select>
					    </div>
					  </div>

							<div class="row no-gutters pb-4" formGroupName="IDExpirationDate">
								<div class="text-center col-md-12">
				        	<label class="grey-text font-weight-bold">ID Expires on</label>
								</div>

						    <div class="col-md-4 text-center font-weight-bold border border-primary">
					        <mdb-select [options]="monthsOptions" placeholder="Choose month" formControlName="month" class="colorful-select dropdown-default"></mdb-select>
						    </div>

						    <div class="col-md-4 text-center font-weight-bold border border-primary">
					        <mdb-select [options]="daysOfTheMonthOptions" placeholder="Choose day" formControlName="day" class="colorful-select dropdown-default"></mdb-select>
						    </div>

						    <div class="col-md-4 text-center font-weight-bold border border-primary">
						        <mdb-select [options]="expirationYearOptions" placeholder="Choose year" formControlName="year" class="colorful-select dropdown-default"></mdb-select>
						    </div>
							</div>

		          <div class="text-center pt-5">
		            <button type="button" class="btn btn-outline-success waves-light" mdbWavesEffect (click)='previewsPage()'>
		                 <span>Back</span>
		            </button>	          	
		            <button type="submit" class="btn btn-success waves-light" mdbWavesEffect>
		                 <span>Next</span>
		            </button>
		          </div>
	      	</div>
	      </form>


	      <form *ngIf="page==3" [formGroup]="itemForm3" (ngSubmit)="onSubmit()">
	      	<div *ngIf="page==3" class="">
	          <h2 class="h2-responsive text-center font-weight-bold pb-4">Confirm ownership of ID</h2>
	          <div class="row justify-content-center no-gutters pb-4">
	          	 <div class="col-md-6 pb-2">
	          	 	<a class="text-center" [href]="request.selfieFile" target="_blank">
			              <img [src]="request.selfieFile" alt="" class="img-fluid">
			          </a>
	          	 </div>
	          </div>

		          <div class="text-center pt-3">
		          	<button type="button" [disabled]="submiting" class="btn btn-outline-success waves-light" mdbWavesEffect (click)='previewsPage()'>
		                 <span>Back</span>
		            </button>
		          </div>
		          <hr>
		          <div class="text-center pt-5">
		          	<button mdbBtn type="button" [disabled]="submiting" color="danger" class="waves-light" [ngClass]="{'btn-outline-danger':actionSelected!='reject'}" mdbWavesEffect (click)="selectAction('reject')">
		             Reject
		            </button>
		            <button mdbBtn type="button" [disabled]="submiting" color="success" class="waves-light" [ngClass]="{'btn-outline-success':actionSelected!='verify'}" mdbWavesEffect (click)="selectAction('verify')">
		              Verify
		            </button>
		          </div>

		          <div class="row justify-content-center no-gutters">
			          <div *ngIf="actionSelected=='reject'" class="col-12 col-md-6 md-form">
		              <i class="fa fa-close prefix grey-text"></i>
		              <input type="text" id="orangeForm-licence" class="form-control" required formControlName="rejectionReason" 
		                 successMessage=" " errorMessage='This field is required' mdbInputDirective>
		              <label for="orangeForm-licence">Rejection reason</label>
		            </div>

		            <div class="col-12 col-md-2 md-form text-center">
		              <button [disabled]="disableInput() || submiting" mdbBtn type="submit" color="primary" class="waves-light" mdbWavesEffect>
										<span *ngIf="!submiting">Submit</span>
										<span *ngIf="submiting">
											<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
											Submitting
										</span>
		              </button>
		            </div>
		          </div>
	      	</div>
	      </form>

			</div>

			<div *ngIf="!loadingRequest && !request">
				<h1 class="text-center">Request not found</h1>
			</div>

			<div *ngIf="loadingRequest" class="text-center">
				<mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
			</div>
		</mdb-card-body>
	</mdb-card>
	
	
</div>

