<div class="py-5 mt-2">
  <div class="info-color pt-4 pb-2 font-weight-bold z-depth-1 white-text">
      <div class="row no-gutters justify-content-center">
          <div class="col text-center">
              <h3 class="h3-responsive text-capitalize">
                My Properties
              </h3>
          </div>
      </div>
  </div>
</div>



<div class="row no-gutters justify-content-center pb-4">
	<a class="btn btn-outline-warning btn-lg waves-light" (click)="newProperty()" mdbWavesEffect>New Property <i class="fa fa-home fa-2x ml-1"></i></a>
</div>


<div class="px-md-5">
  <mdb-card>
    <div class="table-responsive no-gutters">
      <table mdbTable hover="true">
        <thead class="unique-color white-text z-depth-2">
          <tr *ngIf="userInfo" mdbTableCol>
            <th>Date</th>
            <th>Property</th>
            <th>Location</th>
            <th *ngIf="userInfo.role=='tenant'">Landlord</th>
            <th *ngIf="userInfo.role=='landlord'">Tenants</th>
            <th *ngIf="userInfo.role=='landlord'">Listing</th>
          </tr>
        </thead>
        <tbody *ngIf="myProperties && myProperties.length>0">
          <tr *ngFor="let myProperty of myProperties" mdbTableCol style="cursor: pointer;" [routerLink]="['/my-properties/details/' + myProperty.id]">
            <td>{{createdAt(myProperty.creationTS)}}</td>
            <td>{{myProperty.name}}</td>
            <td>{{myProperty.address}}</td>
            <td *ngIf="userInfo.role=='tenant'" class="text-capitalize">{{myProperty.user.firstName}} {{myProperty.user.lastName}}</td>
            <td *ngIf="userInfo.role=='landlord'">{{myProperty.tenantsID.length}}</td>
            <td *ngIf="userInfo.role=='landlord' && myProperty.createdByRealEstateAgent"> - </td>
            <td *ngIf="userInfo.role=='landlord' && !myProperty.createdByRealEstateAgent && myProperty.listingID"><button mdbBtn color="warning" rounded="true" size="sm" type="button" class="m-0" mdbWavesEffect (click)="viewListing(myProperty.listingID); $event.stopPropagation()">view</button></td>
            <td *ngIf="userInfo.role=='landlord' && !myProperty.createdByRealEstateAgent && !myProperty.listingID"><button mdbBtn color="success" rounded="true" size="sm" type="button" class="m-0" mdbWavesEffect (click)="listProperty(myProperty.id); $event.stopPropagation()">new</button></td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="!myProperties" class="text-center">
        <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
      </div>

      <div *ngIf="myProperties && myProperties.length==0" class="text-center pt-5 pb-3">
        <h3><strong>No Properties saved</strong></h3>
      </div>
    </div>
  </mdb-card>
</div>
