<div mdbModal #chatModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" style="overflow: auto;" (closed)='chatModalClosed()'>
  <div class="modal-dialog modal-lg modal-notify modal-info" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <i *ngIf="!chatSelected" class="fa fa-comments white-text fa-2x mr-auto"></i>
        <a><i *ngIf="chatSelected" class="fas fa-angle-left white-text fa-2x mr-auto" (click)="openChatModal()"></i></a>
        <h2 class="text-center heading lead w-100" id="myModalLabel">
          <span *ngIf="!chatSelected">Chat</span>
          <span *ngIf="chatSelected" class="text-truncate">{{chatSelected.chatName}}</span>
        </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="chatModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <div class="modal-body p-0">
        <mdb-card class="rare-wind-gradient chat-room">


          <mdb-card-body *ngIf="!chatSelected" class="pt-0 px-0">
            <div class="row">
              <div class="col-12">

                <!-- <h6 class="font-weight-bold mb-3 text-center text-lg-left">Member</h6> -->
                <div class="white z-depth-0 px-2 pt-3 pb-0 members-panel-1 scrollbar-light-blue" scrollable (scrollPosition)='chatScrollHandler($event)'>
                  <h3 *ngIf="chats && chats.length==0" class="text-center font-weight-bold pt-5">No chat found</h3>
                  <h1 *ngIf="chats && chats.length==0" class="text-center"><i class="fa fa-comments fa-4x"></i></h1>
                  <div *ngIf="!chats" class="text-center pt-5">
                    <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
                  </div>
                  <ul *ngIf="chats" class="list-unstyled friend-list">
                      <li *ngFor="let chat of chats" class="grey lighten-3 p-2">
                        <a class="row d-flex justify-content-between" (click)="openMessagesModal(chat)">
                          <div class="col-2 col-md-1">
                            <img [src]="chat.user.photo || './assets/noProfilePicture.png'" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                          </div>
                          <div class="col-6 col-sm-8 text-left pr-2 pl-4 pl-sm-2 px-md-0">
                            <div class="text-small">
                              <strong class="text-capitalize">{{chat.user.firstName}} {{chat.user.lastName}}</strong>
                              <p class="my-0 text-truncate">{{chat.chatName}}</p>
                              <p class="last-message text-muted text-truncate">{{chat.lastMessage.content}}</p>
                            </div>
                          </div>
                          <div class="col-4 col-sm-2">
                            <div class="chat-footer text-right">
                              <p class="text-smaller text-muted mb-0">{{dateFromNow(chat.lastMessage.creationTS)}}</p>
                              <span *ngIf="userInfo.uid!=chat.lastMessage.uid" class="text-muted float-right"><i class="fa fa-reply grey-text" aria-hidden="true"></i></span>
                              <span *ngIf="userInfo.uid==chat.lastMessage.uid" class="text-muted float-right"><i class="fas fa-check" aria-hidden="true"></i></span>
                              <!-- <span class="badge badge-danger float-right">1</span> -->
                            </div>
                          </div>
                        </a>
                      </li>
                  </ul>
                </div>


              </div>
            </div>
          </mdb-card-body>


          <mdb-card-body *ngIf="chatSelected" class="pb-0">
              <div class="row px-lg-2 px-2">
                <div class="col-12 px-lg-auto px-0">
                  <mdb-progress-bar *ngIf="loadingOldMessages" class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
                  <div class="chat-message">

                    <div *ngIf="!messages" class="text-center py-5">
                      <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
                    </div>

                    <ul #scrollbar *ngIf="messages" class="list-unstyled chat-1 scrollbar-light-blue" scrollable (scrollPosition)='messagesScrollHandler($event)'>

                      <li *ngFor="let message of messages" class="mb-2">
                        <div *ngIf="userInfo.uid==message.uid" class="row no-gutters justify-content-end">
                          <div class="col-8">
                            <div class="chat-body blue white-text p-2 z-depth-1 rounded float-right" style="display:inline-block">
                              <p class="mb-0">{{message.content}}</p>
                              <small [mdbTooltip]='formatDate(message.creationTS)' class="pull-right text-muted blue white-text"><i class="fas fa-check white-text"></i> {{dateFromNow(message.creationTS)}}</small>
                            </div>
                          </div>
                          <div class="col-auto">
                            <img [src]="userInfo.photo || './assets/noProfilePicture.png'"  alt="avatar" class="avatar rounded-circle mr-1 ml-2 z-depth-1">
                          </div>
                        </div>

                        <div *ngIf="userInfo.uid!=message.uid" class="row no-gutters">
                          <div class="col-auto">
                            <img [src]="chatSelected.user.photo || './assets/noProfilePicture.png'" alt="avatar" class="avatar rounded-circle mr-2 ml-0 z-depth-1">
                          </div>
                          <div class="col-8">
                            <div class="chat-body grey lighten-3 black-text p-2 z-depth-1 rounded" style="display:inline-block">
                              <p class="mb-0">{{message.content}}</p>
                              <small [mdbTooltip]='formatDate(message.creationTS)' class="pull-right text-muted grey lighten-3 black-text"><i class="fas fa-check black-text"></i> {{dateFromNow(message.creationTS)}}</small>
                            </div>
                          </div>
                        </div>
                      </li>

                    </ul>
                    <form *ngIf="messages" class="white row no-gutters" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
                      <div class="form-group basic-textarea col">
                        <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="1" placeholder="Type your message here..." 
                          mdbInput mdbValidate formControlName='content'>
                        </textarea>
                      </div>
                      <div class="col-auto">
                          <button [disabled]="messageForm.get('content').invalid || sendingMessage" type="submit" mdbBtn size='sm' rounded='true' color='success' class="float-right" mdbWavesEffect>
                            <span *ngIf="!sendingMessage">Send</span>
                            <span *ngIf="sendingMessage" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          </button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
          </mdb-card-body>


        </mdb-card>
      </div>


    </div>

  </div>
</div>