<div class="row no-gutters justify-content-center pb-4">

	<div *ngIf="loadingVerificationFields || !userInfo" class="text-center">
		<mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
	</div>

  <div *ngIf="!loadingVerificationFields && userInfo" class="col col-md-8">  <!-- *ngIf="!loadingVerificationFields && userInfo" -->
<!-- 				<ul class="pagination pagination-circle pg-purple mb-0 justify-content-center pb-5">
		      <li class="page-item" [ngClass]="{disabled: state == 1}">
		        <a class="page-link" aria-label="Previous" mdbWavesEffect (click)="previousPage()">
		        	<i class="fa fa-arrow-circle-left fa-3x green-text" aria-hidden="true"
		        		[ngClass]="{'grey-text':state==1, 'purple-text':state!=1}"></i>
		          <span class="sr-only">Previous</span>
		        </a>
		      </li>

		      <li class="page-item " [ngClass]="{disabled: state == 3}">
		        <a class="page-link" aria-label="Next" mdbWavesEffect (click)="nextPage()">
		        	<i class="fa fa-arrow-circle-right fa-3x green-text" aria-hidden="true"
		        		[ngClass]="{'grey-text':state==3, 'purple-text':state!=3}"></i>
		          <span class="sr-only">Next</span>
		        </a>
		      </li>
		    </ul> -->


			<nav *ngIf="page<=3" class="">
			  <ul class="pagination justify-content-center">
			    <li class="page-item" [ngClass]="{active: page == 1, disabled:submiting}">
			    		<a class="page-link" mdbWavesEffect (click)='changePage(1)'>1</a>
			    </li>
			    <li class="page-item" [ngClass]="{active: page == 2, disabled:submiting}">
			    	<a class="page-link" mdbWavesEffect (click)='changePage(2)'>2</a>
			    </li>
			    <li class="page-item" [ngClass]="{active: page == 3, disabled:submiting}">
			    	<a class="page-link" mdbWavesEffect (click)='changePage(3)'>3</a>
			    </li>
			  </ul>
			</nav>

			<p *ngIf="requestStatus=='rejected'" class="text-center red-text font-weight-bold">
				Your request has been rejected. Reason: {{rejectionReason}}. Please, submit it again.
			</p>

      <form *ngIf="page==1" [formGroup]="itemForm1" (ngSubmit)="onSubmit()">
      	<div  class="">
          	<h2 class="h2-responsive text-center font-weight-bold mb-2">Confirm your details</h2>

          	<div class="">
            	<div class="row justify-content-center no-gutters pb-4">

                <div class="col-12 col-md-6 md-form">
                  <i class="fa fa-user prefix grey-text"></i>
                  <input type="text" id="form-firstName" class="form-control" formControlName="firstName" successMessage=" " errorMessage='This field is required' required mdbInputDirective>
                  <label for="form-firstName">First name</label>
              	</div>

                <div class="col-12 col-md-6 md-form">
                  <i class="fa fa-user prefix grey-text"></i>
                  <input type="text" id="form-lastName" class="form-control" formControlName="lastName" successMessage=" " errorMessage='This field is required' required mdbInputDirective>
                  <label for="form-lastName">Last name</label>
                </div>

	            	<div *ngIf="userInfo.role=='real estate agent'" class="col-12 col-md-6 md-form">
	                <i class="fa fa-suitcase prefix grey-text"></i>
	                <input type="text" id="orangeForm-brokerage" class="form-control" formControlName="brokerage" required
	                   successMessage=" " errorMessage='This field is required' mdbInputDirective>
	                <label for="orangeForm-brokerage">Brokerage</label>
	              </div>

	              <div *ngIf="userInfo.role=='real estate agent'" class="col-12 col-md-6 md-form">
	                <i class="fa fa-drivers-license prefix grey-text"></i>
	                <input type="text" id="orangeForm-licence" class="form-control" formControlName="licenceNo" required
	                   successMessage=" " errorMessage='This field is required' mdbInputDirective>
	                <label for="orangeForm-licence">Licence No.</label>
	              </div>

            	</div>


							<div class="row no-gutters pb-4" formGroupName="dateOfBirth">
								<div class="text-center col-md-12">
				        	<label class="grey-text font-weight-bold">Date of birth</label>
								</div>

						    <div class="col-md-4 px-1 text-center font-weight-bold border border-primary">
					        <mdb-select [options]="monthsOptions" placeholder="Choose month" formControlName="month" class="colorful-select dropdown-default"></mdb-select>
						    </div>

						    <div class="col-md-4 px-1 text-center font-weight-bold border border-primary">
					        <mdb-select [options]="daysOfTheMonthOptions" placeholder="Choose day" formControlName="day" class="colorful-select dropdown-default"></mdb-select>
						    </div>

						    <div class="col-md-4 px-1 text-center font-weight-bold border border-primary">
						        <mdb-select [options]="birthYearOptions" placeholder="Choose year" formControlName="year" class="colorful-select dropdown-default"></mdb-select>
						    </div>
							</div>

		          <div class="text-center pt-5">
		            <button type="submit" class="btn btn-success waves-light" mdbWavesEffect >
		                <span>Next</span>
		            </button>
		          </div>


          </div>
      	</div>
      </form>


      <form *ngIf="page==2" [formGroup]="itemForm2" (ngSubmit)="onSubmit()">
      	<div class="">
          <h2 class="h2-responsive text-center font-weight-bold pb-4">Upload a scan of your ID</h2>
          <div class="row no-gutters pb-4">
          	 <div class="col-12 col-md-6 pb-2">
          	 	<div class="">
		              <img [src]="itemForm2.get('IDFile').value || './assets/IDSample.PNG'" alt="" class="img-fluid">
		          </div>
          	 </div>
          	 <div class="col pb-2 ml-md-2">
          	 	<p>Please upload a Government issued ID such as a <span class="font-weight-bold">Passport</span>, current  <span class="font-weight-bold">Driver's License</span> or  <span class="font-weight-bold">National ID Card</span>.</p>
          	 	<p *ngIf="files.ID.uploaded" class="font-weight-bold green-text">File uploaded successfully</p>
          	 	<p *ngIf="files.ID.errorUploading" class="font-weight-bold red-text">Error uploading file</p>
          	 	<div *ngIf="files.ID.uploading" class="">
								<mdb-progress [value]="files.ID.uploadIDFilePercent" min="0" max="100" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></mdb-progress>
								Uploading file...
							</div>
          	 </div>
          </div>

          <div class="text-left">
            <button mdbBtn type="button" color="info" mdbWavesEffect><i class="mr-1 fa fa-camera" aria-hidden="true"></i>Take a photo</button>
          </div>

					<div class="file-field md-form">
					  <div mdbBtn color="info" size="sm" class="waves-light" mdbWavesEffect>
					    <i class="mr-1 fa fa-plus" aria-hidden="true"></i>Choose file
					    <input type="file" accept="image/*" (change)="onUploadOutput($event)">
					  </div>
					  <div class="file-path-wrapper">
					  	<input type="file" [disabled]="submiting" (change)="onUploadOutput($event)">
					    <input disabled="true" accept="image/*" class="file-path" type="text" placeholder="Drag and Drop your file here" [value]="files.ID.tempName || null">
					  </div>
					</div>

					<div class="row no-gutters pt-4 pb-4">
						<div class="text-center col-md-12">
		        	<label class="grey-text font-weight-bold">ID Issuing Country</label>
						</div>
					
				    <div class="col-12 text-center font-weight-bold border border-primary">
			        <mdb-select [filterEnabled]="true" [options]="countriesOptions" placeholder="Choose country" formControlName="country" class="colorful-select dropdown-default"></mdb-select>
				    </div>
					</div>

					<div class="row no-gutters pb-4">
						<div class="text-center col-md-12">
		        	<label class="grey-text font-weight-bold">ID Type</label>
						</div>

				    <div class="col-12 text-center font-weight-bold border border-primary">
			        <mdb-select [options]="IDTypeOptions" placeholder="Choose ID Type" formControlName="IDType" class="colorful-select dropdown-default"></mdb-select>
				    </div>
				  </div>

						<div class="row no-gutters pb-4" formGroupName="IDExpirationDate">
							<div class="text-center col-md-12">
			        	<label class="grey-text font-weight-bold">ID Expires on</label>
							</div>

					    <div class="col-md-4 text-center font-weight-bold border border-primary">
				        <mdb-select [options]="monthsOptions" placeholder="Choose month" formControlName="month" class="colorful-select dropdown-default"></mdb-select>
					    </div>

					    <div class="col-md-4 text-center font-weight-bold border border-primary">
				        <mdb-select [options]="daysOfTheMonthOptions" placeholder="Choose day" formControlName="day" class="colorful-select dropdown-default"></mdb-select>
					    </div>

					    <div class="col-md-4 text-center font-weight-bold border border-primary">
					        <mdb-select [options]="expirationYearOptions" placeholder="Choose year" formControlName="year" class="colorful-select dropdown-default"></mdb-select>
					    </div>
						</div>

	          <div class="text-center pt-5">
	            <button type="button" class="btn btn-outline-success waves-light" mdbWavesEffect (click)='previewsPage()'>
	                 <span>Back</span>
	            </button>	          	
	            <button type="submit" class="btn btn-success waves-light" mdbWavesEffect>
	                 <span>Next</span>
	            </button>
	          </div>
      	</div>
      </form>

      <form *ngIf="page==3" [formGroup]="itemForm3" (ngSubmit)="onSubmit()">
      	<div *ngIf="page==3" class="">
          <h2 class="h2-responsive text-center font-weight-bold pb-4">Confirm ownership of your ID</h2>
          <div class="row no-gutters pb-4">
          	 <div class="col-12 col-md-6 pb-2">
          	 	<div class="">
		              <img [src]="itemForm3.get('selfieFile').value || './assets/selfieSample.png'" alt="" class="img-fluid">
		          </div>
          	 </div>
          	<div class="col ml-md-2 pb-2">
          	 	<p>Take a photo of <span class="font-weight-bold">yourself</span> holding your <span class="font-weight-bold">ID</span>.</p>
          	 	<p>Ensure you <span class="font-weight-bold">include your face</span> and that your ID is <span class="font-weight-bold">clearly visible</span>.</p>
          	 	<p *ngIf="files.selfie.uploaded" class="font-weight-bold green-text">File uploaded successfully</p>
          	 	<p *ngIf="files.selfie.errorUploading" class="font-weight-bold red-text">Error uploading file</p>
							<div class="pt-4"></div>

							<div *ngIf="files.selfie.uploading" class="">
								<mdb-progress [value]="files.selfie.uploadIDFilePercen" min="0" max="100" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></mdb-progress>
								Uploading file...
							</div>
							<div *ngIf="submiting" class="">
								<mdb-progress-bar class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
								Submitting request...
							</div>

          	</div>
          </div>

          <div class="text-left">
            <button mdbBtn type="button" [disabled]="submiting" color="info" mdbWavesEffect><i class="mr-1 fa fa-camera" aria-hidden="true"></i>Take a photo</button>
          </div>

					<div class="file-field md-form">
					  <div mdbBtn color="info" d size="sm" class="waves-light" [ngClass]="{disabled:submiting}" mdbWavesEffect>
					    <i class="mr-1 fa fa-plus" aria-hidden="true"></i>Choose file
					    <input type="file" accept="image/*" [disabled]="submiting" (change)="onUploadOutput($event)">
					  </div>
					  <div class="file-path-wrapper">
					  	<input type="file" [disabled]="submiting" (change)="onUploadOutput($event)">
					    <input disabled="true" accept="image/*" class="file-path" type="text" placeholder="Drag and Drop your file here" [value]="files.selfie.tempName || null">
					  </div>
					</div>



	          <div class="text-center pt-5">
	          	<button type="button" [disabled]="submiting" class="btn btn-outline-success waves-light" mdbWavesEffect (click)='previewsPage()'>
	                 <span>Back</span>
	            </button>
	            <button type="submit" [disabled]="submiting || !itemForm1.valid || !itemForm2.valid || !itemForm3.valid" class="btn btn-success waves-light" mdbWavesEffect >
	                <span *ngIf="!submiting">Submit</span>
	                <span *ngIf="submiting">Submitting...</span>
	            </button>
	          </div>
      	</div>
      </form>

      <div *ngIf="page==4" class="text-center">
      	<i class="fa fa-spinner blue-text fa-4x mb-3 animated rotateIn"></i>
      	<h1 class="font-weight-bold">Request submited</h1>
      	<p>We'll let you know once your ID is verified.</p>
      </div>
      <div *ngIf="page==5" class="text-center">
      	<i class="fa fa-check green-text fa-4x mb-3 animated rotateIn"></i>
      	<h1 class="font-weight-bold">Your ID has been verified</h1>
      </div>
  </div>
</div>