<div class="pt-5 pb-4">
	<div class="info-color pt-4 pb-1 font-weight-bold z-depth-1 white-text">
			<div class="row no-gutters justify-content-center">
				<div *ngIf="addressEntered && !filter.realEstateAgent" class="col-md-2 text-center mr-md-auto">
					<a mdbBtn (click)="filterModal.show()">
						<i class="fa fa-sliders" aria-hidden="true"></i>
						<span> Filters</span>
					</a>
				</div>
				<div class="col text-center">
						<h3 class="h3-responsive pt-3 text-capitalize">
							Properties for Rent
						</h3>
				</div>
				<div [hidden]="!addressEntered" class="text-center form-inline waves-light col-12 col-md-4 pl-3">
						<i class="fa fa-search prefix"></i>
						<input #search class="form-control font-weight-bold form-control-sm ml-2 w-75" type="text" placeholder="Search">
				</div>
			</div>
	</div>
</div>



<div *ngIf="submitting" class="text-center">
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>

<h1 *ngIf="total>0 && !filter?.realEstateAgent" class="h1-responsive text-center ">
	<span class="badge badge-success">
		{{total}} 
		<span *ngIf="total==1">Property</span>
		<span *ngIf="total>1">Properties</span>
		for Rent 
	</span>
</h1>

<div class="text-center pb-4">
	<span *ngIf="filterUsed && !submitting && !filter?.realEstateAgent" class="badge badge-primary">(Filters active)</span>
</div>


<h1 *ngIf="total==0 || (filter?.realEstateAgent && listings?.length==0)" class="text-center py-5 mb-5">
	Nothing found 😢
</h1>

<h1 *ngIf="!addressEntered && !filter?.realEstateAgent" class="text-center pt-5 pb-1">
	Enter a city 🌇
</h1>

<div [hidden]="addressEntered || filter?.realEstateAgent" class="row justify-content-center no-gutters">
	<div class="col-md-6 md-form">
		<i class="fa fa-search prefix grey-text"></i>
		<input #search2 type="text" id="form-address" class="form-control" successMessage=" " errorMessage=' ' required mdbInputDirective placeholder="Search">
	</div>
</div>


<div *ngIf="listings" class="row no-gutters">
	<div class="col-md-3 mx-md-5 pb-3" *ngFor="let listing of listings">
		<mdb-card>

		  <a *ngIf="isRecommended(listing.recommendedUntil)" style="z-index: 2" class="btn-floating btn-action ml-auto mr-1 success-color lighten-3 waves-light" mdbTooltip="Recommended">
		    <i class="fa fa-star pl-1 waves-light" mdbWavesEffect></i>
		  </a>
		  <div class="view overlay waves-light" mdbWavesEffect>
				<mdb-carousel [isControls]="true" [interval]="0" class="carousel slide carousel-fade" [animation]="'fade'">
					<mdb-carousel-item *ngFor="let photo of listing.photos; let i=index">
						<div class="view w-100">
							<img class="d-block w-100" [src]="photo" [routerLink]="['/listings/details/'+listing.id]">
						</div>
						<div class="carousel-caption">
							<h3 class="h5-responsive">
									<mdb-badge pill="true" color="amber darken-2">{{listing.rentAmount}} USD</mdb-badge>
							</h3>
						</div>
					</mdb-carousel-item>
				</mdb-carousel>
		  </div>

		  <mdb-card-body class="py-1" [routerLink]="['/listings/details/'+listing.id]">

		  	<hr class="my-1">

		    <mdb-card-title>
		      <p class="font-weight-bold text-center my-0">{{listing.name}}</p>
		    </mdb-card-title>

				<p class="font-small grey-dark-text mb-0 text-center text-truncate">{{listing.address}}</p>
				<!-- <hr class="my-1">

				<p class="text-center pl-1 mb-0">
					<span *ngIf="listing.typeOfContract=='ethereum smart contract'" class="green-text font-weight-bold" mdbTooltip='Only Identity Wallet and Ethereum can be used for payments and smart contract'>
						Uses Ethereum Smart Contract
					</span>
					<span *ngIf="listing.typeOfContract=='traditional contract'" class="green-text font-weight-bold" mdbTooltip='Many cryptocurrencies can be used for payments'>
						Uses Traditional Contracts
					</span>
				</p> -->
		  </mdb-card-body>

		  <mdb-card-footer class="mdb-color lighten-3 text-center py-0">
		    <ul class="list-unstyled list-inline font-small mt-3">
		      <li class="list-inline-item pr-2 white-text">
						<i class="fa fa-bed pr-1"></i>
							<span *ngIf="listing.numOfBeds=='Studio'"> Studio</span>
              <span *ngIf="listing.numOfBeds!='Studio'"> {{listing.numOfBeds}} Bed(s)</span>
		      </li>
		      <li class="list-inline-item pr-2 white-text">
		          <i class="fa fa-bath pr-1"></i>{{listing.numOfBaths}} Bath(s)
		      </li>
		      <li class="list-inline-item pr-2 white-text">
		          <i class="fa fa-square pr-1"> </i>{{listing.sqft}} Sq Ft
		      </li>

		    </ul>
		  </mdb-card-footer>
		</mdb-card>
		
	</div>




</div>




<div mdbModal #filterModal="mdbModal" style="overflow: auto;" (closed)="resetForm()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="filterModal.hide()">
          <span class="white-text" aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title heading w-100" id="myModalLabel">Filters</h4>
      </div>
      <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
	      <div class="modal-body px-md-5">


	      	<h6 class="text-center font-weight-bold pt-3">Price (USD)</h6>
	      	<div class="row">
		      	<div class="col-md-6 md-form">
						  <input #minPrice mdbInputDirective type="number" id="form-minPrice" class="form-control" formControlName="minPrice" successMessage=" " errorMessage=' ' require>
						  <label for="form-minPrice" class="">Min</label>
						</div>
						<div class="col-md-6 md-form">
						  <input #maxPrice mdbInputDirective type="number" id="form-maxPrice" class="form-control" formControlName="maxPrice" successMessage=" " errorMessage=' ' require>
						  <label for="form-maxPrice" class="">Max</label>
						</div>
	      	</div>

	      	<h6 class="text-center font-weight-bold pt-3">Type</h6>
	      	<div class="px-md-5">
		      	<button *ngFor="let item of propertyOptions" type="button" mdbBtn color="info" class="waves-light" 
		      		[ngClass]="{'btn-outline-info':itemForm.get('type').value!=item.label}" mdbWavesEffect (click)="selectPropertyType(item.label)" >{{item.label}}
		      	</button>
					</div>
					
	      	<h6 class="text-center font-weight-bold pt-3">Bedrooms</h6>
	      	<div class="px-md-5">
		      	<button *ngFor="let item of bedsOptions" type="button" mdbBtn color="info" class="waves-light"
		      	[ngClass]="{'btn-outline-info':itemForm.get('numOfBeds').value!=item.label}" mdbWavesEffect (click)="selectnumOfnumOfBeds(item.label)">{{item.label}}</button>
	      	</div>

	      	<h6 class="text-center font-weight-bold pt-3">Bathrooms</h6>
	      	<div class="px-md-5">
		      	<button *ngFor="let item of bathsOptions" type="button" mdbBtn color="info" class="waves-light"
		      	[ngClass]="{'btn-outline-info':itemForm.get('numOfBaths').value!=item.label}" mdbWavesEffect (click)="selectnumOfBaths(item.label)">{{item.label}}</button>
	      	</div>

					<h6 class="text-center font-weight-bold pt-3">Amenities</h6>
					<ul class="row justify-content-between no-gutters amenities-list">
						<li *ngFor="let amenity of amenities" class="col-5 pb-3 font-weight-bold" (click)="selectAmenities(amenity.name)" 
								[style.opacity]="amenity.selected? 1:''">
							<span class="amenities-icon {{amenity.id}}" 
							[ngStyle]="{'background-position-y':amenity.selected? 0:''}"></span>
							<span [class.blue-text]='amenity.selected'> {{amenity.name}} </span>
						</li>
					</ul>

	      </div>
	      <div class="modal-footer">
	        <button type="button" mdbBtn color="secondary" outline="true" class="waves-light" aria-label="Close" (click)="clearFilters()" mdbWavesEffect>Clear all</button>
	        <button type="submit" mdbBtn color="success" [disabled]="!itemForm.valid" class="relative waves-light" mdbWavesEffect>Find Properties</button>
	      </div>
    	</form>
    </div>
  </div>
</div>