<div *ngIf="!userInfo" class="text-center pb-4">
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>

<div *ngIf="userInfo" class="row no-gutters justify-content-center pb-4">
    <div class="col-12 pb-5">
        <h2 class="h2-responsive text-center font-weight-bold">Membership</h2>
    </div>

    <div class="col-12 col-md-4 pb-5 text-center">
      <h3 class="font-weight-bold">Current Plan</h3>

      <h4 *ngIf="userInfo.membership.pricingPlan=='free'" class="grey-text font-weight-bold py-3">
        <i class="fa fa-certificate" aria-hidden="true"></i> Free
      </h4>
      <h4 *ngIf="userInfo.membership.pricingPlan=='basic'" class="indigo-text font-weight-bold py-3">
        <i class="fa fa-certificate" aria-hidden="true"></i> Basic
      </h4>
      <h4 *ngIf="userInfo.membership.pricingPlan=='plus'" class="purple-text font-weight-bold py-3">
        <i class="fa fa-certificate" aria-hidden="true"></i> Plus Member
      </h4>
      <h4 *ngIf="userInfo.membership.pricingPlan=='professional'" class="cyan-text font-weight-bold py-3">
        <i class="fa fa-certificate" aria-hidden="true"></i> Professional Member
      </h4>
      <h4 *ngIf="userInfo.membership.pricingPlan=='enterprise'" class="text-warning font-weight-bold py-3">
        <i class="fa fa-diamond" aria-hidden="true"></i> Enterprise Member
      </h4>

      <p>{{pricingInUSD()[userInfo.membership.pricingPlan]}} USD per month</p>
      <button mdbBtn color='info' mdbWavesEffect [routerLink]="['/help/pricing']">Manage</button>
      <button *ngIf="userInfo.membership.pricingPlan!='free'" mdbBtn color='danger' mdbWavesEffect (click)="openCancelationModal()">Cancel</button>
    </div>

    <div *ngIf="userInfo.membership.pricingPlan!='free'" class="col-12 col-md-4 pb-5 text-center">
      <h3 class="font-weight-bold pb-3">Payment Method</h3>
      <img [src]='"./assets/coins/" + userInfo.membership.paymentMethod.currency + ".png"' width="50px" class="img-fluid">
      <p class="pt-1 text-capitalize">{{userInfo.membership.paymentMethod.name}} ({{userInfo.membership.paymentMethod.currency}})</p>
      <button mdbBtn color='info' mdbWavesEffect (click)="openPaymentMethodModal()">Manage Payment Method</button>
    </div>

    <div *ngIf="userInfo.membership.pricingPlan!='free'" class="col-12 col-md-4 pb-5 text-center">
      <h3 class="font-weight-bold">Billing Information</h3>
      <p class="py-3">Your payment of {{pricingInUSD()[userInfo.membership.pricingPlan]}} USD will be billed on {{billingDate}} according to the exchange rate.</p>
      <button mdbBtn color='info' mdbWavesEffect (click)="viewTransactionHistory()">View Transaction History</button>
    </div>

</div>






<div mdbModal #paymentMethodModal="mdbModal" style="overflow: auto;" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success modal-lg" role="document">
    <!--Content-->
    <div *ngIf="userInfo && userInfo.membership.pricingPlan!='free' && currencySelected" class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading text-capitalize">Payment Method</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="paymentMethodModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <h2 class="h2-responsive text-center">Payment Method Selected: {{currencySelected.name}} ({{currencySelected.currency}})<strong></strong></h2>
        <p class="text-center grey-text">If you do not have enough balance in the currency to be paid, funds will be automatically deducted from your other currency with the highest balance.</p>
        <div *ngIf="!currencies" class="pt-3 text-center">
            <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
        </div>
        <div *ngIf="currencies" class="row justify-content-center">
          <div *ngFor="let item of currencies" class="col-6 col-sm-4 col-lg-auto pt-3" (click)="selectCurrency(item)" style="cursor:pointer" >
            <mdb-card [ngClass]="{'border': currencySelected && currencySelected.currency==item.currency, 'border-warning': currencySelected && currencySelected.currency==item.currency }">
              <mdb-card-body>
                <img [src]='"./assets/coins/" + item.currency + ".png"' class="img-fluid">
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal"
        (click)="paymentMethodModal.hide()">Cancel</button>
        <button type="button" [disabled]='!currencySelected || !currencies || selectingPaymentMethod' mdbBtn 
          color="success" class="waves-effect" mdbWavesEffect (click)="selectPaymentMethod()">
          <span *ngIf="!selectingPaymentMethod">Select</span>
          <span *ngIf="selectingPaymentMethod">Selecting</span>
        </button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>




<div mdbModal #cancelationModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-warning" role="document">
    
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>
      
      <div class="modal-body">
        <h1>😥</h1>
        <p>Downgrade will be done inmediately</p>
      </div>
      
      <div class="modal-footer flex-center">
        <button type="button" [disabled]='canceling' mdbBtn color="warning" outline="true" class="waves-effect"
          mdbWavesEffect (click)="cancelPricingPlan()" >
          <span *ngIf="!canceling">Yes</span>
          <span *ngIf="canceling">Confirming</span>
        </button>
        <button type="button" [disabled]='canceling' mdbBtn color="warning" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="cancelationModal.hide()">No</button>
      </div>
    </div>
  </div>
</div>
