<div *ngIf="!jobLoaded || !userInfo" class="py-5 my-5 text-center">
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>

<div *ngIf="jobLoaded && !serviceProviderJob && userInfo" class="py-5 my-5 text-center">
  <h1>Job not found</h1>
</div>

<div *ngIf="serviceProviderJob && userInfo" class="mdb-color pb-5">
  <div class="py-5 mt-2">
    <div class="info-color pt-4 pb-2 font-weight-bold z-depth-1 white-text">
        <div class="row no-gutters justify-content-center">
            <div class="col text-center">
                <h3 class="h3-responsive">
                  {{serviceProviderJob.name}}
                </h3>
            </div>
        </div>
    </div>
  </div>

  <div class="pb-5">

    <div class="row no-gutters justify-content-center">
      <div class="col-10">
        <mdb-card>
          <mdb-card-body>
            <div class="row">
              <div class="col">
                <h4 class="font-weight-bold">Price: <span class="blue-text">{{serviceProviderJob.price}} USD</span></h4>
              </div>
              <div class="col-auto">
                <h4 class="font-weight-bold" [ngClass]="{
                  'orange-text': serviceProviderJob.status=='wating for acceptance',
                  'red-text': serviceProviderJob.status=='canceled',
                  'blue-text': serviceProviderJob.status=='ongoing',
                  'green-text': serviceProviderJob.status=='completed'
                  }">
                  {{serviceProviderJob.status.toUpperCase()}}
                </h4>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>


    <div class="row no-gutters justify-content-center pt-5">
      <div class="col-10">
        <mdb-card>
          <mdb-card-body>
            <div *ngIf="usersLoaded" class="text-right">
              <button *ngIf="serviceProviderJob.status=='wating for acceptance' && userInfo.uid==serviceProviderInfo.uid" [disabled]='acceptingJob' mdbBtn color="danger" rounded="true" mdbWavesEffect (click)="openRejectionModal('cancelJob', null)">Reject</button>
              <button *ngIf="serviceProviderJob.status=='wating for acceptance' && userInfo.uid==serviceProviderInfo.uid" [disabled]='acceptingJob' mdbBtn color="success" rounded="true" mdbWavesEffect (click)="acceptJob()">
                <span *ngIf="!acceptingJob">Accept</span><span *ngIf="acceptingJob">Accepting</span>
              </button>
              <button *ngIf="serviceProviderJob.status=='ongoing' || (serviceProviderJob.status=='wating for acceptance' && userInfo.uid==employerInfo.uid)" mdbBtn color="danger" outline='true' rounded="true" size='sm' mdbWavesEffect (click)="openRejectionModal('cancelJob', null)">Cancel</button>
            </div>

            <h4 class="font-weight-bold">Job Description</h4>
            <p>{{serviceProviderJob.details}}</p>
            <h4 class="font-weight-bold pb-3">Job offered by:</h4>

            <div class="row">
              <div class="col-md-10">
                <div *ngIf="!usersLoaded" class="text-center py-2">
                  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
                </div>
      
                <div *ngIf="usersLoaded" class="row">
                  <div class="col-md-2 col-12 text-center">
                    <img [src]="employerInfo.photo || './assets/noProfilePicture.png'" width="100px" class="avatar rounded-circle z-depth-1-half img-fluid"
                    style="cursor:pointer" (click)="viewProfile(employerInfo.uid, serviceProviderJob.employer.role)">
                  </div>
                  
                  <div class="col-md-5 col-12">
                    <div class="row">
                      <div class="col-md-auto col-12">
                        <h3 class="text-center text-capitalize"><span style="cursor:pointer" (click)="viewProfile(employerInfo.uid, serviceProviderJob.employer.role)">{{employerInfo.firstName}} {{employerInfo.lastName}} </span>
                          <i *ngIf="employerInfo.membership.pricingPlan=='free'" mdbTooltip='Free Member' class="fa fa-certificate grey-text font-weight-bold" aria-hidden="true"></i>
                          <i *ngIf="employerInfo.membership.pricingPlan=='basic'" mdbTooltip='Basic Member' class="fa fa-certificate indigo-text font-weight-bold" aria-hidden="true"></i>
                          <i *ngIf="employerInfo.membership.pricingPlan=='plus'" mdbTooltip='Plus Member' class="fa fa-certificate purple-text font-weight-bold" aria-hidden="true"></i>
                          <i *ngIf="employerInfo.membership.pricingPlan=='professional'" mdbTooltip='Professional Member' class="fa fa-certificate cyan-text font-weight-bold" aria-hidden="true"></i>
                          <i *ngIf="employerInfo.membership.pricingPlan=='enterprise'" mdbTooltip='Enterprise Member' class="fa fa-certificate text-warning font-weight-bold" aria-hidden="true"></i>
                        </h3>                  
                      </div>
                      <div class="col-12">
                        <h4 class="text-center text-md-left pb-2">
                          <span class="badge badge-warning mr-1">{{employerInfo[serviceProviderJob.employer.role].score}}</span>
                          <app-score [score]='employerInfo[serviceProviderJob.employer.role].score'></app-score>
                          <small class="grey-text text-right"> ({{employerInfo[serviceProviderJob.employer.role].reviews}} 
                              <span *ngIf="employerInfo[serviceProviderJob.employer.role].reviews==1"> review</span>
                              <span *ngIf="employerInfo[serviceProviderJob.employer.role].reviews!=1"> reviews</span>)
                          </small>
                        </h4>
                      </div>
                    </div>
                  </div>
      
                  <div *ngIf="serviceProviderJob.status=='completed'" class="col-md-5 col-12 pt-3">
                    <div class="text-center">
                      <h4>Work finished on {{formatDateString(serviceProviderJob.culminationTS)}}</h4>
                      <p *ngIf="(userInfo.uid==employerInfo.uid && serviceProviderJob.employerProvidedFeedback) || (userInfo.uid==serviceProviderInfo.uid && serviceProviderJob.serviceProviderProvidedFeedback)" class="grey-text pt-2">
                        Feedback provided
                      </p>
                      <a *ngIf="(userInfo.uid==employerInfo.uid && !serviceProviderJob.employerProvidedFeedback) || (userInfo.uid==serviceProviderInfo.uid && !serviceProviderJob.serviceProviderProvidedFeedback)" 
                        mdbBtn color="info" rounded="true" mdbWavesEffect (click)="openProvideFeedbackModal()">
                        Provide feedback <i class="fas fa-magic ml-1" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <h4 class="font-weight-bold pt-5">Skills required</h4>
            <div *ngFor="let skill of serviceProviderJob.skillsRequired" class="chip purple mb-2 white-text">{{skill.name}}</div>

          </mdb-card-body>
        </mdb-card>
      </div>
    </div>


    <div class="row no-gutters justify-content-center pt-5">
        <div class="col-10">
            <mdb-card>
              <mdb-card-body>
                <h4 class="font-weight-bold pb-3">Service Provider Selected</h4>
                <div class="row">
                    <div class="col-md-10">
                        <div *ngIf="!usersLoaded" class="text-center py-2">
                          <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
                        </div>
              
                        <div *ngIf="usersLoaded" class="row">
                          <div class="col-md-2 col-12 text-center">
                            <img [src]="serviceProviderInfo.photo || './assets/noProfilePicture.png'" width="100px" class="avatar rounded-circle z-depth-1-half img-fluid"
                            style="cursor:pointer" (click)="viewProfile(serviceProviderInfo.uid, 'service provider')">
                          </div>
                          
                          <div class="col-md-5 col-12">
                            <div class="row">
                              <div class="col-md-auto col-12">
                                <h3 class="text-center text-capitalize"><span style="cursor:pointer" (click)="viewProfile(serviceProviderInfo.uid, 'service provider')">{{serviceProviderInfo.firstName}} {{serviceProviderInfo.lastName}} </span>
                                  <!-- <i mdbTooltip='Basic Member' class="fa fa-certificate indigo-text font-weight-bold" aria-hidden="true"></i> -->
                                  <i *ngIf="serviceProviderInfo.membership.pricingPlan=='free'" mdbTooltip='Free Member' class="fa fa-certificate grey-text font-weight-bold" aria-hidden="true"></i>
                                  <i *ngIf="serviceProviderInfo.membership.pricingPlan=='basic'" mdbTooltip='Basic Member' class="fa fa-certificate indigo-text font-weight-bold" aria-hidden="true"></i>
                                  <i *ngIf="serviceProviderInfo.membership.pricingPlan=='plus'" mdbTooltip='Plus Member' class="fa fa-certificate purple-text font-weight-bold" aria-hidden="true"></i>
                                  <i *ngIf="serviceProviderInfo.membership.pricingPlan=='professional'" mdbTooltip='Professional Member' class="fa fa-certificate cyan-text font-weight-bold" aria-hidden="true"></i>
                                  <i *ngIf="serviceProviderInfo.membership.pricingPlan=='enterprise'" mdbTooltip='Enterprise Member' class="fa fa-certificate text-warning font-weight-bold" aria-hidden="true"></i>
                                </h3>                  
                              </div>
                              <div class="col-12">
                                <h4 class="text-center text-md-left pb-2">
                                  <span class="badge badge-warning mr-1">{{serviceProviderInfo.serviceProvider.score}}</span>
                                  <app-score [score]='serviceProviderInfo.serviceProvider.score'></app-score>
                                  <small class="grey-text text-right"> ({{serviceProviderInfo.serviceProvider.reviews}} 
                                      <span *ngIf="serviceProviderInfo.serviceProvider.reviews==1"> review</span>
                                      <span *ngIf="serviceProviderInfo.serviceProvider.reviews!=1"> reviews</span>)
                                  </small>
                                </h4>
                              </div>
                            </div>
                          </div>
              
                          <div class="col-md-5 col-12 pt-3">
                            <div class="text-center">
                              <a mdbBtn color="success" rounded="true" outline="true" mdbWavesEffect (click)="chatComponent.openMessagesModal(openMessagesObj)">Open Chat</a>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <h4 class="font-weight-bold pt-5 pb-3">Milestones</h4>
                  
                  <mdb-card *ngIf="usersLoaded">
                    <mdb-card-body>
                      <div class="px-md-5" style="overflow: auto;">
                        <div *ngIf="serviceProviderJob.status=='ongoing' || serviceProviderJob.status=='completed'" class="text-right">
                          <button *ngIf="userInfo.uid==employerInfo.uid" mdbBtn size='sm' color="success" mdbWavesEffect (click)="openMilestonePaymentModal(null, true)">Send Payment</button>
                          <button *ngIf="userInfo.uid==employerInfo.uid" mdbBtn size='sm' color="warning" mdbWavesEffect (click)="openMilestonePaymentModal(null, false)">Create Milestone</button>
                          <button *ngIf="userInfo.uid==serviceProviderInfo.uid" mdbBtn size='sm' color="warning" mdbWavesEffect (click)="proposeMilestoneModal.show()">Propose Milestone</button>
                        </div>

                        <table *ngIf="milestones" mdbTable hover="true">
                          <thead>
                            <tr>
                              <th class="font-weight-bold">Amount</th>
                              <th class="font-weight-bold">Description</th>
                              <th class="font-weight-bold">Status</th>
                              <th class="font-weight-bold text-center">Actions</th>
                            </tr>
                          </thead>
                            <tbody>
                              <tr *ngFor="let milestone of milestones">
                                <td class="font-weight-bold">
                                  {{milestone.amount}} USD
                                  <span *ngIf="milestone.status=='created' || milestone.status=='released'"> 
                                    ({{milestone.currencyForPayment.amount}} {{milestone.currencyForPayment.currency}})
                                  </span>
                                </td>
                                <td class="font-weight-bold">{{milestone.details}}</td>
                                <td class="font-weight-bold" [ngClass]="{
                                  'text-warning': milestone.status=='proposed',
                                  'blue-text': milestone.status=='created',
                                  'green-text': milestone.status=='released',
                                  'red-text': milestone.status=='canceled'
                                  }">
                                  {{milestone.status.toUpperCase()}}
                                </td>
                                <td class="text-center">
                                    <button *ngIf="milestone.status=='proposed'" [disabled]='deletingProposedMilestone' 
                                       mdbBtn size='sm' color="danger" rounded="true" mdbWavesEffect (click)="deleteProposedMilestone(milestone)">
                                      <span *ngIf="userInfo.uid==employerInfo.uid">Reject</span>
                                      <span *ngIf="userInfo.uid==serviceProviderInfo.uid">Cancel</span>
                                    </button>
                                    <button *ngIf="milestone.status=='proposed' && userInfo.uid==employerInfo.uid" [disabled]='deletingProposedMilestone' 
                                      mdbBtn size='sm' color="success" rounded="true" mdbWavesEffect (click)="openMilestonePaymentModal(milestone, false)">
                                      Create
                                    </button>
                                    <button *ngIf="milestone.status=='created' && userInfo.uid==employerInfo.uid" 
                                      mdbBtn size='sm' color="success" rounded="true" mdbWavesEffect (click)="openMilestonePaymentModal(milestone, false)">
                                      Release
                                    </button>
                                    <button *ngIf="milestone.status=='created' && userInfo.uid==serviceProviderInfo.uid" 
                                      mdbBtn size='sm' color="danger" rounded="true" mdbWavesEffect (click)="openRejectionModal('cancelCreatedMilestone', milestone)">
                                      Cancel
                                    </button>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                        <div *ngIf="!milestones" class="text-center py-2">
                          <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
                        </div>
                        <div *ngIf="milestones && milestones.length==0" class="text-center pt-2 pb-3">
                          <strong>No milestones created</strong>
                        </div>

                        <hr class="my-0">
                        <h4 class="font-weight-bold pt-3">Total paid: {{serviceProviderJob.amountPaid}} USD</h4>
                      </div>
                    </mdb-card-body>
                  </mdb-card>
              </mdb-card-body>
            </mdb-card>
        </div>
    </div>

  </div>
</div>




<div mdbModal #rejectionModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>
      
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>
      
      <div class="modal-footer flex-center">
        <button type="button" [disabled]='rejectingAction' mdbBtn color="danger" outline="true" class="waves-effect"
          mdbWavesEffect (click)="rejectionAction()">
          <span *ngIf="!rejectingAction">Yes</span>
          <span *ngIf="rejectingAction">Canceling</span>
        </button>
        <button type="button" [disabled]='rejectingAction' mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="rejectionModal.hide()">No</button>
      </div>
    </div>
  </div>
</div>



<div mdbModal #proposeMilestoneModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
  aria-hidden="true" (closed)="milestoneProposalModalClosed()">
  <div class="modal-dialog modal-notify modal-info" role="document">
    
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Propose Milestone Payment</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="proposeMilestoneModal.hide()">
						<span aria-hidden="true" class="white-text">&times;</span>
					</button>
      </div>
      <form [formGroup]="milestoneForm" (ngSubmit)="proposeMilestone()">

        <div class="modal-body row justify-content-center">
          <div class="col-12 pt-3">
            <p class="font-weight-bold mb-0">Amount (USD)</p>
          </div>
          <div class="col-12 md-form mt-0">
              <input mdbInput mdbValidate type="number" class="form-control" formControlName="amount">
              <mdb-error *ngIf="milestoneForm.get('amount').invalid && (milestoneForm.get('amount').dirty || milestoneForm.get('amount').touched)">Amount must be greater than or equal to 5 USD</mdb-error>
              <mdb-success *ngIf="milestoneForm.get('amount').valid && (milestoneForm.get('amount').dirty || milestoneForm.get('amount').touched)"></mdb-success>
          </div>

          <div class="col-12 pt-3">
            <p class="font-weight-bold mb-0">Description</p>
          </div>
          <div class="col-12 md-form mt-0">
            <input mdbInput mdbValidate type="text" class="form-control" formControlName="details" length='50' mdbCharCounter>
            <mdb-error *ngIf="milestoneForm.get('details').invalid && (milestoneForm.get('details').dirty || milestoneForm.get('details').touched)"></mdb-error>
            <mdb-success *ngIf="milestoneForm.get('details').valid && (milestoneForm.get('details').dirty || milestoneForm.get('details').touched)"></mdb-success>
          </div>
        </div>
      
        <div class="modal-footer flex-center">
          <button type="button" [disabled]='proposingMilestone' mdbBtn color="info" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="proposeMilestoneModal.hide()">Cancel</button>
          <button type="submit" [disabled]='proposingMilestone' mdbBtn color="info" class="waves-effect" mdbWavesEffect>
            <span *ngIf="!proposingMilestone">Propose</span>
            <span *ngIf="proposingMilestone">Proposing</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>



<div mdbModal #milestonePaymentModal="mdbModal" (closed)="milestonePaymentModalClosed()" style="overflow: auto;" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <p class="heading text-capitalize">
                <span *ngIf="isDirectPayment">Send Payment</span>
                <span *ngIf="isReleaseMilestone">Release Milestone Payment</span>
                <span *ngIf="!isDirectPayment && !isReleaseMilestone">Create Milestone Payment</span>
                
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="milestonePaymentModal.hide()">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
          </div>

          <form [formGroup]="milestoneForm" (ngSubmit)="milestonePayment()">
            <div class="modal-body row justify-content-center">
              <div class="col-12 pt-3">
                <p class="font-weight-bold mb-0">Amount (USD)</p>
              </div>
              <div class="col-12 md-form mt-0">
                  <input mdbInput mdbValidate type="number" class="form-control" formControlName="amount">
                  <mdb-error *ngIf="!milestoneSelected && milestoneForm.get('amount').invalid && (milestoneForm.get('amount').dirty || milestoneForm.get('amount').touched)">Amount must be greater than or equal to 5 USD</mdb-error>
                  <mdb-success *ngIf="!milestoneSelected && milestoneForm.get('amount').valid && (milestoneForm.get('amount').dirty || milestoneForm.get('amount').touched)"></mdb-success>
              </div>

              <div class="col-12 pt-3">
                <p class="font-weight-bold mb-0">Description</p>
              </div>
              <div class="col-12 md-form mt-0">
                <input mdbInput mdbValidate type="text" class="form-control" formControlName="details" length='50' mdbCharCounter>
                <mdb-error *ngIf="!milestoneSelected && milestoneForm.get('details').invalid && (milestoneForm.get('details').dirty || milestoneForm.get('details').touched)"></mdb-error>
                <mdb-success *ngIf="!milestoneSelected && milestoneForm.get('details').valid && (milestoneForm.get('details').dirty || milestoneForm.get('details').touched)"></mdb-success>
              </div>

              <div class="col-12">
                <h5 *ngIf="!currencySelected" class="text-center">Select Payment Method</h5>
                <h5 *ngIf="currencySelected && !currencyPriceToPay && !isReleaseMilestone" class="text-center">Loading...</h5>
                <h5 *ngIf="currencySelected && (currencyPriceToPay || isReleaseMilestone) && milestoneForm.get('amount').value>0" class="text-center">
                  Amount in {{currencySelected.name}}:
                  <strong> {{isReleaseMilestone? milestoneSelected.currencyForPayment.amount : newBigNumber(milestoneForm.get('amount').value).div(currencyPriceToPay).decimalPlaces(8).toString(10)}} {{currencySelected.currency}}</strong>
                </h5>
              </div>
              
              <div *ngIf="!currencies" class="pt-3 text-center">
                  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
              </div>

              <div class="col-12">
                <div *ngIf="currencies" class="row justify-content-center">
                  <div *ngFor="let item of currencies" class="col-6 col-sm-4 col-lg-auto pt-3" (click)="selectCurrency(item)" style="cursor:pointer" >
                    <mdb-card [ngClass]="{'border': currencySelected && currencySelected.currency==item.currency, 'border-warning': currencySelected && currencySelected.currency==item.currency }">
                      <mdb-card-body>
                        <img [src]='"./assets/coins/" + item.currency + ".png"' class="img-fluid">
                      </mdb-card-body>
                    </mdb-card>
                  </div>
                </div>
              </div>

              <div *ngIf="!isReleaseMilestone" class="col-12">
                <p *ngIf="currencySelected && userInfo" class="text-center font-weight-bold pt-3">
                  Your balance: 
                  <span *ngIf="!userInfo.balances[currencySelected.currency]">0</span>
                  <span *ngIf="userInfo.balances[currencySelected.currency]">{{formatBalance(userInfo.balances[currencySelected.currency].available)}}</span>
                  {{currencySelected.currency}}
                </p>
              </div>
            </div>


            <div class="modal-footer justify-content-center">
              <button type="button" [disabled]='payingMilestone' mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="milestonePaymentModal.hide()">
                Cancel
              </button>
              <button type="submit" [disabled]='!currencySelected || !currencies || (!currencyPriceToPay && !isReleaseMilestone) || payingMilestone' 
                mdbBtn color="success" class="waves-effect" mdbWavesEffect>
                <span *ngIf="!payingMilestone">
                    <span *ngIf="isDirectPayment">Send</span>
                    <span *ngIf="isReleaseMilestone">Release</span>
                    <span *ngIf="!isDirectPayment && !isReleaseMilestone">Create</span>
                </span>
                <span *ngIf="payingMilestone">
                    <span *ngIf="isDirectPayment">Sending</span>
                    <span *ngIf="isReleaseMilestone">Releasing</span>
                    <span *ngIf="!isDirectPayment && !isReleaseMilestone">Creating</span>
                </span>
              </button>
            </div>
          </form>
      </div>
  </div>

</div>



<div mdbModal #provideFeedbackModal="mdbModal" (closed)='provideFeedbackModalClosed()' style="overflow: auto;" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
      <div class="modal-content text-center">

        <div *ngIf="usersLoaded" class="modal-header d-flex justify-content-center">
          <p class="heading">Provide feedback for
            <span *ngIf="userInfo.uid==employerInfo.uid" class="text-capitalize"> {{serviceProviderInfo.firstName}} {{serviceProviderInfo.lastName}}</span>
            <span *ngIf="userInfo.uid==serviceProviderInfo.uid" class="text-capitalize"> {{employerInfo.firstName}} {{employerInfo.lastName}}</span>
          </p>
        </div>

        <form [formGroup]="provideFeedbackForm" (ngSubmit)="provideFeedBack()">
            <div *ngIf="usersLoaded" class="modal-body">

              <div class="text-center">
                <img *ngIf="userInfo.uid==employerInfo.uid" [src]="serviceProviderInfo.photo || './assets/noProfilePicture.png'" height="120px" class="avatar rounded-circle z-depth-1-half">
                <img *ngIf="userInfo.uid==serviceProviderInfo.uid" [src]="employerInfo.photo || './assets/noProfilePicture.png'" height="120px" class="avatar rounded-circle z-depth-1-half">
                <h4 class="pt-3">How was your experience?</h4>
              </div>


              <div class="row">
                  <div *ngIf="userInfo.uid==employerInfo.uid" class="col-12 md-form mb-0">
                    <p class="font-weight-bold">
                      How was the Quality of Work?
                    </p>
                    <h4 style="cursor: pointer;">
                      <app-score [score]="provideFeedbackForm.get('qualityOfWork').value" (selectedScore)='selectScore($event, "qualityOfWork")'></app-score>
                    </h4>
                  </div>

                  <div *ngIf="userInfo.uid==employerInfo.uid" class="col-12 md-form mb-0">
                    <p class="font-weight-bold">
                      How fast was the Completion of Work?
                    </p>
                    <h4 style="cursor: pointer;">
                      <app-score [score]="provideFeedbackForm.get('finishedOnTime').value" (selectedScore)='selectScore($event, "finishedOnTime")'></app-score>
                    </h4>
                  </div>

                  <div *ngIf="userInfo.uid==serviceProviderInfo.uid" class="col-12 md-form mb-0">
                    <p class="font-weight-bold">
                      How fast the Payment Promptness?
                    </p>
                    <h4 style="cursor: pointer;">
                      <app-score [score]="provideFeedbackForm.get('paymentPromptness').value" (selectedScore)='selectScore($event, "paymentPromptness")'></app-score>
                    </h4>
                  </div>

                  <div class="col-12 md-form">
                      <p class="font-weight-bold">
                        How would you rate
                        <span *ngIf="userInfo.uid==employerInfo.uid" class="text-capitalize"> {{serviceProviderInfo.firstName}} {{serviceProviderInfo.lastName}} </span>
                        <span *ngIf="userInfo.uid==serviceProviderInfo.uid" class="text-capitalize"> {{employerInfo.firstName}} {{employerInfo.lastName}} </span>
                         as 
                        <span *ngIf="userInfo.uid==employerInfo.uid">Service Provider</span>
                        <span *ngIf="userInfo.uid==serviceProviderInfo.uid">Employer</span>
                      </p>
                      <h4 style="cursor: pointer;">
                        <app-score [score]="provideFeedbackForm.get('score').value" (selectedScore)='selectScore($event, "score")'></app-score>
                      </h4>
                  </div>

                  <div class="col-12">
                      <p class="font-weight-bold">Write review</p>
                  </div>
                  <div class="col-12 md-form mt-0">
                    <textarea mdbInput mdbValidate formControlName="review" type="text" length="200" mdbCharCounter id="form8" class="form-control md-textarea md-textarea-auto" rows="3"></textarea>
                    <label for="form8" class="pl-3">Review (Optional)</label>
                    <mdb-error *ngIf="provideFeedbackForm.get('review').invalid && (provideFeedbackForm.get('review').dirty || provideFeedbackForm.get('review').touched)"></mdb-error>
                    <mdb-success *ngIf="provideFeedbackForm.get('review').valid && (provideFeedbackForm.get('review').dirty || provideFeedbackForm.get('review').touched)"></mdb-success>
                  </div>
              </div>

            </div>


            <div class="modal-footer flex-center">
              <button type="button" [disabled]="providingFeedback" mdbBtn color="success" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="provideFeedbackModal.hide()">Cancel</button>
              <button type="submit" [disabled]="providingFeedback" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect>
                <span *ngIf="!providingFeedback">Submit</span>
                <span *ngIf="providingFeedback">Submitting</span>
              </button>
            </div>
        </form>

      </div>  
  </div>
</div>


<app-chat #chatComponent [userInfo]='userInfo' [serviceProviderJob]='serviceProviderJob'></app-chat>