<div class="pt-5 pb-4">
	<div class="info-color pt-4 pb-1 font-weight-bold z-depth-1 white-text">
			<div class="row no-gutters justify-content-center">
        <div class="col-12 col-md text-center">
            <h3 class="h3-responsive pt-2 text-capitalize">Edit Property</h3>
        </div>
			</div>
	</div>
</div>


<div *ngIf="!myProperty || !(userInfo$ | async)" class="text-center">
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>


<div [hidden]='!myProperty || !(userInfo$ | async)'class="row no-gutters justify-content-center pb-4">


  <div class="col col-md-8">
    <form [formGroup]="itemForm">
      <div class="row no-gutters justify-content-center pb-4">


        <div class="col-12 pb-2 md-form">
          <i class="fa fa-home prefix grey-text"></i>
          <input type="text" length="50" mdbCharCounter id="form-propertyName" class="form-control" formControlName="name" successMessage=" " errorMessage=' ' required mdbInputDirective>
          <label for="form-propertyName">Property Name</label>
        </div>

        <div class="col-12 col-md-8 md-form">
          <i class="fa fa-address-book prefix grey-text"></i>
          <input #search type="text" id="form-address" class="form-control" formControlName="address" successMessage=" " errorMessage=' ' required mdbInputDirective placeholder="Address">
        </div>

        <div class="col-12 col-md-4 md-form">
          <i class="fa fa-address-book prefix grey-text"></i>
          <input type="text" id="form-unit" class="form-control" formControlName="unit" successMessage=" " errorMessage='This field is required' mdbInputDirective>
          <label for="form-unit">Unit# (Optional)</label>
        </div>

        <div class="col-12 col-md-4 px-1 text-center">
          <label class="font-weight-bold">Type</label>
          <mdb-select [options]="propertyOptions" formControlName="type" placeholder="Select" class="colorful-select dropdown-default border border-primary"></mdb-select>
        </div>


        <h1 class="col-12 text-center pt-5">Add a nice picture</h1>
        <div formArrayName="photos">
          <div class="row justify-content-center no-gutters py-3">
              <div *ngFor="let photo of photos.controls; let i=index">
                <div class="col-12">
                  <label class="label" [mdbTooltip]="(imageCropped.localURL[i])? '' : 'Add a photo'" style="cursor: pointer;">
                    <img [src]='imageCropped.localURL[i] || addPhotoLogoURL' alt="" style="width: 220px; height: 220px;"  class="img-fluid zoom"><!--  style="width: 90%" -->
                    <input [disabled]="imageCropped.localURL[i]" type="file" class="sr-only" accept="image/*" (change)="addPhoto($event, i)">
                  </label>
                  <div *ngIf="imageCropped.uploading[i]">
                    <mdb-progress [value]="imageCropped.uploadFilePercentage[i]" min="0" max="100" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></mdb-progress>
                  </div>
                  <div *ngIf="photo.value" class="text-center">
                    <button [disabled]="photosUploading || photosDeleting" type="button" mdbBtn color="danger" outline="true" mdbWavesEffect (click)="deletePhoto(i)" >
                      <span *ngIf="!imageCropped.deleting[i]">Delete</span>
                      <span *ngIf="imageCropped.deleting[i]">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
                        Deleting
                      </span>
                    </button>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <!-- <div class="col-12">
          <h1 class="text-center pb-3">Type of Rental Agreement</h1>
          <div class="form-check pb-2">
            <input type="radio" class="form-check-input" id="radioID1" formControlName="typeOfContract" value="traditional contract" mdbInputDirective [mdbValidate]='false'>
            <label class="form-check-label" for="radioID1"><h4 class="font-weight-bold">Traditional Contract</h4></label>
          </div>							
          <div class="form-check">
            <input type="radio" class="form-check-input" id="radioID2" formControlName="typeOfContract" value="ethereum smart contract" mdbInputDirective [mdbValidate]='false'>
            <label class="form-check-label" for="radioID2"><h4 class="font-weight-bold">Ethereum Smart Contract</h4></label>
          </div>
        </div> -->


      </div>


      <div class="text-center pt-5">
        <button type="button" mdbBtn color="success" size="lg" [disabled]="!itemForm.valid || submiting || photosUploading || photosDeleting" mdbWavesEffect (click)="onSubmit()">
            <span *ngIf="!submiting">Save</span>
            <span *ngIf="submiting">
							<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Saving...
						</span>
        </button>
      </div>

    </form>
  </div>



  
</div>






<div mdbModal #cropImageModal="mdbModal" style="overflow: auto;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" (opened)="onShown()" (closed)="onHidden()">
  <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead" id="myModalLabel">Crop the image</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cropImageModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      	<div class="img-container">
				  <img #imageToCrop src=''>
				</div>

      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="cropImageModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="uploadNewPhoto()" mdbWavesEffect>Save changes</button>
      </div>
    </div>
  </div>
</div>