<div *ngIf="!agreement || !userInfo" class="text-center py-5 mt-5">
    <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>



<div *ngIf="agreement && userInfo" class="py-5 mt-5">
    <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-4'" [contentClass]="'card'">

        <mdb-tab heading="General" (select)="panelShown(1)">
            <app-general #general
            [agreement]='agreement'
            [userInfo]='userInfo'
            [selectedPanel]='selectedPanel'
            [staticTabs]='staticTabs'>
            </app-general>
        </mdb-tab>
        
        <mdb-tab heading="ESigned documents" (select)="panelShown(2)">
            <app-esigned-docs
            [agreement]='agreement'
            [userInfo]='userInfo'
            [selectedPanel]='selectedPanel'
            [staticTabs]='staticTabs'
            [realEstateAgent]='general.realEstateAgent'
            [landlord]='general.landlord'>
            </app-esigned-docs>
        </mdb-tab>

        <mdb-tab heading="Smart contract" (select)="panelShown(3)">
            <app-smart-contract
            [agreement]='agreement'
            [userInfo]='userInfo'
            [selectedPanel]='selectedPanel'
            [realEstateAgent]='general.realEstateAgent'
            [landlord]='general.landlord'>
            </app-smart-contract>
        </mdb-tab>
        
        <mdb-tab heading="Settings" (select)="panelShown(4)">
            <app-settings
            [agreement]='agreement'
            [selectedPanel]='selectedPanel'
            [userInfo]='userInfo'>
            </app-settings>
        </mdb-tab>

    </mdb-tabset>
</div>