
<div *ngIf='status==0' class="row no-gutters justify-content-center animated fadeIn pb-2">
  <div class="col col-sm-8 col-lg-4">

      <div class="card card-cascade">

          <div class="view view-cascade gradient-card-header light-blue darken-4">
              <h2 class="h2-responsive mb-2">Create an account</h2>

          </div>
          <mdb-progress-bar *ngIf="submiting" class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
          <div class="card-body">
            <form [formGroup]="itemForm" (ngSubmit)="createAccount()">
              <div class="text-center font-weight-bold border border-primary">
                  <mdb-select [options]="roleOptions" formControlName="role" placeholder="Select"  class="colorful-select dropdown-default"></mdb-select>
              </div>
              <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-name" class="form-control" required
                 formControlName="firstName" successMessage=" " errorMessage='This field is required' mdbInputDirective>
                <label for="orangeForm-name">First name</label>
              </div>

              <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-name2" class="form-control" required
                  formControlName="lastName" successMessage=" " errorMessage='This field is required' mdbInputDirective>
                <label for="orangeForm-name2">Last name</label>
              </div>

              <div class="pb-2 md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="text" id="orangeForm-email" class="form-control" required
                  formControlName="email" successMessage=" " [errorMessage]="emailErrorMessage()" mdbInputDirective>
                <label for="orangeForm-email">Email</label>
              </div>

              <div *ngIf="itemForm.get('role').value && role=='real estate agent'" class="pb-2 md-form">
                <i class="fa fa-suitcase prefix grey-text"></i>
                <input type="text" id="orangeForm-brokerage" class="form-control"
                  formControlName="brokerage" successMessage=" " errorMessage='This field is required'  mdbInputDirective>
                <label for="orangeForm-brokerage">Brokerage (Optional)</label>
              </div>

              <div *ngIf="itemForm.get('role').value && role=='real estate agent'" class="pb-2 md-form">
                <i class="fa fa-drivers-license prefix grey-text"></i>
                <input type="text" id="orangeForm-licence" class="form-control"
                  formControlName="licenceNo" successMessage=" " errorMessage='This field is required' mdbInputDirective>
                <label for="orangeForm-licence">Licence No. (Optional)</label>
              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" class="form-control" required #password
                     formControlName="password" successMessage=" " [errorMessage]="passwordErrorMessage()" mdbInputDirective>
                <label for="orangeForm-pass">Password</label>
              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass2" class="form-control" required #repeatPassword
                     formControlName="repeatPassword" name="passwordRepeat" successMessage=" " [errorMessage]="repeatPasswordErrorMessage()" mdbInputDirective>
                <label for="orangeForm-pass2">Repeat password</label>
              </div>

              <div class="md-form">                    
                <div class="row justify-content-center">
                  <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" 
                      [site_key]="recapchaKey"
                      language="en">                        
                  </re-captcha>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" [disabled]="!itemForm.valid || submiting || !captchaProcessed" class="btn btn-default waves-light" mdbWavesEffect >
                    <span *ngIf="!submiting">Create new account</span>
                    <span *ngIf="submiting">Creating account</span>
                </button>
              </div>

              <div class="modal-footer">
                <div class="options">
                    <p>Already have an account? <a [routerLink]="['/account/login']">Login</a></p>
                    <p><a [routerLink]="['/account/forgot-your-password']">Forgot your password?</a></p>
                </div>
              </div>
            </form>
          </div>

      </div>

  </div>

</div>


<div *ngIf='status==1' class="animated fadeIn">
  <div class="row no-gutters mt-5 pt-5 justify-content-md-center">
    <div class="col col-md-4">
      <div class="card card-cascade">
        <div class="view view-cascade gradient-card-header info-color-dark">
          <h2 class="h2-responsive mb-2">            
             Please, check your email.            
          </h2>
        </div>
      <div class="card-body">
        <h3 class="text-center">
          We've sent you an email verification link.
        </h3>
        <button type="button" class="col btn btn-info waves-light" mdbWavesEffect [routerLink]="['/account/resend-email-verification-code']">
          Resend email verification link.
        </button>   
      </div>
    </div>
  </div>
  </div>
</div>
