<div class="pt-5">
    <section class="view intro-2 rgba-gradient">
        <div class="full-bg-img mask">
            <div class="container flex-center">
                 <div class="row no-gutters flex-center pt-2 pt-md-5 mt-3">
                  <div class="col-12">
                    <h1 class="h1 h1-responsive text-center white-text blinkText">Launching Soon</h1>
                    <h1 class="h1 h1-responsive text-center white-text blinkText">Free Registration for first 100 Landlords and Agents</h1> 
                  </div>
                    <div class="col-md-6 text-center text-md-left margins">
                        <div class="white-text">
                            <h2 class="h1 h1-responsive wow fadeInLeft" data-wow-delay="0.3s">Manage descentralized rental agreements easily with our app</h2>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Let your Residential Lease Agreement be managed by an Ethereum Smart Contract created by the Tenant and approved by the Landlord.</h6>
                            <br>
                            <a class="btn btn-outline-white wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect [routerLink]="['/account/create']">Create an account</a>
                            <a class="btn btn-outline-white wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect [routerLink]="['/account/login']">Log in 
                              <i class="fa fa-sign-in left right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
                        <img src="./assets/contract1.png" style="width: 85%; height: 85%" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




<div class="row no-gutters justify-content-center rgba-teal-strong white-text pt-5">    
    <h2 class="h1 font-weight-bold text-center mb-5 pt-4 col-12">What is {{app.name}}?</h2>
    <h5 class="text-center h5-responsive mb-5 pb-3 col-md-8 col-10">{{app.name}} is a blockchain based platform which enables Landlord to list properties for rent, successively create an easy, securely and safely Smart Contract and then deploy it to the public Ethereum Network, which will only work once both Parties have signed the agreement with their blockchain private keys. Also, Service Providers are allowed to sign up.</h5>
</div>



<div class="">
  
  <div class="container pb-5 pt-5">
    <section class="text-center">

        <h2 class="h1 font-weight-bold">Why is {{app.name}} so great?</h2>
        <div class="row no-gutters flex-center mt-3">
          <div class="d-flex justify-content-center">
              <img src="./assets/contract3.png" alt="" class="img-fluid">
          </div>
        </div>
        <p class="px-5 mb-5 pb-3 lead grey-text">Built with blockchain Technology and Smart Contracts, which makes it the most transparent process possible and fosters trust between the parties.</p>

        <div class="row no-gutters">
            <div class="col-md-4">
                <i class="fa fa-bank fa-3x red-text"></i>
                <h5 class="font-weight-bold mt-3">Safety</h5>
                <p class="grey-text">All the activities and transactions are saved and publicly visible on the Ethereum Network.</p>
            </div>

            <div class="col-md-4">
                <i class="fa fa-code fa-3x cyan-text"></i>
                <h5 class="font-weight-bold mt-3">Technology</h5>
                <p class="grey-text">Rental Agreement created within minutes. All of its clasuses are saved on the Ethereum Blockchain.</p>
            </div>

            <div class="col-md-4">
                <i class="fa fa-money fa-3x orange-text"></i>
                <h5 class="font-weight-bold mt-3">Finance</h5>
                <p class="grey-text">There's no need to deposit the payment to a bank account anymore. A Smart Contract created by the Tenant and Approved by the Landlord will hold it for you.</p>
            </div>
        </div>
    </section>
  </div>
  <hr class="mb-5 mt-5 pb-3">
</div>


<div class="">

  <section class="py-4 text-center text-lg-left">

    <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-3'" [contentClass]="'card'">
        
        <mdb-tab heading="For Tenants">
            <div class="row no-gutters">
                <div class="col-12">
                  <br>
                  <div class="row">
                      <div class="col-lg-5 col-xl-5">
                          <div class="overlay rounded waves-light" mdbWavesEffect>
                              <img src="./assets/property2.jpg" class="img-fluid">
                              <a>
                                  <div class="mask rgba-white-slight"></div>
                              </a>
                          </div>
                      </div>
                      <div class="col-lg-7 col-xl-7">
                          <a class="green-text">
                              <h6 class="font-weight-bold pb-1">
                                <i class="fa fa-home"></i> Property
                              </h6>
                          </a>
                          <h3 class="mb-4 font-weight-bold dark-grey-text">
                              <strong>Know all the property details before applying</strong>
                          </h3>
                          <p>Know the property you want to rent, the amenities it offers, price, rules and more.</p>
                      </div>
                  </div>
                  <hr class="mb-5 mt-5 pb-3">
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-12">
                  <br>
                  <div class="row">
                    <div class="col-lg-7 col-xl-7 pb-3">
                        <a class="pink-text">
                            <h6 class="font-weight-bold pb-1">
                              <i class="fa fa-chain"></i> Signature
                            </h6>
                        </a>
                        <h3 class="mb-4 font-weight-bold dark-grey-text">
                            <strong>Blockchain Signature </strong>
                        </h3>
                        <p>Sign the Residential Lease Agreement with your blockchain private key. The Signature will be publicly visible and immutable in the Ethereum Network.</p>
                    </div>
                    <div class="col-lg-5 col-xl-5 mb-5">
                        <div class="overlay rounded waves-light" mdbWavesEffect>
                            <img src="./assets/keyman1.jpg" class="img-fluid">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                  </div>
                  <hr class="mb-5 mt-4">
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-12">
                  <br>
                  <div class="row pb-5">
                      <div class="col-lg-5 col-xl-5 pb-3">
                          <div class="overlay rounded waves-light" mdbWavesEffect>
                              <img src="./assets/contract2.png" class="img-fluid">
                              <a>
                                  <div class="mask rgba-white-slight"></div>
                              </a>
                          </div>
                      </div>
                      <div class="col-lg-7 col-xl-7">
                          <a class="indigo-text">
                            <h6 class="font-weight-bold pb-1">
                              <i class="fa fa-file"></i> Smart Contract
                            </h6>
                          </a>
                          <h3 class="mb-4 font-weight-bold dark-grey-text">
                              <strong>The answer: Smart Contracts!</strong>
                          </h3>
                          <p><strong>Clauses:</strong> The clauses are written in the Smart Contract, which are publicly visible and immutable in the Ethereum Network and displayed as a document on the platform for both parties.</p>
                          <p><strong>Escrow account:</strong> Deposit the rent payment to the Smart Contract escrow Account, this one will lock the payment once a maintenance request is submited. There's no need to appeal to a bank.</p>
                          <p><strong>Rental agreement activity processing:</strong> The contract will process all the rental agreement activities, such as: maintenance request, dispute mediation and arbitration and payment deposits. All the actions taken can be read on the Ethereum network and on the platform in a user-friendly way for both parties.</p>
                      </div>
                  </div>
                </div>
            </div>
        </mdb-tab>
        
        <mdb-tab heading="For Landlords">
            <div class="row no-gutters">
                <div class="col-12">
                  <br>
                  <div class="row">
                      <div class="col-lg-5 col-xl-5">
                          <div class="overlay z-depth-2 rounded waves-light" mdbWavesEffect>
                              <img src="../assets/property1.jpg" class="img-fluid">
                              <a>
                                  <div class="mask rgba-white-slight"></div>
                              </a>
                          </div>
                      </div>
                      <div class="col-lg-7 col-xl-7">
                          <a class="green-text">
                            <h6 class="font-weight-bold pb-1">
                              <i class="fa fa-home"></i> Property
                            </h6>
                          </a>
                          <h3 class="mb-4 font-weight-bold dark-grey-text">
                              <strong>Add Property</strong>
                          </h3>
                          <p>Tell us about your property. Set your guide price, select amenities, add a brief description and add beautiful pictures of it.</p>
                      </div>
                  </div>
                  <hr class="mb-5 mt-5 pb-3">
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-12">
                  <br>
                  <div class="row">
                    <div class="col-lg-7 col-xl-7 pb-3">
                        <a class="pink-text">
                          <h6 class="font-weight-bold pb-1">
                            <i class="fa fa-chain"></i> Signature
                          </h6>
                        </a>
                        <h3 class="mb-4 font-weight-bold dark-grey-text">
                            <strong>Blockchain Signature </strong>
                        </h3>
                        <p>Sign the Residential Lease Agreement with your blockchain private key. The Signature will be publicly visible and immutable in the Ethereum Network.</p>
                    </div>
                    <div class="col-lg-5 col-xl-5 mb-5">
                        <div class="overlay rounded waves-light" mdbWavesEffect>
                            <img src="./assets/keyman2.jpg" class="img-fluid">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                  </div>
                  <hr class="mb-5 mt-4">
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-12">
                  <br>
                  <div class="row pb-5">
                      <div class="col-lg-5 col-xl-5 pb-3">
                          <div class="overlay rounded waves-light" mdbWavesEffect>
                              <img src="./assets/contract4.PNG" class="img-fluid">
                              <a>
                                  <div class="mask rgba-white-slight"></div>
                              </a>
                          </div>
                      </div>
                      <div class="col-lg-7 col-xl-7">
                          <a class="indigo-text">
                              <h6 class="font-weight-bold pb-1">
                              <i class="fa fa-file"></i> Smart Contract</h6>
                          </a>
                          <h3 class="mb-4 font-weight-bold dark-grey-text">
                              <strong>The answer: Smart Contracts!</strong>
                          </h3>
                          <p><strong>Clauses:</strong> The clauses are written in the Smart Contract, which are publicly visible and immutable in the Ethereum Network and displayed as a document on the platform for both parties.</p>
                          <p><strong>Escrow account:</strong> Withdraw the rent payment from the Smart Contract escrow Account, this one will lock the payment once a maintenance request is submited by the Tenant. There's no need to appeal to a bank.</p>
                          <p><strong>Rental agreement activity processing:</strong> The contract will process all the rental agreement activities, such as: withdrawl request, dispute mediation and arbitration and rent increase. All the actions taken can be read on the Ethereum network and on the platform in a user-friendly way for both parties.</p>
                      </div>
                  </div>
                </div>
            </div>

        </mdb-tab>

        <mdb-tab heading="For Service Providers">
            <div class="row no-gutters">
                <div class="col-12">
                  <br>
                  <div class="row">
                      <div class="col-lg-5 col-xl-5">
                          <div class="overlay rounded waves-light text-center" mdbWavesEffect>
                              <img src="./assets/service1.jpg" class="img-fluid">
                              <a>
                                  <div class="mask rgba-white-slight"></div>
                              </a>
                          </div>
                      </div>
                      <div class="col-lg-7 col-xl-7">
                          <a class="green-text">
                              <h6 class="font-weight-bold pb-1">
                                <i class="fa fa-wrench"></i> Services
                              </h6>
                          </a>
                          <h3 class="mb-4 font-weight-bold dark-grey-text">
                              <strong>List services</strong>
                          </h3>
                          <p>List the services you offer and get hired by a Landlord.</p>
                      </div>
                  </div>
                  <hr class="mb-5 mt-5 pb-3">
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-12">
                  <br>
                  <div class="row">
                    <div class="col-lg-7 col-xl-7 pb-3">
                        <a class="pink-text">
                            <h6 class="font-weight-bold pb-1">
                              <i class="fa fa-star"></i> Score
                            </h6>
                        </a>
                        <h3 class="mb-4 font-weight-bold dark-grey-text">
                            <strong>Get a score</strong>
                        </h3>
                        <p>Get a great score for your services so your service ad can reach more Landlords.</p>
                    </div>
                    <div class="col-lg-5 col-xl-5 mb-5">
                        <div class="overlay rounded waves-light" mdbWavesEffect>
                            <img src="./assets/service2.jpg" class="img-fluid">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                  </div>
                  <hr class="mb-5 mt-4">
                </div>
            </div>

        </mdb-tab>
    </mdb-tabset>


  </section>

</div>

