<div class="py-5 mt-2">
  <div class="info-color pt-4 pb-2 font-weight-bold z-depth-1 white-text">
      <div class="row no-gutters justify-content-center">
          <div class="col text-center">
              <h3 class="h3-responsive">
                My Service Providers jobs
              </h3>
          </div>
      </div>
  </div>
</div>


<div class="px-md-5">

  <div *ngIf="!(userInfo$ | async)" class="text-center">
    <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
  </div>

  <mdb-card *ngIf="userInfo$ | async as userInfo">
      <div class="table-responsive no-gutters">
        <table *ngIf="serviceProviderJobs" mdbTable hover="true">
          <thead class="unique-color white-text z-depth-2">
            <tr mdbTableCol>
              <th>Date</th>
              <th>Job name</th>
              <th *ngIf="userInfo.role=='service provider'">Employer</th>
              <th *ngIf="userInfo.role=='tenant' || userInfo.role=='landlord'">Service Provider</th>
              <th>Price</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let serviceProviderJob of serviceProviderJobs" mdbTableCol style="cursor: pointer;" [routerLink]="['/my-service-providers-jobs', serviceProviderJob.id]">
                <td>{{formatDate(serviceProviderJob.creationTS)}}</td>
                <td class="text-truncate">{{serviceProviderJob.name}}</td>
                <td *ngIf="userInfo.role=='service provider'" class="text-capitalize">{{serviceProviderJob.employer.firstName}} {{serviceProviderJob.employer.lastName}}</td>
                <td *ngIf="userInfo.role=='tenant' || userInfo.role=='landlord'" class="text-capitalize">{{serviceProviderJob.serviceProvider.firstName}} {{serviceProviderJob.serviceProvider.lastName}}</td>
                <td>{{serviceProviderJob.price}} USD</td>
                <td>
                  <span class="font-weight-bold" [ngClass]="{
                    'orange-text': serviceProviderJob.status=='wating for acceptance',
                    'red-text': serviceProviderJob.status=='canceled',
                    'blue-text': serviceProviderJob.status=='ongoing',
                    'green-text': serviceProviderJob.status=='completed'
                    }">
                    {{serviceProviderJob.status.toUpperCase()}}
                  </span>
                </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="!serviceProviderJobs" class="text-center">
          <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
        </div>

        <div *ngIf="serviceProviderJobs && serviceProviderJobs.length==0" class="text-center pt-4 pb-3">
          <h3><strong>No Job found</strong></h3>
        </div>

      </div>
  </mdb-card>
</div>