<div *ngIf="!userInfo" class="pt-5"></div>
<div *ngIf="!userInfo" class="pt-5 pb-5 mt-5 text-center">
	<mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>


<div *ngIf="userInfo" class="pt-4 pt-md-5 mt-1 mt-md-0 pb-4">
	<div  class="info-color pt-4 pb-1 font-weight-bold z-depth-1 white-text">
			<div class="row no-gutters justify-content-center">
					<div class="col text-center">
							<h3 class="h3-responsive pt-3 text-capitalize">
									{{userInfo.firstName}}'s profile
							</h3>
					</div>
					<div *ngIf="authenticated && isMyProfile" class="col-md-2 text-center ml-md-auto">
						<a mdbBtn (click)="editProfile()">
							<i *ngIf="!editing.profile" class="fa fa-pencil" aria-hidden="true"></i>
							<i *ngIf="editing.profile" class="fa fa-user" aria-hidden="true" ></i>
							<span *ngIf="!editing.profile"> Edit</span>
							<span *ngIf="editing.profile"> View Profile</span>
						</a>
					</div>
			</div>
	</div>
</div>

<div *ngIf="userInfo" class="mx-md-5">


	<div class="row mx-md-5 no-gutters pb-3">

		<div class="col-md-9">
			<div *ngIf="!profileInfo" class="text-center">
				<mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
			</div>
		    <div *ngIf="profileInfo" class="row no-gutters">
		        
		        <div class="col-12 col-sm-3 text-center pr-md-3">
		        	<div class="row no-gutters">
		        		<div class="col-12">
		        			<label class="label text-center" [ngStyle]="{'cursor':editing.profile? 'pointer':''}" mdbTooltip='Edit profile picture' triggers="" #popToolTip="mdb-tooltip">
			            	<img [src]='userInfo.photo || defaultFields.photo' class="img-fluid rounded-circle z-depth-2">
			            	<input *ngIf="editing.profile" type="file" class="sr-only" accept="image/*" (change)="editProfilePicture($event)">
		            	</label>
		            	<div *ngIf="imageCropped.uploading">
			          		<mdb-progress [value]="imageCropped.uploadFilePercentage" min="0" max="100" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></mdb-progress>
			          	</div>
		            </div>

		          	<div class="col-12">
									<button mdbBtn mdbWavesEffect color='success' rounded="true" size='sm' (click)="shareProfileModal.show()">
											<mdb-icon fas icon="share-alt" class="mr-1"></mdb-icon>Share Profile
									</button>
		            	<p class="pt-3">Member since {{memberSince}}</p>
		          	</div>
		           </div>           
		        </div>
		       
		        <div class="col-12 col-sm-9">
		        	<div class="ml-md-5">
		            <h5 class="text-center text-md-left"><strong class="text-capitalize">{{userInfo.firstName}} {{userInfo.lastName}}</strong></h5>
		            <div *ngIf="!editing.profile" class="text-center text-md-left">
		              <a *ngIf="profileInfo.editable.social.website.enabled && profileInfo.editable.social.website.url" 
		              	[href]='url(profileInfo.editable.social.website.url)' target="_blank" type="button" mdbBtn floating="true" size="sm" class="btn-email waves-light" mdbWavesEffect>
		              	<i class="fa fa-home"></i>
		              </a>
		              <a *ngIf="profileInfo.editable.social.facebook.enabled && profileInfo.editable.social.facebook.url"
		              	[href]='url(profileInfo.editable.social.facebook.url)' target="_blank" type="button" mdbBtn floating="true" size="sm" class="btn-fb waves-light" mdbWavesEffect>
		              	<i class="fa fa-facebook"></i>
		              </a>
		              <a *ngIf="profileInfo.editable.social.twitter.enabled && profileInfo.editable.social.twitter.url" 
		              	[href]='url(profileInfo.editable.social.twitter.url)' target="_blank" type="button" mdbBtn floating="true" size="sm" class="btn-tw waves-light" mdbWavesEffect>
		              	<i class="fa fa-twitter"></i>
		              </a>
		              <a *ngIf="profileInfo.editable.social.instagram.enabled && profileInfo.editable.social.instagram.url" 
		              	[href]='url(profileInfo.editable.social.instagram.url)' target="_blank" type="button" mdbBtn floating="true" size="sm" class="btn-ins waves-light" mdbWavesEffect>
		              	<i class="fa fa-instagram"></i>
		              </a>
		              <a *ngIf="profileInfo.editable.social.linkedin.enabled && profileInfo.editable.social.linkedin.url" 
		              	[href]='url(profileInfo.editable.social.linkedin.url)' target="_blank" type="button" mdbBtn floating="true" size="sm" class="btn-li waves-light" mdbWavesEffect>
		              	<i class="fa fa-linkedin"></i>
		              </a>
		              <!-- <a class="email-ic"><i class="fa fa-envelope-o"> </i></a> -->
		            </div>
		            <div *ngIf="editing.profile" class="text-center text-md-left">  
		            	<a type="button" mdbBtn floating="true" size="sm" class="btn-email waves-light" mdbWavesEffect (click)="socialModal.show()"><i class="fa fa-home"></i></a>
		            	<a type="button" mdbBtn floating="true" size="sm" class="btn-fb waves-light" mdbWavesEffect (click)="socialModal.show()"><i class="fa fa-facebook"></i></a>
		            	<a type="button" mdbBtn floating="true" size="sm" class="btn-tw waves-light" mdbWavesEffect (click)="socialModal.show()"><i class="fa fa-twitter"></i></a>
		            	<a type="button" mdbBtn floating="true" size="sm" class="btn-ins waves-light" mdbWavesEffect (click)="socialModal.show()"><i class="fa fa-instagram"></i></a>
		            	<a type="button" mdbBtn floating="true" size="sm" class="btn-li waves-light" mdbWavesEffect (click)="socialModal.show()"><i class="fa fa-linkedin"></i></a>
		            </div>

		            <p class="ml-3 ml-md-0 pt-2" [class.editable]='editing.profile' (click)="editField('shortDescription')" *ngIf="!editing.shortDescription">
		            	{{profileInfo.editable.shortDescription}}
		            </p>

		            <div *ngIf="editing.shortDescription" class="md-form pr-3">
		            	<form [formGroup]="itemForm" (ngSubmit)="saveFieldEdition('shortDescription')">
	                  <textarea type="text" id="form8" class="md-textarea md-textarea-auto form-control" length="140" mdbCharCounter formControlName="shortDescription" mdbInputDirective successMessage=" " errorMessage=' '></textarea>
	                  <button [disabled]="!itemForm.get('shortDescription').valid || submitting.shortDescription" type="submit" mdbBtn color="success" mdbWavesEffect>
	                  <span *ngIf="!submitting.shortDescription">Save</span>
	                  <span *ngIf="submitting.shortDescription">Saving</span>
	                	</button>
	                  <button type="button" mdbBtn color="success" outline='true' mdbWavesEffect (click)="cancelFieldEdition('shortDescription')" >Cancel</button>
                	</form>
	            	</div>
	            </div>
		        </div>
		    </div>
		 </div>

		 <div class="col-md-3">
		 		<mdb-card>
		 			<mdb-card-body class="pr-0">
						 
							<h5 *ngIf="userInfo.membership.pricingPlan=='free'" class="grey-text font-weight-bold"><i class="fa fa-certificate" aria-hidden="true"></i> Free Member</h5>
							<h5 *ngIf="userInfo.membership.pricingPlan=='basic'" class="indigo-text font-weight-bold"><i class="fa fa-certificate" aria-hidden="true"></i> Basic Member</h5>
							<h5 *ngIf="userInfo.membership.pricingPlan=='plus'" class="purple-text font-weight-bold"><i class="fa fa-certificate" aria-hidden="true"></i> Plus Member</h5>
							<h5 *ngIf="userInfo.membership.pricingPlan=='professional'" class="cyan-text font-weight-bold"><i class="fa fa-certificate" aria-hidden="true"></i> Professional Member</h5>
							<h5 *ngIf="userInfo.membership.pricingPlan=='enterprise'" class="text-warning font-weight-bold"><i class="fa fa-diamond" aria-hidden="true"></i> Enterprise Member</h5>

	            <h4 mdbTooltip='Average rating' *ngIf="userInfo.role=='landlord'">
								<span class="badge badge-warning mr-1">{{userInfo.landlord.score}}</span>
								<app-score [score]='userInfo.landlord.score'></app-score> 
								 <small class="grey-text text-right"> ({{userInfo.landlord.reviews}} 
									 <span *ngIf="userInfo.landlord.reviews==1"> review</span>
									 <span *ngIf="userInfo.landlord.reviews!=1"> reviews</span>)
								 </small>
	            </h4>

	            <h4 mdbTooltip='Average rating' *ngIf="userInfo.role=='tenant'">
	            	<span class="badge badge-warning mr-1">{{userInfo.tenant.score}}</span>
								<app-score [score]='userInfo.tenant.score'></app-score> 
								<small class="grey-text text-right"> ({{userInfo.tenant.reviews}} 
									<span *ngIf="userInfo.tenant.reviews==1"> review</span>
									<span *ngIf="userInfo.tenant.reviews!=1"> reviews</span>)
								</small>
	            </h4>

	            <h4 mdbTooltip='Average rating' *ngIf="userInfo.role=='service provider'">
	            	<span class="badge badge-warning mr-1">{{userInfo.serviceProvider.score}}</span>
								<app-score [score]='userInfo.serviceProvider.score'></app-score> 
								<small class="grey-text text-right"> ({{userInfo.serviceProvider.reviews}} 
									<span *ngIf="userInfo.serviceProvider.reviews==1"> review</span>
									<span *ngIf="userInfo.serviceProvider.reviews!=1"> reviews</span>)
								</small>
							</h4>
							
							<h4 mdbTooltip='Average rating' *ngIf="userInfo.role=='real estate agent'">
	            	<span class="badge badge-warning mr-1">{{userInfo.realEstateAgent.score}}</span>
								<app-score [score]='userInfo.realEstateAgent.score'></app-score> 
								<small class="grey-text text-right"> ({{userInfo.realEstateAgent.reviews}} 
									<span *ngIf="userInfo.realEstateAgent.reviews==1"> review</span>
									<span *ngIf="userInfo.realEstateAgent.reviews!=1"> reviews</span>)
								</small>
	            </h4>	



							<div *ngIf="userInfo.role=='landlord'">
		      			<p>
									<strong>Average time of maintenance request resolution: </strong> 
									<app-score [score]='userInfo.landlord.avgTimeOfTicketResolution'></app-score>
								</p>
		          	<p>
		          		<strong>Total Rented: </strong>{{userInfo.landlord.totalRented}}
		          	</p>
		          	<p>
		          		<strong>Properties for rent: </strong>{{userInfo.landlord.currentlyListed}}
								</p>

								<hr class="my-3">
								<p class="grey-text font-weight-bold">As Service Provider Employer</p>
								<p>
									<strong>Service Providers hired: </strong>{{userInfo.landlord.employer.serviceProvidersHired}}
								</p>
								<p>
									<strong>Payment promptness: </strong><app-score [score]='userInfo.landlord.employer.paymentPromptness'></app-score>
								</p>
							</div>

	          	<div *ngIf="userInfo.role=='tenant'">
								<p>
									<strong>Ontime payments: </strong>
									<app-score [score]='userInfo.tenant.ontimePayments'></app-score>
		          	</p>
		          	<p>
		          		<strong>Total Rented: </strong>{{userInfo.tenant.totalRented}}
								</p>
								<hr class="my-3">
								<p class="grey-text font-weight-bold">As Service Provider Employer</p>
								<p>
									<strong>Service Providers hired: </strong>{{userInfo.tenant.employer.serviceProvidersHired}}
								</p>
								<p>
									<strong>Payment promptness: </strong><app-score [score]='userInfo.tenant.employer.paymentPromptness'></app-score>
								</p>
							</div>
							
							<div *ngIf="userInfo.role=='service provider'">
								<p>
									<strong>Jobs completed: </strong>{{userInfo.serviceProvider.jobsCompleted}}
								</p>
								<p>
									<strong>Quality of Work: </strong> 
									<app-score [score]='userInfo.serviceProvider.qualityOfWork'></app-score>
								</p>
								<p>
									<strong>Finished on time: </strong> 
									<app-score [score]='userInfo.serviceProvider.finishedOnTime'></app-score>
								</p>
								<div *ngIf="!isMyProfile" class="text-center">
									<a mdbBtn color="success" rounded="true" mdbWavesEffect (click)="openHireMeModal()">Hire me!</a>
								</div>
							</div>

							<div *ngIf="userInfo.role=='real estate agent'">
								<p>
									<strong>Total rented: </strong>{{userInfo.realEstateAgent.totalRented}}
								</p>
								<p>
									<strong>Total Tenants: </strong>{{userInfo.realEstateAgent.totalTenants}}
								</p>
								<p>
									<strong>Total Landlords: </strong>{{userInfo.realEstateAgent.totalLandlords}}
								</p>
								<div *ngIf="!isMyProfile" class="text-center">
									<a mdbBtn color="success" rounded="true" mdbWavesEffect (click)="openContactMeModal()">Contact me!</a>
								</div>
							</div>
	          
	         </mdb-card-body>
	      </mdb-card>
		 </div>
	</div>

	<div *ngIf="userInfo?.role === 'real estate agent'" class="text-center pb-3">
		<button mdbBtn color="secondary" rounded="true" mdbWavesEffect [routerLink]="['/listings/all']" [queryParams]="{realEstateAgent:userInfo.uid}">View Properties for Rent</button>
	</div>
	<!-- <hr class="my-0 mx-md-5"> -->
	<div *ngIf="userInfo.role=='service provider' || userInfo.role=='real estate agent'" class="row mx-md-5 no-gutters pb-5">
		<div [hidden]="!profileInfo" class="text-center" [ngClass]="{'col-md-6': userInfo.role=='service provider', 'col-md-12': userInfo.role=='real estate agent'}">
			<h5 class="font-weight-bold">Areas serving</h5>
			<div [hidden]='hideAreaInput' class="row justify-content-center">
				<div class="col-md-6 mt-0 md-form">
					<input #areasServingSearch type="text" id="form-address" class="form-control" successMessage=' ' errorMessage=' ' required mdbInputDirective placeholder="New Area">
					<p *ngIf="savingArea" class="mb-0">Saving...</p>
					<p *ngIf="deletingArea" class="mb-0">Deleting...</p>
				</div>
			</div>
			<div *ngFor="let area of areasServing" class="chip cyan darken-2 white-text" (click)="deleteAreaServing(area)">{{area.name}} <i *ngIf="!hideAreaInput" class="fa fa-times"></i></div>
			<div *ngIf="editing.profile" class="chip grey lighten-1" (click)="hideAreaInput=!hideAreaInput"><i class="fa fa-pencil"></i> Edit</div>
		</div>

		<div *ngIf="userInfo.role=='service provider' && profileInfo" class="col-md-6 text-center">
			<h5 class="font-weight-bold">Skills</h5>
			<div *ngFor="let skill of profileInfo.serviceProvider.skills" class="chip purple white-text">{{skill.name}}</div>
			<div *ngIf="editing.profile" class="chip grey lighten-1" (click)="openServiceProviderSkillModal()"><i class="fa fa-pencil"></i> Edit</div>
		</div>
	</div>











	<div *ngIf="profileInfo" class="py-5 mx-4 mx-md-5">
		<h1 class="pb-1">More about <span class="text-capitalize">{{userInfo.firstName}} {{userInfo.lastName}}</span></h1>
		<p [class.editable]='editing.profile' (click)="editField('aboutMe')" *ngIf="!editing.aboutMe">
			{{profileInfo.editable.aboutMe}}
		</p>
		<div *ngIf="editing.aboutMe" class="md-form pr-3">
			<form [formGroup]="itemForm" (ngSubmit)="saveFieldEdition('aboutMe')">
	    <textarea type="text" id="form9" class="md-textarea md-textarea-auto form-control" length="2000" mdbCharCounter formControlName="aboutMe" mdbInputDirective successMessage=" " errorMessage=' '></textarea>
	    <button [disabled]="!itemForm.get('aboutMe').valid || submitting.aboutMe" type="submit" mdbBtn color="success" mdbWavesEffect>
	    	<span *ngIf="!submitting.aboutMe">Save</span>
	      <span *ngIf="submitting.aboutMe">Saving</span>
	  	</button>
	    <button type="button" mdbBtn color="success" outline='true' mdbWavesEffect (click)="cancelFieldEdition('aboutMe')">Cancel</button>
	  	</form>
		</div>
	</div>




	<div class="pt-5 mx-4 mx-md-5">
		<div *ngIf="userInfo.role=='landlord'" class="pb-5">
			<h1 *ngIf="userInfo.landlord.reviews==0" class="text-center">No Reviews</h1>
			<h1 *ngIf="userInfo.landlord.reviews!=0" class="pt-5">Reviews <span class="badge blue">{{userInfo.landlord.reviews}}</span></h1>
		</div>
		<div *ngIf="userInfo.role=='tenant'" class="pb-5">
			<h1 *ngIf="userInfo.tenant.reviews==0" class="text-center">No Reviews</h1>
			<h1 *ngIf="userInfo.tenant.reviews!=0" class="pt-5">Reviews <span class="badge blue">{{userInfo.tenant.reviews}}</span></h1>
		</div>
		<div *ngIf="userInfo.role=='service provider'" class="pb-5">
			<h1 *ngIf="userInfo.serviceProvider.reviews==0" class="text-center">No Reviews</h1>
			<h1 *ngIf="userInfo.serviceProvider.reviews!=0" class="pt-5">Reviews <span class="badge blue">{{userInfo.serviceProvider.reviews}}</span></h1>
		</div>
		<div *ngIf="userInfo.role=='real estate agent'" class="pb-5">
				<h1 *ngIf="userInfo.realEstateAgent.reviews==0" class="text-center">No Reviews</h1>
				<h1 *ngIf="userInfo.realEstateAgent.reviews!=0" class="pt-5">Reviews <span class="badge blue">{{userInfo.realEstateAgent.reviews}}</span></h1>
		</div>

		<div *ngIf="!reviews" class="text-center">
				<mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
		</div>

		<div *ngFor="let reviewInfo of reviews" class="media mb-1">
				<div class="media-left waves-light">
						<img class="rounded-circle" [src]="reviewInfo.user.photo || './assets/noProfilePicture.png'" height="100px" alt="Profile pic"
						style="cursor:pointer" (click)="viewProfile(reviewInfo.providedBy.uid, reviewInfo.providedBy.role)">
				</div>
				<div class="media-body">
						<h3 class="media-heading text-capitalize"><span style="cursor:pointer" (click)="viewProfile(reviewInfo.providedBy.uid, reviewInfo.providedBy.role)">{{reviewInfo.user.firstName}} {{reviewInfo.user.lastName}}</span></h3>
						<h4 class="rating inline-ul">
								<app-score [score]="reviewInfo.feedback.score"></app-score>
						</h4>
						<p>{{reviewInfo.feedback.review}}</p>
				</div>
		</div>

	</div>






</div>










<div mdbModal #cropImageModal="mdbModal" style="overflow: auto;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" (opened)="cropImageModalOnShown()" (closed)="cropImageModalOnHidden()">
  <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead" id="myModalLabel">Crop the image</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cropImageModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      	<div class="img-container">
				  <img #imageToCrop src="">
				</div>

      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="cropImageModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="uploadProfilePicture()" mdbWavesEffect>upload</button>
      </div>
    </div>
  </div>
</div>




<div mdbModal #socialModal="mdbModal" style="overflow: auto;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" (opened)="socialModalOnShown()" (closed)="socialModalOnHidden()">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead" id="myModalLabel">Edit social networks</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="socialModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <form [formGroup]="itemForm" (ngSubmit)="saveFieldEdition('social')">
	      <div class="modal-body">
	      	<div formGroupName="social" class="row">


	      		<div class="col-12">
		      		<div formGroupName="website" class="row">
		      			<div class="col-12 pt-3 text-center font-weight-bold">Website</div>
			      		<div class="col-4">
									<div class="switch">
									  <label>
									    Off
									    <input type="checkbox" formControlName="enabled">
									    <span class="lever"></span>
									    On
									  </label>
									</div>
								</div>
								<div class="col-8">
								  <input mdbInputDirective type="text" placeholder="https://myWebsite.com" id="form-website" class="form-control" successMessage=" " errorMessage=' ' require formControlName="url">
								</div>
		      		</div>
	      		</div>

	      		<div class="col-12">
	      			<div formGroupName="facebook" class="row">
								<div class="col-12 pt-3 text-center font-weight-bold">Facebook</div>
			      		<div class="col-4">
									<div class="switch">
									  <label>
									    Off
									    <input type="checkbox" formControlName="enabled">
									    <span class="lever"></span>
									    On
									  </label>
									</div>
								</div>
								<div class="col-8">
								  <input mdbInputDirective type="text" placeholder="https://facebook.com/myProfile" id="form-facebook" class="form-control" successMessage=" " errorMessage=' ' require formControlName="url">
								</div>
							</div>
						</div>

						<div class="col-12">
	      			<div formGroupName="twitter" class="row">
								<div class="col-12 pt-3 text-center font-weight-bold">Twitter</div>
			      		<div class="col-4">
									<div class="switch">
									  <label>
									    Off
									    <input type="checkbox" formControlName="enabled">
									    <span class="lever"></span>
									    On
									  </label>
									</div>
								</div>
								<div class="col-8">
								  <input mdbInputDirective type="text" placeholder="https://twitter.com/myProfile" id="form-twitter" class="form-control" successMessage=" " errorMessage=' ' require formControlName="url">
								</div>
							</div>
						</div>

						<div class="col-12">
	      			<div formGroupName="instagram" class="row">
								<div class="col-12 pt-3 text-center font-weight-bold">Instagram</div>
			      		<div class="col-4">
									<div class="switch">
									  <label>
									    Off
									    <input type="checkbox" formControlName="enabled">
									    <span class="lever"></span>
									    On
									  </label>
									</div>
								</div>
								<div class="col-8">
								  <input mdbInputDirective type="text" placeholder="https://instagram.com/myProfile" id="form-instagram" class="form-control" successMessage=" " errorMessage=' ' require formControlName="url">
								</div>
							</div>
						</div>

						<div class="col-12">
	      			<div formGroupName="linkedin" class="row">
								<div class="col-12 pt-3 text-center font-weight-bold">Linkedin</div>
			      		<div class="col-4">
									<div class="switch">
									  <label>
									    Off
									    <input type="checkbox" formControlName="enabled">
									    <span class="lever"></span>
									    On
									  </label>
									</div>
								</div>
								<div class="col-8">
								  <input mdbInputDirective type="text" placeholder="linkedin.com/in/myProfile" id="form-linkedin" class="form-control" successMessage=" " errorMessage=' ' require formControlName="url">
								</div>
							</div>
						</div>


	      	</div>	      	
	      </div>
	     
	      <div class="modal-footer">
	        <button type="button" [disabled]="submitting.social" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="socialModal.hide()" mdbWavesEffect>Close</button>
	        <button type="submit" [disabled]="submitting.social" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>
	        	<span *ngIf="!submitting.social">Edit</span>
	        	<span *ngIf="submitting.social">Editing</span>
	        </button>
	      </div>
    	</form>
    </div>
  </div>
</div>





<div mdbModal #serviceProviderSkillModal="mdbModal" style="overflow: auto;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" (closed)="serviceProviderSkillModalClosed()">
  <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead" id="myModalLabel">Skills</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="serviceProviderSkillModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
			</div>
			
      <div class="modal-body">
      	
				<div class="row">
					<div class="col-md-8 border">
						<div class="row">
							<div *ngFor="let skill of serviceProviderSkills" class="col-md-6 service-provider-skill" [class.text-black]="skill.selected" [ngStyle]="{'background-color':skill.selected? '#b9f6ca' :''}" (click)="selectServiceProviderSkill(skill)">
								<p class="font-weight-bold">{{skill.name}}</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div *ngFor="let skill of selectedServiceProviderSkills" class="col-12 service-provider-skill" (click)="selectServiceProviderSkill(skill)">
								<p class="font-weight-bold">{{skill.name}} <i class="fa fa-times white-text" aria-hidden="true"></i></p>
							</div>
						</div>
					</div>
				</div>

      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="serviceProviderSkillModal.hide()" mdbWavesEffect>Close</button>
        <button [disabled]="savingSkills" type="button" mdbBtn color="primary" class="relative waves-light" (click)="editSkills()" mdbWavesEffect>
					<span *ngIf="!savingSkills">Save</span><span *ngIf="savingSkills">Saving</span> 
				</button>
      </div>
    </div>
  </div>
</div>



<div mdbModal #hireMeModal="mdbModal" style="overflow: auto;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
	aria-hidden="true" (closed)="hireMeModalClosed()">
	<div class="modal-dialog modal-notify modal-success" role="document">
			<div class="modal-content text-center">
				<div class="modal-header">
					<p class="heading lead" id="myModalLabel">Hire me</p>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hireMeModal.hide()">
						<span aria-hidden="true" class="white-text">&times;</span>
					</button>
				</div>
				<form [formGroup]="hireMeForm">
					<div class="modal-body">
						<div class="row">
							<div class="col-12">
								<p class="font-weight-bold">Price (USD)</p>
							</div>
							<div class="col-12 md-form mt-0">
								<input mdbInput mdbValidate type="number" id="form3" class="form-control" formControlName="price">
								<mdb-error *ngIf="hireMeForm.get('price').invalid && (hireMeForm.get('price').dirty || hireMeForm.get('price').touched)">Amount must be greater than or equal to 5 USD</mdb-error>
								<mdb-success *ngIf="hireMeForm.get('price').valid && (hireMeForm.get('price').dirty || hireMeForm.get('price').touched)"></mdb-success>
							</div>

							<div class="col-12">
								<p class="font-weight-bold">Job name</p>
							</div>
							<div class="col-12 md-form mt-0">
								<input mdbInput mdbValidate formControlName="name" type="text" placeholder="I need an Electric Repair for my property" class="form-control" id="form9" length='80' mdbCharCounter>
								<mdb-error *ngIf="hireMeForm.get('name').invalid && (hireMeForm.get('name').dirty || hireMeForm.get('name').touched)"></mdb-error>
								<mdb-success *ngIf="hireMeForm.get('name').valid && (hireMeForm.get('name').dirty || hireMeForm.get('name').touched)"></mdb-success>
							</div>

							<div class="col-12">
								<p class="font-weight-bold">Job Description</p>
							</div>
							<div class="col-12 md-form mt-0">
								<textarea mdbInput mdbValidate formControlName="details" type="text" rows="3"	class="form-control md-textarea md-textarea-auto" id="form9" length='1000' mdbCharCounter></textarea>
								<mdb-error *ngIf="hireMeForm.get('details').invalid && (hireMeForm.get('details').dirty || hireMeForm.get('details').touched)"></mdb-error>
								<mdb-success *ngIf="hireMeForm.get('details').valid && (hireMeForm.get('details').dirty || hireMeForm.get('details').touched)"></mdb-success>
							</div>
							
							<div class="col-12 md-form">
								<p class="font-weight-bold">Skills Required</p>
								<input formControlName="autoCompleteSkillsInput" type="text" class="completer-input form-control mdb-autocomplete mb-0"
												[mdbAutoCompleter]="auto"
												placeholder="Select Skills">
								<mdb-auto-completer #auto="mdbAutoCompleter" textNoResults="Skill not found" [clearButton]="false">
									<mdb-option *ngFor="let skill of autoCompleteSkillsResults | async" [value]="skill">{{skill.name}}</mdb-option>
								</mdb-auto-completer>
								<div class="pt-4 text-left">
									<div *ngFor="let skill of skillsSelectedFromAutocomplete" class="chip purple white-text" (click)="deleteSkillSelectedFromAutocomplete(skill)">{{skill.name}} <i class="fa fa-times white-text"></i></div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
							<button [disabled]='hiring' type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="hireMeModal.hide()" mdbWavesEffect>Close</button>
							<button [disabled]='hiring' type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect (click)="hireMe()">
								<span *ngIf="!hiring">Hire</span><span *ngIf="hiring">Hiring</span> 
							</button>
					</div>
				</form>
			</div>
	</div>


</div>




<div mdbModal #contactMeModal="mdbModal" style="overflow: auto;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="contactMeModal.hide()">
          <span class="white-text" aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title heading w-100" id="myModalLabel">Contact Agent</h4>
      </div>
      <form [formGroup]="contactMeForm" (ngSubmit)="contactMe()">
        <div class="modal-body px-md-5">

          <div class="row">
            <div class="col-12 md-form">
              <i class="fa fa-pencil prefix grey-text"></i>
              <textarea mdbInputDirective type="text" length="1000" mdbCharCounter formControlName="message" id="form8" class="md-textarea form-control" rows="3" successMessage=" " errorMessage=' ' ></textarea>
              <label for="form8" class="pl-3">Message</label>
            </div>

            <div class="col-md-12 md-form">
              <i class="fa fa-email prefix grey-text"></i>
              <input mdbInputDirective type="text" id="form-1" class="form-control" formControlName="email" successMessage=" " errorMessage=' ' require>
              <label for="form-1" class="pl-3">Email</label>
            </div>
            <div class="col-md-12 md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input mdbInputDirective type="text" id="form-1" class="form-control" formControlName="name" successMessage=" " errorMessage=' ' require>
                <label for="form-1" class="pl-3">Name</label>
              </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" [disabled]='contacting' mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="contactMeModal.hide()" mdbWavesEffect>Close</button>
          <button type="submit" [disabled]='!contactMeForm.valid || contacting' mdbBtn color="success" class="relative waves-light" mdbWavesEffect>
            <span *ngIf="!contacting">Submit</span>
            <span *ngIf="contacting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>



<div mdbModal #shareProfileModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-lg" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header">
        <img [src]="'assets/ERT2.png'"  alt="avatar"
             class="rounded-circle img-responsive">
      </div>
      <!--Body-->
      <div class="modal-body mb-1">

        <h5 class="mt-1 mb-2 text-center">Copy the Profile Link</h5>

				<div class="row no-gutters justify-content-center">
					<div class="md-form ml-0 mr-0 col-10 font-weight-bold">
						<!-- <textarea class="md-textarea md-textarea-auto form-control">rentpeacefully.com/user/VzCogeyiRTS2D2HKgblvjc4Ewsq2?role=tenant</textarea> -->
						<p *ngIf="userInfo" class="text-center border">{{profileLink}}</p>
					</div>
					<div class="col-2 text-center pt-4">
							<mdb-icon fas icon="clone" size='2x' class="clickable" (click)="copyToClipboard()"></mdb-icon>
					</div>

				</div>

        <div class="text-center">
          <button mdbBtn color="cyan" rounded="true" class="mt-1 waves-light" mdbWavesEffect (click)="shareProfileModal.hide()">
						Close
          </button>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>