.editable{
	cursor: pointer;
	background-color: #eeeeee
}

.img-container img {
  max-width: 100%;
}

.service-provider-skill:hover {
	cursor: pointer;
	background-color: #00c853;
	color:white;
}
/* #b9f6ca */