<div class="pt-5 pb-4">
  <div class="info-color pt-4 pb-1 font-weight-bold z-depth-1 white-text">
      <div class="row no-gutters justify-content-center">
        <div class="col-12 col-md text-center">
            <h3 class="h3-responsive pt-2 text-capitalize">Balances</h3>
        </div>
      </div>
  </div>
</div>


<div class="row no-gutters justify-content-center">

  <div class="col-12 col-md-9">
    <mdb-card>
      <div class="table-responsive no-gutters">
        <table class="text-center" mdbTable hover="true">
          <thead class="unique-color white-text z-depth-2">
            <tr mdbTableCol>
              <th>Currency</th>
              <th>Total Users' balances</th>
              <th>Balances on Platform wallets</th>
              <th>Withdraw from Platform</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let totalUsersBalance of totalUsersBalances" class="font-weight-bold">
              <th class="font-weight-bold"><img [src]='"./assets/coins/" + totalUsersBalance.symbol + ".png"' width="40px" class="img-fluid" [mdbTooltip]="totalUsersBalance.name"> {{totalUsersBalance.symbol}}</th>
              <th class="font-weight-bold">{{totalUsersBalance.amount}} {{totalUsersBalance.symbol}}</th>
              <th class="font-weight-bold">{{totalUsersBalance['platformBalance']}} {{totalUsersBalance.symbol}}</th>
              <th class="font-weight-bold"><button mdbBtn color='success' rounded="true" size='sm' mdbWavesEffect (click)="openWithdrawalModal(totalUsersBalance.symbol)">Withdraw</button></th>
            </tr>
          </tbody>
        </table>

        <div *ngIf="!totalUsersBalances" class="text-center">
          <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
        </div>

        <hr class="my-0">
      </div>
    </mdb-card>
  </div>
</div>




<div mdbModal #withdrawalModal="mdbModal" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
   [config]='{ignoreBackdropClick: false, keyboard: true}'>
  <div class="modal-dialog cascading-modal modal-avatar" role="document">
      <div class="modal-content">

          <div *ngIf='withdrawalForm.get("currency").value' class="modal-header">
              <img [src]='"./assets/coins/" + withdrawalForm.get("currency").value + ".png"' class="rounded-circle img-responsive">
          </div>
          <div class="modal-body text-center mb-1">

            <!-- <div *ngIf="!withdrawalFee && state==0" class="text-center">
              <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
            </div>


            <p *ngIf="state==1" class="mb-0">Fee: 
              <span class="font-weight-bold">{{withdrawalFee}} {{currencyInfo.currency}}</span>
            </p> -->

            <form [formGroup]="withdrawalForm" (ngSubmit)='next()'>

              <div *ngIf="state === 0" class="row justify-content-center">

                <div class="col-12 pt-3">
                  <p class="font-weight-bold mb-0">{{withdrawalForm.get("currency").value}} receiver address</p>
                </div>
                <div class="col-12 md-form mt-0">
                  <input mdbInput mdbValidate type="text" id="form3" class="form-control" formControlName="to">
                </div>

                <div class="col-12 pt-3">
                  <p class="font-weight-bold mb-0">Amount ({{withdrawalForm.get("currency").value}})</p>
                </div>
                <div class="col-12 md-form mt-0">
                  <input mdbInput mdbValidate type="number" id="form3" class="form-control" formControlName="amount">
                </div>
                  <!-- <div *ngIf="state==0" class="col-12 pt-3">
                    <p class="font-weight-bold mb-0">{{currencyInfo.name}} receiver address</p>
                  </div>
                  <div *ngIf="state==0" class="col-12 md-form mt-0">
                    <input mdbInput mdbValidate type="text" id="form3" class="form-control" formControlName="to">
                    <mdb-error *ngIf="withdrawalForm.get('to').invalid && (withdrawalForm.get('to').dirty || withdrawalForm.get('to').touched)"></mdb-error>
                    <mdb-success *ngIf="withdrawalForm.get('to').valid && (withdrawalForm.get('to').dirty || withdrawalForm.get('to').touched)"></mdb-success>
                  </div>

                  <div *ngIf="state==1" class="col-12 pt-3">
                    <p class=""><span class="font-weight-bold">Address: </span>{{withdrawalForm.get('to').value}}</p>
                  </div>

                  <div *ngIf="state==1" class="col-12 pt-3">
                    <p class="font-weight-bold mb-0">Amount ({{currencyInfo.currency}})</p>
                  </div>
                  <div *ngIf="state==1" class="col-12 md-form mt-0">
                    <input mdbInput mdbValidate type="number" id="form3" class="form-control" formControlName="amount">
                    <mdb-error *ngIf="withdrawalForm.get('amount').invalid && (withdrawalForm.get('amount').dirty || withdrawalForm.get('amount').touched)">
                      <span *ngIf="withdrawalForm.get('amount').errors.required || withdrawalForm.get('amount').errors.invalidAmount">
                        Invalid amount
                      </span>
                      <span *ngIf="!withdrawalForm.get('amount').errors.required && !withdrawalForm.get('amount').errors.invalidAmount && withdrawalForm.get('amount').errors.insufficientFunds">Insufficient funds</span>
                    </mdb-error>
                    <mdb-success *ngIf="withdrawalForm.get('amount').valid && (withdrawalForm.get('amount').dirty || withdrawalForm.get('amount').touched)"></mdb-success>
                  </div>


                  <p *ngIf="state==1" class="mb-1">Max amount: 
                    <span class="grey-text">{{maxAmount}} {{currencyInfo.currency}}</span>
                  </p> -->
              </div>

              <div *ngIf="state === 1" class="row justify-content-center">
                <div class="col-12 pt-3">
                  <p class=""><span class="font-weight-bold">Address: </span>{{withdrawalForm.get('to').value}}</p>
                </div>
                <div class="col-12 pt-3">
                  <p class=""><span class="font-weight-bold">Amount: </span>{{withdrawalForm.get('amount').value}}</p>
                </div>
              </div>

              <div class="text-center">
                <button type="button" [disabled]='submitting[state]' mdbBtn color='default' outline='true' mdbWavesEffect (click)="withdrawalModal.hide()">
                  Cancel
                </button>
                <button type="submit" [disabled]='submitting[state]' mdbBtn color="success" class="relative waves-light" mdbWavesEffect>
                  <span *ngIf="!submitting[state] && state!=1">Next</span>
                  <span *ngIf="!submitting[state] && state==1">Withdraw</span>
                  <span *ngIf="submitting[state]" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
              </div>
            </form>
          </div>

      </div>
  </div>
</div>