<div class="animated fadeIn">
<div class="pt-5 pb-5">

	<div class="row no-gutters justify-content-center cyan darken-1 white-text pt-5"> <!-- rgba-indigo-strong -->
	    
	    <h1 class="h1 font-weight-bold text-center mb-5 pt-4 col-12">What is {{app.name}}?</h1>
	    <h5 class="text-center h5-responsive mb-5 pb-3 col-md-8 col-10">{{app.name}} is a blockchain based platform which enables Landlord to list properties for rent, successively create an easy, securely and safely Smart Contract and then deploy it to the public Ethereum Network, which will only work once both Parties have signed the agreement with their blockchain private keys.</h5>
	</div>

</div>

	<h1 class="font-weight-bold text-center h1-responsive pb-3">
		How {{app.name}} works?
	</h1>

<mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-3 purple lighten-3'" [contentClass]="'card'">
    
    <mdb-tab heading="For Tenants">
      <div class="row">
        <div class="col-12">
          <br>


					<div class="row m-t-1">
					    <div class="col-md-12">

					        <ul class="stepper stepper-horizontal">

					            <li [class.active]="tenantOptionStep==1" (click)="tenantOptionStep = 1">
					                <a>
					                    <span class="circle">1</span>
					                    <span class="label">First step</span>
					                </a>
					            </li>

					            <li [class.active]="tenantOptionStep==2" (click)="tenantOptionStep = 2">

					                <a>
					                    <span class="circle">2</span>
					                    <span class="label">Second step</span>
					                </a>


					            </li>

					            <li [class.active]="tenantOptionStep==3" (click)="tenantOptionStep = 3">
					                <a>
					                     <span class="circle">3</span>
					                    <span class="label">Third step</span>
					                </a>
					            </li>

					            <li [class.active]="tenantOptionStep==4" (click)="tenantOptionStep = 4">
					                <a>
					                    <span class="circle">4</span>
					                    <span class="label">Fourth step</span>
					                </a>
					            </li>

					        </ul>
					        <!-- /.Stepers Wrapper -->

					    </div>
					</div>


					<div *ngIf="tenantOptionStep==1" class="row justify-content-center animated fadeIn">
					    <div class="col-lg-5 col-xl-5">
					        <div class="overlay rounded waves-light text-center" mdbWavesEffect>
					            <img src="./assets/searchForProperties1.png" class="img-fluid">
					            <a>
					                <div class="mask rgba-white-slight"></div>
					            </a>
					        </div>
					    </div>

					    <div class="col-lg-7 col-xl-7">
					        <a href="" class="green-text">
					        </a>
					        <h3 class="mb-4 font-weight-bold dark-grey-text">
					            <strong>Search for your dream property</strong>
					        </h3>
					        <p>Enter the country and city you are interested in, choose the most relevant result from a drop-down list, and go explore all the option you have.</p>
					    </div>
					</div>

					<div *ngIf="tenantOptionStep==2" class="row justify-content-center animated fadeIn">
					  <div class="col-lg-7 col-xl-7 text-center pb-3">
					      <h3 class="mb-4 font-weight-bold dark-grey-text">
					          <strong>Submit a Rental Application</strong>
					      </h3>
					      <p>Go to the property listing you like, press “Apply” button and follow the steps to apply for your favorite property.</p>
					  </div>

					  <div class="col-lg-5 col-xl-5 mb-5">
					      <div class="overlay rounded waves-light" mdbWavesEffect>
					          <img src="./assets/ApplyToday.jpg" class="img-fluid">
					          <a>
					              <div class="mask rgba-white-slight"></div>
					          </a>
					      </div>
					  </div>
					</div>

					<div *ngIf="tenantOptionStep==3" class="row justify-content-center animated fadeIn">
					    <div class="col-lg-5 col-xl-5">
					        <div class="overlay rounded waves-light text-center" mdbWavesEffect>
					            <img src="./assets/contract1.png" class="img-fluid">
					            <a>
					                <div class="mask rgba-white-slight"></div>
					            </a>
					        </div>
					    </div>

					    <div class="col-lg-7 col-xl-7">
					        <a href="" class="green-text">
					        </a>
					        <h3 class="mb-4 font-weight-bold dark-grey-text">
					            <strong>Approve/Sign Rental Agreement</strong>
					        </h3>
					        <p>Once your application has being accepted, the Landlord will send you the Rental Aggreement details whose clauses are written in the smart contract and already saved publicly on the Ethereum network (you can read them there to verify). With your Ethereum wallet (which is created along with your account), you can sign the Rental Agreement. You need to have a small amount of Ether in your wallet for this, since the evidence of your signature is saved on the Ethereum Network.</p>
					    </div>
					</div>


					<div *ngIf="tenantOptionStep==4" class="row justify-content-center animated fadeIn">
					  <div class="col-lg-7 col-xl-7 text-center pb-3">
					      <h3 class="mb-4 font-weight-bold dark-grey-text">
					          <strong>Interact in your Rental Aggreement</strong>
					      </h3>
					      <p>Open a ticket to submit a maintenance request, start a dispute with the Landlord and pay the rent. You need a small amount of Ether for this actions (except for the rent), since they are processed by the smart contract and the record is saved on the Ethereum Network. To pay the rent, you need to deposit the money to the smart contract escrow account, by just sending the money to the contract Ethereum address, this contract will hold the money instead of a bank, and it will even lock (freeze) the rent payment if you have a ticket open until you close it!!</p>
					  </div>

					  <div class="col-lg-5 col-xl-5 mb-5">
					      <div class="overlay rounded waves-light" mdbWavesEffect>
					          <img src="./assets/contract2.png" class="img-fluid">
					          <a>
					              <div class="mask rgba-white-slight"></div>
					          </a>
					      </div>
					  </div>
					</div>

					<div class="row m-t-1">
					    <div class="col-md-12 text-right">
					        <button *ngIf="tenantOptionStep>1" mdbBtn flat="true" mdbWavesEffect (click)="tenantOptionStep=tenantOptionStep-1">Back</button>
					        <button *ngIf="tenantOptionStep<4" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="tenantOptionStep=tenantOptionStep+1">Next</button>
					    </div>
					</div>




             
            </div>
        </div>
    </mdb-tab>
    
    <mdb-tab heading="For Landlords">
        <div class="row">
            <div class="col-12">
                <br>


					<div class="row m-t-1">
					    <div class="col-md-12">

					        <ul class="stepper stepper-horizontal">

					            <li [class.active]="landlordOptionStep==1" (click)="landlordOptionStep = 1">
					                <a>
					                    <span class="circle">1</span>
					                    <span class="label">First step</span>
					                </a>
					            </li>

					            <li [class.active]="landlordOptionStep==2" (click)="landlordOptionStep = 2">

					                <a>
					                    <span class="circle">2</span>
					                    <span class="label">Second step</span>
					                </a>


					            </li>

					            <li [class.active]="landlordOptionStep==3" (click)="landlordOptionStep = 3">
					                <a>
					                     <span class="circle">3</span>
					                    <span class="label">Third step</span>
					                </a>
					            </li>

					            <li [class.active]="landlordOptionStep==4" (click)="landlordOptionStep = 4">
					                <a>
					                    <span class="circle">4</span>
					                    <span class="label">Fourth step</span>
					                </a>
					            </li>

					        </ul>

					    </div>
					</div>


					<div *ngIf="landlordOptionStep==1" class="row justify-content-center animated fadeIn">
					    <div class="col-lg-5 col-xl-5">
					        <div class="overlay z-depth-2 rounded waves-light text-center" mdbWavesEffect>
					            <img src="./assets/property1.jpg" class="img-fluid">
					            <a>
					                <div class="mask rgba-white-slight"></div>
					            </a>
					        </div>
					    </div>

					    <div class="col-lg-7 col-xl-7">
					        <a href="" class="green-text">
					        </a>
					        <h3 class="mb-4 font-weight-bold dark-grey-text">
					            <strong>List your property</strong>
					        </h3>
					        <p>Listing a property for rent on {{app.name}} is quick and easy. Add your property in seconds with photos, description, and list of amenities. Post your rental listing on the platform to boost its visibility.</p>
					    </div>
					</div>

					<div *ngIf="landlordOptionStep==2" class="row justify-content-center animated fadeIn">
					  <div class="col-lg-7 col-xl-7 text-center pb-3">
					      <h3 class="mb-4 font-weight-bold dark-grey-text">
					          <strong>Receive Rental applications</strong>
					      </h3>
					      <p>View the list of applications submitted by potential tenants.</p>
					  </div>

					  <div class="col-lg-5 col-xl-5 mb-5">
					      <div class="overlay rounded waves-light" mdbWavesEffect>
					          <img src="./assets/ApplyToday.jpg" class="img-fluid">
					          <a>
					              <div class="mask rgba-white-slight"></div>
					          </a>
					      </div>
					  </div>
					</div>

					<div *ngIf="landlordOptionStep==3" class="row justify-content-center animated fadeIn">
					    <div class="col-lg-5 col-xl-5">
					        <div class="overlay rounded waves-light text-center" mdbWavesEffect>
					            <img src="./assets/contract1.png" class="img-fluid">
					            <a>
					                <div class="mask rgba-white-slight"></div>
					            </a>
					        </div>
					    </div>

					    <div class="col-lg-7 col-xl-7">
					        <a href="" class="green-text">
					        </a>
					        <h3 class="mb-4 font-weight-bold dark-grey-text">
					            <strong>Create Rental Aggrement and deploy Smart Contract</strong>
					        </h3>
					        <p>Once you've accepted an application, you'll need to create the Smart Contract which will generate the Rental Aggreement document. Deploy the Smart Contract to the Ethereum Network, and send the Rental Aggreement details to the Tenant, so he/she can sign it. You can deploy your Contract with your Ethereum Wallet (Which is created along with your account). You need to have a small amount of Ether in your wallet for this, since the evidence of the Contract Creation is saved on the Ethereum Network.
					        </p>
					    </div>
					</div>


					<div *ngIf="landlordOptionStep==4" class="row justify-content-center animated fadeIn">
					  <div class="col-lg-7 col-xl-7 text-center pb-3">
					      <h3 class="mb-4 font-weight-bold dark-grey-text">
					          <strong>Interact in your Rental Aggreement</strong>
					      </h3>
					      <p>Raise the rent, start a dispute with the Tenant and withdraw the payment. You need a small amount of Ether for this actions, since they are processed by the smart contract and the record is saved on the Ethereum Network. Withdraw the rent payment from the Smart Contract escrow account, this contract will hold the money instead of a bank!!</p>
					  </div>

					  <div class="col-lg-5 col-xl-5 mb-5">
					      <div class="overlay rounded waves-light" mdbWavesEffect>
					          <img src="./assets/contract2.png" class="img-fluid">
					          <a>
					              <div class="mask rgba-white-slight"></div>
					          </a>
					      </div>
					  </div>
					</div>

					<div class="row m-t-1">
					    <div class="col-md-12 text-right">
					        <button *ngIf="landlordOptionStep>1" mdbBtn flat="true" mdbWavesEffect (click)="landlordOptionStep=landlordOptionStep-1">Back</button>
					        <button *ngIf="landlordOptionStep<4" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="landlordOptionStep=landlordOptionStep+1">Next</button>
					    </div>
					</div>



                
            </div>
        </div>
    </mdb-tab>

    <mdb-tab heading="For Service Providers">
        <div class="row">
            <div class="col-12">
                <br>


					<div class="row m-t-1">
					    <div class="col-md-12">
					        <ul class="stepper stepper-horizontal">
					            <li [class.active]="serviceProviderOptionStep==1" (click)="serviceProviderOptionStep = 1">
					                <a>
					                    <span class="circle">1</span>
					                    <span class="label">First step</span>
					                </a>
					            </li>
					            <li [class.active]="serviceProviderOptionStep==2" (click)="serviceProviderOptionStep = 2">
					                <a>
					                    <span class="circle">2</span>
					                    <span class="label">Second step</span>
					                </a>
					            </li>
					        </ul>
					    </div>
					</div>


					<div *ngIf="serviceProviderOptionStep==1" class="row justify-content-center animated fadeIn">
					    <div class="col-lg-5 col-xl-5">
					        <div class="overlay rounded waves-light text-center" mdbWavesEffect>
					            <img src="./assets/service1.jpg" class="img-fluid">
					            <a>
					                <div class="mask rgba-white-slight"></div>
					            </a>
					        </div>
					    </div>

					    <div class="col-lg-7 col-xl-7">
					        <a href="" class="green-text">
					        </a>
					        <h3 class="mb-4 font-weight-bold dark-grey-text">
					            <strong>List your service</strong>
					        </h3>
					        <p>Listing a service on {{app.name}} is quick and easy. Add a brief description of the service you provide and wait to get contacted by a Landlord.</p>
					    </div>
					</div>

					<div *ngIf="serviceProviderOptionStep==2" class="row justify-content-center animated fadeIn">
					  <div class="col-lg-7 col-xl-7 text-center pb-3">
					      <h3 class="mb-4 font-weight-bold dark-grey-text">
					          <strong>Get rated</strong>
					      </h3>
					      <p>Get a greater rating for your services once they're finished. The higher score, the greater are the chances to get hired again and your service ad will be in a higher position.</p>
					  </div>

					  <div class="col-lg-5 col-xl-5 mb-5">
					      <div class="overlay rounded waves-light" mdbWavesEffect>
					          <img src="./assets/service2.jpg" class="img-fluid">
					          <a>
					              <div class="mask rgba-white-slight"></div>
					          </a>
					      </div>
					  </div>
					</div>

					<div class="row m-t-1">
					    <div class="col-md-12 text-right">
					        <button *ngIf="serviceProviderOptionStep>1" mdbBtn flat="true" mdbWavesEffect (click)="serviceProviderOptionStep=serviceProviderOptionStep-1">Back</button>
					        <button *ngIf="serviceProviderOptionStep<2" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="serviceProviderOptionStep=serviceProviderOptionStep+1">Next</button>
					    </div>
					</div>

                
            </div>
        </div>
    </mdb-tab>

</mdb-tabset>


</div>