<div *ngIf="!realEstateAgent || !landlord" class="text-center">
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>



<div *ngIf="realEstateAgent && landlord" class="row">
  <div class="col-12">


    <div class="pb-4">
      <div class="pt-3">
        <section class="text-center">
          <h1 class="font-weight-bold pb-1">Smart contract</h1>          
          <div class="row justify-content-center text-left pt-3">

            <div *ngIf="isRealEstateAgent(userInfo.uid) && (!agreement.smartContract || agreement.smartContract.status =='pending')" class="col-md-6 mb-4">
              <div class="">
                <div class="col-1 col-md-2 float-left">
                    <mdb-icon *ngIf="!agreement.smartContract" fas icon="shield-alt" class="purple-text" size='4x'></mdb-icon>
                    <div *ngIf="agreement.smartContract?.status =='pending'" mdbTooltip="Wating for 12 blockchain confirmation" placement="right">
                      <mdb-icon fas icon="spinner" class="orange-text mr-5" size='4x'></mdb-icon>
                    </div>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="font-weight-bold">Create Ethereum Smart contract</h4>
                    <p class="grey-text">Permanently save your ESigned documents on the blockchain.</p>
                    <button [disabled]="agreement.smartContract?.status =='pending'" class="ml-0" type="button" mdbBtn color="secondary" size='sm' mdbWavesEffect (click)="gasAndGasPrice()">Create</button>
                </div>
              </div>
            </div>

            <div *ngIf="isLandlord(userInfo.uid) && (!agreement.smartContract || agreement.smartContract.status == 'pending')" class="col-md-6 mb-4 text-center">
              <mdb-icon fas icon="shield-alt" class="purple-text" size='3x'></mdb-icon>
              <h4 class="font-weight-bold">Ask your Real Estate Agent to deploy a Smart Contract in order to back up your documents on the blockchain</h4>
              <p class="grey-text">Documents saved on the blockchain are impossible to alter</p>
            </div>

            <div *ngIf="agreement.smartContract?.status =='confirmed'" class="text-center">
              <mdb-icon fas icon="shield-alt" class="purple-text pb-3" size='4x'></mdb-icon>
              <h4>
                <span class="font-weight-bold">Address: </span> <a [href]="etherscanURL+'/address/'+agreement.smartContract.address" target="_blank" rel="noopener">{{agreement.smartContract.address}}</a>
              </h4>
              <h4 class="pt-3">
                <span class="font-weight-bold">Transaction:</span>
              </h4>
              <h5>
                 Hash: <a [href]="etherscanURL+'/tx/'+agreement.smartContract.txHash" target="_blank" rel="noopener">{{agreement.smartContract.txHash}}</a>
              </h5>
              <h5>
                Fee: {{ newBigNumber(agreement.smartContract.gasUsed).times(newBigNumber(agreement.smartContract.gasPrice).times(newBigNumber(10).pow(-18))).toString(10) }} ETH
              </h5>
            </div>

          </div>
        </section>
      </div>
    </div>



  </div>
</div>



<div mdbModal #sendTX="mdbModal" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar" role="document">
          
      <div class="modal-content">
  
              
        <div class="modal-header">
            <img [src]="'./assets/' + 'ETH' + '2.png'" class="rounded-circle img-responsive">
        </div>
              
        <form [formGroup]="itemForm" (ngSubmit)='createSmartContract()'>      
          <div class="modal-body text-center mb-1">
    
            <div>
              <h5 class="mt-1 mb-2" *ngIf="!estimating">Confirm Creation</h5>
              <h5 class="mt-1 mb-2" *ngIf="estimating">Estimating Fee ...</h5>
    
              <div *ngIf="estimating">
                <mdb-spinner spinnerType="big" spinnerColor="blue" ></mdb-spinner>
              </div>
    
              <div *ngIf="!estimating">
                <div class="md-form ml-0 mr-0">
                    <input required formControlName="gasLimit" mdbInputDirective successMessage=' ' errorMessage=' ' type="number" id="gasLimit" class="form-control ml-0">
                    <label for="gasLimit" class="ml-0">Gas limit (UNITS)</label>
                </div>
                <div class="md-form ml-0 mr-0">
                    <input required formControlName="gasPriceInGWei" mdbInputDirective successMessage=' ' errorMessage=' ' type="number" id="gasPriceInGWei" class="form-control ml-0">
                    <label for="gasPriceInGWei" class="ml-0">Gas Price (Gwei)</label>
                </div>
                <div *ngIf="itemForm.value.gasLimit>0 && itemForm.value.gasPriceInGWei>0" class="md-form ml-0 mr-0 text-left">
                  <p>
                    <strong>Max Fee: </strong>
                    {{ newBigNumber(itemForm.value.gasLimit).times(newBigNumber(itemForm.value.gasPriceInGWei).times(newBigNumber(10).pow(-9))).toString(10) }} ETH                            
                  </p>
                  <p class="font-weight-bold">
                    Your balance in your Identity Wallet: {{ newBigNumber(balance).times(newBigNumber(10).pow(-18)).toNumber() }} ETH
                  </p>
                </div>
              </div>
    
              <div class="text-center">
                <button type="submit" [disabled]="submitting || !(itemForm.value.gasLimit>0) || !(itemForm.value.gasPriceInGWei>0) || estimating" class="btn btn-outline-default mt-1" mdbWavesEffect>
                  <span *ngIf="!submitting">Submit</span>
                  <span *ngIf="submitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <i class="fa fa-paper-plane-o ml-1"></i>
                </button>
              </div>
    
            </div>

    
          </div>
        </form>
  
      </div>
    </div>
</div>



<div mdbModal #txModal="mdbModal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Transaction sent successfully</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="txModal.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div *ngIf="agreement.smartContract" class="modal-body">
              <div class="text-center">
                <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                <strong class="pt-1 pr-2">Transaction hash:
                  <a [href]="etherscanURL+'/tx/'+agreement.smartContract.txHash" target="_blank" rel="noopener">{{agreement.smartContract.txHash}}</a>
                </strong>
              </div>
            </div>

        </div>
    </div>
</div>