<div class="py-5 mt-2">
    
    <div class="info-color pt-4 pb-2 font-weight-bold z-depth-1 white-text">
      <div class="row no-gutters justify-content-center">
        <div class="col text-center">
          <h3 class="h3-responsive text-capitalize">
              My Settings
          </h3>
        </div>
      </div>
    </div>

    <form [formGroup]="itemForm">
      <div class="row justify-content-center no-gutters mt-5 mx-1">
        <div class="col-md-8 text-center font-weight-bold border border-primary">
          <mdb-select *ngIf="!switchingRole" [options]="roleOptions" formControlName="role" placeholder="Choose role" class="colorful-select dropdown-default"></mdb-select>
          <div *ngIf="switchingRole" class="text-center">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </form>

</div>

<mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-3'" [contentClass]="'card'">
    
    <mdb-tab heading="Reset Password" (select)='selectedPanel=1'>
        <div class="row" *ngIf="selectedPanel==1">
            <div class="col-12">
                <br>
                <app-change-password [userInfo]='userInfo'></app-change-password>
            </div>
        </div>
    </mdb-tab>
    
    <mdb-tab heading="ID Verification Center" (select)='selectedPanel=2'>
        <div class="row" *ngIf="selectedPanel==2">
            <div class="col-12">
                <br>
                <app-id-verification-center></app-id-verification-center>
            </div>
        </div>
    </mdb-tab>

    <mdb-tab heading="Membership" (select)='selectedPanel=3'>
            <div class="row" *ngIf="selectedPanel==3">
                <div class="col-12">
                    <br>
                    <app-membership [userInfo]='userInfo'></app-membership>
                </div>
            </div>
        </mdb-tab>

</mdb-tabset>
