<div [ngStyle]="{'background-image':'url(assets/agreement-background-image.jpeg)'}">

  <div class="white-text rgba-black-strong rounded pt-3 px-4" style="height: 100vh !important;">
  
      <div class="row justify-content-center no-gutters">
          <div class="col-12">
            <h1 class="h1-responsive py-md-3 font-weight-bold text-center"><strong>Property Agreement</strong></h1>
          </div>
      </div>

      <div *ngIf="!landlord || !realEstateAgent" class="text-center py-5 mt-5">
        <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
      </div>

      <div *ngIf="landlord && realEstateAgent" class="row justify-content-center no-gutters">
          <div *ngIf="isRealEstateAgent(userInfo.uid)" class="col-12 text-center pb-md-0 pb-2">
              <button *ngIf="agreement.listingID" mdbBtn color="info" rounded="true" type="button" mdbWavesEffect (click)="viewListing()">View listing</button>
              <button *ngIf="!agreement.listingID" mdbBtn color="info" rounded="true" type="button" mdbWavesEffect (click)="newListing()">List Property</button>
          </div>

          <div *ngIf="agreement.status === 'endingLease'" class="col-12 pt-2 text-center">
            <h4 class="font-weight-bold">Pending request to end Lease</h4>
            <button *ngIf="agreement.requestedBy !== userInfo.uid" mdbBtn type="button" color='danger' rounded="true" mdbWavesEffect (click)='panelShown(4)'>
                End Lease
            </button>
          </div>

          <div class="col-md-6 pt-md-5 pt-0 black-text">
              <mdb-card class="text-center">
                  <h2 *ngIf="isRealEstateAgent(userInfo.uid)" class="blue-text py-3 font-weight-bold">Landlord</h2>
                  <h2 *ngIf="isLandlord(userInfo.uid)" class="blue-text py-3 font-weight-bold">Real Estate Agent</h2>
                  <div class="row justify-content-center">
                    <div class="col-md-3 col-6 text-center">
                      <img *ngIf="isRealEstateAgent(userInfo.uid)" [src]="landlord.photo || 'assets/noProfilePicture.png'"  class="avatar rounded-circle z-depth-1-half img-fluid clickable">
                      <img *ngIf="isLandlord(userInfo.uid)" [src]="realEstateAgent.photo || 'assets/noProfilePicture.png'"  class="avatar rounded-circle z-depth-1-half img-fluid clickable">
                    </div>

                    <div class="col-md-8 col-12">
                      <div class="row">
                        <div class="col-md-auto col-12 px-0">
                          <h2 class="text-center text-capitalize h2-responsive">
                            <span *ngIf="isRealEstateAgent(userInfo.uid)" class="clickable">{{landlord.firstName}} {{landlord.lastName}} </span>
                            <span *ngIf="isLandlord(userInfo.uid)" class="clickable">{{realEstateAgent.firstName}} {{realEstateAgent.lastName}} </span>
                            <app-membership-icon *ngIf="isRealEstateAgent(userInfo.uid)" [pricingPlan]='landlord.membership.pricingPlan'></app-membership-icon>
                            <app-membership-icon *ngIf="isLandlord(userInfo.uid)" [pricingPlan]='realEstateAgent.membership.pricingPlan'></app-membership-icon>
                          </h2>
                        </div>
                        <div class="col-12">
                          <h3 class="text-center text-md-left pb-2 h3-responsive">
                            <span *ngIf="isRealEstateAgent(userInfo.uid)" class="badge badge-warning mr-1">{{landlord.landlord.score}}</span>
                            <span *ngIf="isLandlord(userInfo.uid)" class="badge badge-warning mr-1">{{realEstateAgent.realEstateAgent.score}}</span>
                            <app-score *ngIf="isRealEstateAgent(userInfo.uid)" [score]='landlord.landlord?.score'></app-score>
                            <app-score *ngIf="isLandlord(userInfo.uid)" [score]='realEstateAgent.realEstateAgent.score'></app-score>
                            <small *ngIf="isRealEstateAgent(userInfo.uid)" class="grey-text text-right"> ({{landlord.landlord.reviews}} 
                              <span *ngIf="landlord.landlord?.reviews==1"> review</span> <span *ngIf="landlord.landlord?.reviews!=1"> reviews</span>)
                            </small>
                            <small *ngIf="isLandlord(userInfo.uid)" class="grey-text text-right"> ({{realEstateAgent.realEstateAgent.reviews}} 
                              <span *ngIf="realEstateAgent.realEstateAgent.reviews==1"> review</span> <span *ngIf="realEstateAgent.realEstateAgent.reviews!=1"> reviews</span>)
                            </small>
                          </h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-10 py-3">
                      <div class="text-center">
                        <a mdbBtn color="success" rounded="true" block="true" mdbWavesEffect  (click)="chatComponent.openMessagesModal(openMessagesObj)">Chat</a>
                      </div>
                    </div>
                  </div>
              </mdb-card>
          </div>
          
      </div>

  </div>
</div>


<app-chat #chatComponent [userInfo]='userInfo' [agreement]='agreement'></app-chat>