<div class="pt-5 mt-md-2">
</div>


<div *ngIf="!listing" class="text-center pt-5 mt-5">
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>


<section *ngIf="listing" class="section">

    <div class="" [ngStyle]="{'background-image':'url('+ listing.photos[0].img+')'}">
        <div class="white-text rgba-black-strong py-5 px-4" style="height: 100vh !important;">
            <div class="pt-md-3">

                <div class="row justify-content-md-center">
                  <div *ngIf="isRecommended(listing.recommendedUntil)" class="col-12">
                      <h3 class="text-center"><span class="badge badge-success"><i class="fa fa-star pl-1 waves-light"></i> Recommended</span></h3>
                  </div>
                  <div class="col-md-6">
                    <h3 class="text-center text-md-left pb-1 pb-md-3"><span class="badge badge-info">{{listing.type.toUpperCase()}}</span></h3>
                  </div>
                  <div class="col-md-3">
                    <p class="text-center white-text pb-1 pb-md-3">{{listing.address}} <span *ngIf="listing.unit">| Unit {{listing.unit}}</span></p>
                  </div>
                </div>



                <div class="row justify-content-md-center">


                  <div class="col-md-6">

                    <h1 class="h1-responsive py-md-3 font-weight-bold text-center text-md-left"><strong>{{listing.name}}</strong></h1>
      
                    <div class="text-center text-md-left pb-3">
                      <ul class="list-unstyled list-inline font-small mt-3">
                        <li class="list-inline-item pr-2">
                          <i class="fa fa-bed fa-2x pr-1"></i>
                          <span *ngIf="listing.numOfBeds=='Studio'"> Studio</span>
                          <span *ngIf="listing.numOfBeds!='Studio'"> {{listing.numOfBeds}} Bed(s)</span>
                        </li>
                        <li class="list-inline-item pr-2">
                            <i class="fa fa-bath fa-2x pr-1"></i> {{listing.numOfBaths}} Bath(s)
                        </li>
                        <li class="list-inline-item pr-2">
                            <i class="fa fa-square fa-2x pr-1"></i> {{listing.sqft}} Sq Ft
                        </li>
                      </ul>
                    </div>

                    <div *ngIf="userInfo && userInfo.uid==listing.user.uid && listing.status=='listed' && !isRecommended(listing.recommendedUntil)">
                      <button mdbBtn type="button" color="success" rounded="true" mdbWavesEffect (click)="openFeesAndChargesModal('highlightListing')">
                        Highlight Listing
                      </button>
                    </div>
                  </div>

                  <div class="col-md-3 black-text">

                    <mdb-card class="text-center">
                      <mdb-card-body>
                        <h3 class="grey-text">Monthly price</h3> 					
                        <h3 class="font-weight-bold">{{listing.rentAmount}} USD</h3>
                        <span class="grey-text">Security deposit: {{listing.securityDepositAmount}} USD </span>
                      </mdb-card-body>
                      <mdb-card-footer class="mdb-color lighten-3 py-0 text-center">
                        <ul class="list-unstyled list-inline font-small mt-3">
                          <li class="list-inline-item pr-2 white-text">
                            Available from: <i class="fa fa-clock-o pr-1"></i>{{availableFrom}}
                          </li>
                          <li *ngIf="userInfo && (listing.user.role != 'real estate agent' || listing.includesLandlord)" class="list-inline-item pr-2 white-text">
                            <a [mdbTooltip]="listing.applicants + (listing.applicants==1? ' Applicant': ' Applicants')">
                            <i class="fa fa-user-o pr-1"></i>{{listing.applicants}}
                            </a>
                          </li>
                        </ul>
                      </mdb-card-footer>
                    </mdb-card>

                    <!-- <mdb-card class="text-center mt-3">
                        <mdb-card-body>
                          <p class="green-text font-weight-bold mb-0">
                            <span *ngIf="listing.typeOfContract=='ethereum smart contract'" mdbTooltip='Only Identity Wallet and Ethereum can be used for payments and smart contract'>
                              Uses Ethereum Smart Contract
                            </span>
                            <span *ngIf="listing.typeOfContract=='traditional contract'" mdbTooltip='Many cryptocurrencies can be used for payments'>
                              Uses Traditional Contracts
                            </span>
                          </p>
                        </mdb-card-body>
                    </mdb-card> -->
                  
                  </div>
                </div>



                <div *ngIf="userInfo && userInfo.uid==listing.user.uid">
                  <h4 class="text-center pt-2 pl-1 pb-2" [mdbTooltip]="tooltipText(listing.status)">
                    Status: 
                    <span class="badge" [ngClass]="{'badge-warning': listing.status=='pending', 
                                                    'badge-danger': listing.status=='rejected', 
                                                    'badge-success': listing.status=='listed',
                                                    'badge-info': listing.status=='rented',
                                                    'badge-secondary': listing.status=='wating for landlord confirmation'}">
                      {{listing.status.toUpperCase()}}
                    </span>
                  </h4>

                  <h5 *ngIf="listing.status=='rejected'" class="text-center pb-2">Reason: {{listing.rejectionReason}}</h5>

                  <div class="text-center py-3">
                    <button *ngIf="listing.status!='rented'" mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect (click)="openRejectionModal('deleteListing')">
                      Delete listing
                    </button>
                    <button *ngIf="listing.status=='listed'" mdbBtn type="button" color="secondary" rounded="true" mdbWavesEffect (click)="openMarkAsRentedModal()">
                      Mark as Rented
                    </button>
                    <button *ngIf="listing.status=='pending' || listing.status=='rejected' || listing.status =='wating for landlord confirmation'" mdbBtn type="button" color="secondary" rounded="true" mdbWavesEffect 
                      [routerLink]="['/listings/edit/'+listing.id]">
                      Edit listing
                    </button>
                  </div>
                </div>



                <div *ngIf="!userInfo || userInfo.uid != listing.user.uid" class="text-center pt-2">
                  <mdb-spinner *ngIf="loadingApplication" spinnerType="big" spinnerColor="blue"></mdb-spinner>

                  <div *ngIf="!loadingApplication && listing.status=='listed'">
                    <p *ngIf="userInfo && application && application.applicant.status!='selected'">You already applied here</p>
                    <p *ngIf="userInfo && isTenant">You're already a Tenant of this property</p>
                    <a *ngIf="(!userInfo || (!application && !isTenant)) && (listing.user.role != 'real estate agent' || (listing.includesLandlord && (!userInfo || listing.landlord.uid != userInfo.uid)))" mdbBtn color="info" rounded="true" mdbWavesEffect size="lg" (click)="apply()">Apply now</a>
                    <a *ngIf="listing.user.role == 'real estate agent' && !listing.includesLandlord" mdbBtn color="info" rounded="true" mdbWavesEffect size="lg" (click)="openContactAdvertiserModal()">Contact</a>
                    <a *ngIf="userInfo && application && application.applicant.status!='selected'" mdbBtn color="danger" rounded="true" mdbWavesEffect size="lg" (click)="openRejectionModal('deleteApplication')">Delete</a>
                    <a *ngIf="userInfo && application && application.applicant.status!='selected'" mdbBtn color="info" rounded="true" mdbWavesEffect size="lg" (click)="apply()">Edit</a>
                  </div>

                  <div *ngIf="!loadingApplication && application && application.applicant.status=='selected'" class="pt-2 pt-md-5">
                    <h4 class="pb-md-3">
                      <span class="badge badge-secondary">Congratulations. You've been selected</span>
                    </h4>  
                    <a mdbBtn color="danger" rounded="true" mdbWavesEffect size="lg" (click)="openRejectionModal('deleteApplication')">Retract</a>
                    <a mdbBtn color="info" rounded="true" mdbWavesEffect size="lg" (click)="moveInModal.show()">Move in now</a>
                  </div>

                  <div *ngIf="listing.status=='rented'" class="pt-2 pt-md-5">
                    <h2 class="pb-md-3">
                      <span class="badge badge-info">{{listing.status.toUpperCase()}}</span>
                    </h2>
                  </div>
                </div>

                
            </div>
        </div>
    </div>

</section>




<div *ngIf="listing" class="mdb-color pt-5 pt-md-0">
	<div class="container px-md-5">
		<div class="row">
	  	<mdb-image-modal [modalImages]="listing.photos" type="margin"></mdb-image-modal>
		</div>
	</div>
</div>


<div *ngIf="listing" class="row no-gutters justify-content-center rgba-teal-strong white-text pt-2 pb-3">    
  <h2 class="h1 font-weight-bold text-center mb-5 pt-4 col-12">{{listing.type}} Description</h2>
  <h5 class="text-center h5-responsive mb-5 pb-3 col-md-8 col-10">{{listing.details}}</h5>
  <div class="col-12 row justify-content-center no-gutters">
    <div class="col-md-10">
      <mdb-card class="black-text">
        <mdb-card-body>
          <h1 class="text-center pb-2 font-weight-bold">Amenities</h1>

          <ul *ngIf="listing.amenities && listing.amenities!={}" class="row justify-content-between no-gutters amenities-list">
              <li *ngFor="let amenity of amenities" class="col-5 pb-3 font-weight-bold">
                <span *ngIf="listing.amenities[amenity.id]" class="amenities-icon {{amenity.id}}"></span>
                <span *ngIf="listing.amenities[amenity.id]"> {{amenity.name}} </span>
              </li>
          </ul>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>




<div *ngIf="userInfo && listing && (listing.user.role != 'real estate agent' || listing.includesLandlord)" class="row no-gutters justify-content-center py-md-5 blue-grey">
  <div class="col-md-10">
    <mdb-card class="black-text">
      <mdb-card-body>

        <div class="comments-list text-left">
            <div class="section-heading">
                <div *ngIf="userInfo && userInfo.uid!=listing.user.uid && application && !application.applicant.isHighlighted" class="text-right">
                  <button mdbBtn type="button" color="secondary" rounded="true" mdbWavesEffect (click)="openFeesAndChargesModal('highlightApplication')">
                    Highlight my application
                  </button>
                </div>
                <h3 class="pb-2 text-center text-md-left">Applicants <span class="badge blue">{{listing.applicants}}</span></h3>
            </div>

            <div *ngIf="!applications" class="text-center pt-5">
              <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
            </div>

            <div *ngIf="applications">
              <div *ngFor="let applicationInfo of applications" class="row" [ngClass]="{'deep-orange':applicationInfo.applicant.isHighlighted, 'lighten-5':applicationInfo.applicant.isHighlighted}">
                  <div class="col-md-2 col-12 text-center">
                      <img [src]="applicationInfo.applicant.photo || './assets/noProfilePicture.png'" class="avatar rounded-circle z-depth-1-half" 
                        style="cursor:pointer" (click)="viewProfile(applicationInfo.applicant.uid)">
                  </div>

                  <div class="col-md-7 col-12">
                      <div class="row">
                        <div class="col-md-auto col-12">
                          <h3 class="text-center text-capitalize"><span style="cursor:pointer" (click)="viewProfile(applicationInfo.applicant.uid)">{{applicationInfo.applicant.firstName}} {{applicationInfo.applicant.lastName}} </span>
                            <i *ngIf="applicationInfo.applicant.membership.pricingPlan=='free'" mdbTooltip='Free Member' class="fa fa-certificate grey-text font-weight-bold" aria-hidden="true"></i>
                            <i *ngIf="applicationInfo.applicant.membership.pricingPlan=='basic'" mdbTooltip='Basic Member' class="fa fa-certificate indigo-text font-weight-bold" aria-hidden="true"></i>
                            <i *ngIf="applicationInfo.applicant.membership.pricingPlan=='plus'" mdbTooltip='Plus Member' class="fa fa-certificate purple-text font-weight-bold" aria-hidden="true"></i>
                            <i *ngIf="applicationInfo.applicant.membership.pricingPlan=='professional'" mdbTooltip='Professional Member' class="fa fa-certificate cyan-text font-weight-bold" aria-hidden="true"></i>
                            <i *ngIf="applicationInfo.applicant.membership.pricingPlan=='enterprise'" mdbTooltip='Enterprise Member' class="fa fa-certificate text-warning font-weight-bold" aria-hidden="true"></i>
                          </h3>
                        </div>
                        <div class="col-md-auto col-12 text-center text-md-left grey-text pt-md-2 pb-2 pb-md-0"><i class="fa fa-clock-o"></i><span mdbTooltip='Application date'>{{publishDate(applicationInfo.creationTS)}}</span></div>
                        <div class="col-12">
                          <h4 class="text-center text-md-left pb-2">
                            <span class="badge badge-warning mr-1">{{applicationInfo.applicant.tenant.score}}</span>
                            <app-score [score]='applicationInfo.applicant.tenant.score'></app-score>
                            <small class="grey-text text-right"> ({{applicationInfo.applicant.tenant.reviews}} 
                              <span *ngIf="applicationInfo.applicant.tenant.reviews==1"> review</span> <span *ngIf="applicationInfo.applicant.tenant.reviews!=1"> reviews</span>)
                            </small>
                          </h4>
                        </div>
                        <div *ngIf="userInfo.uid==applicationInfo.applicant.uid || userInfo.uid==listing.user.uid" class="col-12">
                          <p class="comment-text">{{applicationInfo.applicant.message}}</p>
                        </div>
                      </div>
                  </div>
                  
                  <div class="col-md-3 col-12">
                    <mdb-card class="text-center">
                      <mdb-card-body>
                        <h4>Custom Offer</h4>
                        <p>Monthly Rent: {{applicationInfo.applicant.offer.rentAmount}} USD</p>
                        <p>Security Deposit: {{applicationInfo.applicant.offer.securityDepositAmount}} USD</p>
                      </mdb-card-body>
                    </mdb-card>

                    <div *ngIf="userInfo.uid==applicationInfo.applicant.uid" class="text-center mt-1">
                      <a mdbBtn color="danger" rounded="true" mdbWavesEffect (click)="openRejectionModal('deleteApplication')">Delete</a> 
                      <a *ngIf="applicationInfo.applicant.status!='selected'" mdbBtn color="info" rounded="true" mdbWavesEffect (click)="apply()">Edit</a>
                      <!-- <a *ngIf="applicationInfo.applicant.status=='selected'" mdbBtn size="sm" color="info" rounded="true" mdbWavesEffect (click)="moveInModal.show()">Move in</a> -->
                      <a *ngIf="applicationInfo.applicant.status=='selected'" mdbBtn color="success" rounded="true" outline="true" mdbWavesEffect (click)="chatComponent.openMessagesModal(openMessagesObj(applicationInfo.applicant))">Chat</a>
                    </div>
                    <div *ngIf="userInfo.uid==listing.user.uid" class="text-center mt-1">
                      <a *ngIf="listing.status=='listed' && applicationInfo.applicant.status!='selected'" mdbBtn size="sm" color="info" rounded="true" mdbWavesEffect (click)="opentAcceptApplicationModal(applicationInfo.applicant)">Accept</a>
                      <a *ngIf="listing.status=='listed' || listing.status=='rented'" mdbBtn size="sm" color="success" rounded="true" outline="true" mdbWavesEffect (click)="chatComponent.openMessagesModal(openMessagesObj(applicationInfo.applicant))">Chat</a>
                      <a *ngIf="applicationInfo.applicant.status=='selected'" mdbBtn size="sm" color="danger" rounded="true" mdbWavesEffect (click)="openRejectionModal('retractApplication', applicationInfo.applicant)">Retract</a>
                    </div>
                  </div>
                  <div class="col-12"><hr></div>
              </div>
            </div>

        </div>  
        <div mt-1></div>
      
      </mdb-card-body>
    </mdb-card>
  </div>
</div>





<div mdbModal #applyModal="mdbModal" style="overflow: auto;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" (opened)="applyModalShown()" (closed)="applyModalHidden()">
  <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="applyModal.hide()">
          <span class="white-text" aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title heading w-100" id="myModalLabel">Apply</h4>
      </div>
      <form [formGroup]="applyForm" (ngSubmit)="submitApplication()">
        <div class="modal-body px-md-5">

          <h2 class="text-center font-weight-bold pt-3">Your Offer</h2>

          <div class="row">
            <div class="col-md-8 md-form">
              <i class="fa fa-money prefix grey-text"></i>
              <input mdbInputDirective type="number" id="form-rentAmount" class="form-control" formControlName="rentAmount" successMessage=" " errorMessage=' ' require>
              <label for="form-rentAmount" class="pl-3">Monthly Rent (USD)</label>
            </div>
            <div class="col-md-4 pt-md-4">
              <p>Highest offer: 
                <span *ngIf="!highestOffer" class="font-weight-bold">Loading...</span>
                <span *ngIf="highestOffer" class="font-weight-bold">{{highestOffer.rentAmount}} USD</span>
              </p>
            </div>
            <div class="col-md-8 md-form">
              <i class="fa fa-money prefix grey-text"></i>
              <input mdbInputDirective type="number" id="form-securityDepositAmount" class="form-control" formControlName="securityDepositAmount" successMessage=" " errorMessage=' ' require>
              <label for="form-securityDepositAmount" class="pl-3">Security Deposit (USD)</label>
            </div>
            <div class="col-md-4 pt-md-4">
              <p>Highest offer: 
                <span *ngIf="!highestOffer" class="font-weight-bold">Loading...</span>
                <span *ngIf="highestOffer" class="font-weight-bold">{{highestOffer.securityDepositAmount}} USD</span>
              </p>
            </div>
            <div class="col-12 md-form">
              <i class="fa fa-pencil prefix grey-text"></i>
              <textarea mdbInputDirective type="text" length="1000" mdbCharCounter formControlName="message" id="form8" class="md-textarea form-control" rows="3" successMessage=" " errorMessage=' ' ></textarea>
              <label for="form8" class="pl-3">What makes you the best canditate?</label>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" [disabled]='submitting' mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="applyModal.hide()" mdbWavesEffect>Close</button>
          <button type="submit" [disabled]='!applyForm.valid || submitting' mdbBtn color="success" class="relative waves-light" mdbWavesEffect>
            <span *ngIf="!submitting">Submit</span>
            <span *ngIf="submitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <!-- <span *ngIf="submitting">Submitting</span> -->
          </button>
        </div>
      </form>
    </div>
  </div>
</div>





<div mdbModal #rejectionModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>
      
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>
      
      <div class="modal-footer flex-center">
        <button type="button" [disabled]='rejecting' mdbBtn color="danger" outline="true" class="waves-effect"
          mdbWavesEffect (click)="rejectAction()" >
          <span *ngIf="!rejecting">Yes</span>
          <span *ngIf="rejecting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        <button type="button" [disabled]='rejecting' mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="rejectionModal.hide()">No</button>
      </div>
    </div>
  </div>
</div>





<div mdbModal #acceptApplicationModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-success" role="document">
    
    <div *ngIf="applicantToAccept" class="modal-content text-center">
    
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">You'd like <span class="text-capitalize">{{applicantToAccept.firstName}} {{applicantToAccept.lastName}}</span> to be your Tenant?</p>
      </div>
      
      <div class="modal-body">
        <!-- <i class="fa fa-user fa-4x"></i> -->
        <div class="text-center">
          <img [src]="applicantToAccept.photo || './assets/noProfilePicture.png'" class="avatar rounded-circle z-depth-1-half">
        </div>
      </div>
      
      <div class="modal-footer flex-center">
        <button type="button" [disabled]="acceptingApplication"mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="acceptApplicationModal.hide()">No</button>
        <button type="button" [disabled]="acceptingApplication" mdbBtn color="success" class="waves-effect" mdbWavesEffect (click)="acceptApplication()" >
          <span *ngIf="!acceptingApplication">Yes</span>
          <span *ngIf="acceptingApplication" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    
  </div>
</div>





<div mdbModal #moveInModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-success" role="document">
    
    <div class="modal-content text-center">
    
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">You'd like to move in to this property?</p>
      </div>
      
      <div class="modal-body">
        <i class="fa fa-home fa-4x animated fadeIn"></i>
      </div>
      
      <div class="modal-footer flex-center">
        <button type="button" [disabled]="movingIn"mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="moveInModal.hide()">No</button>
        <button type="button" [disabled]="movingIn" mdbBtn color="success" class="waves-effect" mdbWavesEffect (click)="moveIn()">
          <span *ngIf="!movingIn">Yes</span>
          <span *ngIf="movingIn" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    
  </div>
</div>



<div mdbModal #markAsRentedModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-warning" role="document">
    
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">This property was rented?</p>
      </div>
      
      <div class="modal-body">
        <i class="fas fa-check fa-4x animated rotateIn"></i>
        <p class="red-text font-weight-bold">This action is irreversible. No user will be able to apply anymore.</p>
        <!-- <mdb-icon fas icon="check"></mdb-icon> -->
      </div>
      
      <div class="modal-footer flex-center">
        <button type="button" [disabled]='markingAsRented' mdbBtn color="warning" outline="true" class="waves-effect"
          mdbWavesEffect (click)="markListingAsRented()" >
          <span *ngIf="!markingAsRented">Yes</span>
          <span *ngIf="markingAsRented" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        <button type="button" [disabled]='markingAsRented' mdbBtn color="warning" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="markAsRentedModal.hide()">No</button>
      </div>
    </div>
  </div>
</div>



<div mdbModal #feesAndChargesModal="mdbModal" style="overflow: auto;" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success modal-lg" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p *ngIf="feesAndChargesAction == 'highlightListing'" class="heading text-capitalize">Highlight your listing</p>
        <p *ngIf="feesAndChargesAction == 'highlightApplication'" class="heading text-capitalize">Highlight your application</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="feesAndChargesModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <p *ngIf="feesAndChargesAction == 'highlightListing'" class="text-center font-weight-bold">Let your listing be the first seen by the world by pinning it to the top of the properties list</p>
        <h2 *ngIf="feesAndChargesAction == 'highlightListing'" class="h2-responsive text-center">Fee: 10 USD</h2>

        <p *ngIf="feesAndChargesAction == 'highlightApplication'" class="text-center font-weight-bold">Be the first applicant seen by the Landlord by being pinned to the top of the applicants list</p>
        <h2 *ngIf="feesAndChargesAction == 'highlightApplication'" class="h2-responsive text-center">Fee: 5 USD</h2>

        <h5 *ngIf="!currencySelected" class="text-center">Select currency</h5>
        <h5 *ngIf="currencySelected && !amountToPay" class="text-center">Loading...</h5>
        <h5 *ngIf="currencySelected && amountToPay" class="text-center">Amount in {{currencySelected.name}}: <strong>{{amountToPay}} {{currencySelected.currency}}</strong></h5>
        
        <div *ngIf="!currencies" class="pt-3 text-center">
            <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
        </div>

        <div *ngIf="currencies" class="row justify-content-center">
          <div *ngFor="let item of currencies" class="col-6 col-sm-4 col-lg-auto pt-3" (click)="selectCurrency(item)" style="cursor:pointer" >
            <mdb-card [ngClass]="{'border': currencySelected && currencySelected.currency==item.currency, 'border-warning': currencySelected && currencySelected.currency==item.currency }">
              <mdb-card-body>
                <img [src]='"./assets/coins/" + item.currency + ".png"' class="img-fluid">
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>

        <p *ngIf="currencySelected && userInfo" class="text-center font-weight-bold pt-3">
          Your balance: 
          <span *ngIf="!userInfo.balances[currencySelected.currency]">0</span>
          <span *ngIf="userInfo.balances[currencySelected.currency]">{{formatBalance(userInfo.balances[currencySelected.currency].available)}}</span>
          {{currencySelected.currency}}
        </p>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button type="button" [disabled]='submittingFeesAndChargesAction' mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal"
        (click)="feesAndChargesModal.hide()">Cancel</button>
        <button type="button" [disabled]='!currencySelected || !currencies || !amountToPay || submittingFeesAndChargesAction' mdbBtn 
          color="success" class="waves-effect" mdbWavesEffect (click)="submitFeesAndChargesAction()">
          <span *ngIf="!submittingFeesAndChargesAction">Confirm</span>
          <span *ngIf="submittingFeesAndChargesAction" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>



<div mdbModal #contactAdvertiserModal="mdbModal" style="overflow: auto;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="contactAdvertiserModal.hide()">
          <span class="white-text" aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title heading w-100" id="myModalLabel">Contact Advertiser</h4>
      </div>
      <form [formGroup]="contactAdvertiserForm" (ngSubmit)='contactAdvertiser()'>
        <div class="modal-body px-md-5">

          <div class="row">
            <div class="col-12 md-form">
              <i class="fa fa-pencil prefix grey-text"></i>
              <textarea mdbInputDirective type="text" length="1000" mdbCharCounter formControlName="message" id="form8" class="md-textarea form-control" rows="3" successMessage=" " errorMessage=' ' ></textarea>
              <label for="form8" class="pl-3">Message</label>
            </div>

            <div class="col-md-12 md-form">
              <i class="fa fa-email prefix grey-text"></i>
              <input mdbInputDirective type="text" id="form-1" class="form-control" formControlName="email" successMessage=" " errorMessage=' ' require>
              <label for="form-1" class="pl-3">Email</label>
            </div>
            <div class="col-md-12 md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input mdbInputDirective type="text" id="form-1" class="form-control" formControlName="name" successMessage=" " errorMessage=' ' require>
                <label for="form-1" class="pl-3">Name</label>
              </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" [disabled]='contactingAdvertiser' mdbBtn color="secondary" (click)="contactAdvertiserModal.hide()" mdbWavesEffect>Close</button>
          <button type="submit" [disabled]='!contactAdvertiserForm.valid || contactingAdvertiser' mdbBtn color="success" mdbWavesEffect>
            <span *ngIf="!contactingAdvertiser">Submit</span>
            <span *ngIf="contactingAdvertiser" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<app-chat #chatComponent [userInfo]='userInfo' [applications]='applications'></app-chat>