<div class="py-5 mt-2">
  <div class="info-color pt-4 pb-2 font-weight-bold z-depth-1 white-text">
      <div class="row no-gutters justify-content-center">
          <div class="col text-center">
              <h3 class="h3-responsive text-capitalize">
                My Listings
              </h3>
          </div>
      </div>
  </div>
</div>



<div class="row no-gutters justify-content-center pb-4">
	<a class="btn btn-outline-warning btn-lg waves-light" (click)="listProperty()" mdbWavesEffect>New Listing <i class="fa fa-home fa-2x ml-1"></i></a>
</div>



<div class="px-md-5">
  <mdb-card>
    <div class="table-responsive no-gutters">
      <table mdbTable hover="true" class="text-center">
        <thead class="unique-color white-text z-depth-2">
          <tr *ngIf="userInfo" mdbTableCol>
            <th>Date</th>
            <th>Listing</th>
            <th>Location</th>
            <th>Applicants</th>
          </tr>
        </thead>
        <tbody *ngIf="listings && listings.length>0">
          <tr *ngFor="let listing of listings" mdbTableCol style="cursor: pointer;" [routerLink]="['/listings/details/' + listing.id]">
            <td>{{createdAt(listing.creationTS)}}</td>
            <td>{{listing.name}}</td>
            <td>{{listing.address}}</td>
            <td>
              <span *ngIf="listing.user.role === 'real estate agent' && !listing.includesLandlord"> - </span>
              <span *ngIf="listing.user.role !== 'real estate agent' || listing.includesLandlord">{{listing.applicants}}</span>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="!listings" class="text-center">
        <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
      </div>

      <div *ngIf="listings && listings.length==0" class="text-center pt-5 pb-3">
        <h3><strong>No Listings saved</strong></h3>
      </div>
    </div>
  </mdb-card>
</div>
