
<div *ngIf='status==0'>
    <div class="row no-gutters justify-content-center pb-4">
      <div class="col col-md-4 col-sm-8">
        <div class="card card-cascade">
            <div class="view view-cascade gradient-card-header info-color-dark">
              <h2 class="h2-responsive mb-2">Account recovery</h2>
            </div>
            <mdb-progress-bar *ngIf="submiting" class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
            <div class="card-body">
                <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
                    <h4 class="h4-responsive text-center mb-2">Enter your email and we will send a reset password link to you</h4>
                    
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="orangeForm-email" class="form-control" formControlName="email" successMessage=" " [errorMessage]="emailErrorMessage()" mdbInputDirective>
                        <label for="orangeForm-email">Email</label>
                    </div>

                    <div class="md-form">                    
                        <div class="row justify-content-center">
                          <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" 
                              [site_key]="recapchaKey"
                              language="en">                        
                          </re-captcha>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="col btn btn-info waves-light" mdbWavesEffect
                        [disabled]=" submiting || !itemForm.valid || !captchaProcessed">
                            <span *ngIf="!submiting">Send link</span>
                            <span *ngIf="submiting">Sending...</span>   
                        </button>
                    </div>
                    <div class="modal-footer">
                        <div class="options">
                            <p><a [routerLink]="['/account/login']">Login</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
     </div>
    </div>
</div>

<div *ngIf='status==1'>
  <div class="row no-gutters mt-5 pt-5 justify-content-md-center">
    <div class="col col-md-4">
      <div class="card card-cascade">
        <div class="view view-cascade gradient-card-header info-color-dark">
          <h2 class="h2-responsive mb-2">            
             Please, check your email     
          </h2>
        </div>
      <div class="card-body">
        <h3 class="text-center">
          We've sent you a reset password link.
        </h3>
        <button type="button" class="col btn btn-info waves-light" mdbWavesEffect  (click)='resend()'>
          Resend
        </button>   
      </div>
    </div>
  </div>
  </div>
</div>
