<div class="pt-5 pb-5 mt-2">

	<div class="">
		<div class="">
			<div class="card card-cascade">
				<div class="view view-cascade gradient-card-header info-color">
          <p class="h1-responsive text-center text-capitalize d-inline">Frequently Asked Questions (FAQ)</p>
        </div>
			</div>	
		</div>
	</div>
</div>


<div class="container animated fadeInLeft">

	<h3 class="text-center font-weight-bold text-center pb-3">General</h3>

	<mdb-accordion [multiple]="false" aria-multiselectable="true">

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							What's {{app.name}}?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p class="">
					    		<strong>{{app.name}} is a blockchain based platform which enables Landlord to list properties for rent, successively create an easy, securely and safely Smart Contract and then deploy it to the public Ethereum Network, which will only work once both Parties have signed the agreement with their blockchain private keys. Built with blockchain Technology and Smart Contracts, which makes it the most transparent process possible and fosters trust between the parties.
					    		</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							How {{app.name}} works?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>Please, check our how-it-works section by <a [routerLink]="['/how-it-works']">clicking here.</a></strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							What's Ethereum?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>Ethereum is a decentralized platform that runs smart contracts: applications that run exactly as programmed without any possibility of downtime, censorship, fraud or third-party interference.These apps run on a custom built blockchain, an enormously powerful shared global infrastructure that can move value around and represent the ownership of property.
					    		</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							What's a Smart Contract?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>A smart contract is a computer protocol intended to digitally facilitate, verify, or enforce the negotiation or performance of a contract. Smart contracts allow the performance of credible transactions without third parties. These transactions are trackable and irreversible.
					    		</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							What's the difference between Traditional Contracts and Smart Contracts?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
								<div class="overlay rounded waves-light text-center" mdbWavesEffect>
					            <img src="./assets/contract5.png" class="img-fluid">
					            <a>
					                <div class="mask rgba-white-slight"></div>
					            </a>
					        </div>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							Why do I have an Ethereum Wallet created along with my account?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
								<strong>
					    	<p>A wallet is created along with your account for the following reasons:
					    	</p>
					    	<ul class="text-left">
					    		<li>
					    			It's required to have an address/private key which can identify the user in the Ethereum Network, for example for blockchain signatures.
					    		</li>
					    		<li>
					    			Contract creation, and interaction with it (for example, deposits, withdrawals, disputes,etc.) costs miner fee in the Ethereum Network, so the contract can process the action and save the record in the blockchain.
					    		</li>
					    	</ul>
					    </strong>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							Can I use my wallet outside the platform to interact with my Rental Aggreement Smart Contract?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>Yes, you can export your wallet file and use it in other platforms, to interact with your contract, these also includes, parity wallet and mist. However, it's obviously easier to use the wallet inside the platform since it has a built-in interface for your exact needs.
					    		</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							Are the Rental Aggreement clauses written in the Smart Contract?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>Yes!, The rental aggreement document is generated based on the clauses saved in the smart contract which resides in the Ethereum network, so they are also visible through a blockchain explorer, you'll be provided with the contract source code, abi, and all related info. However, since the clauses are saved in the form of numbers, to know what it means it's a bit tricky, so a tutorial will be provided soon so you can read it easily.
					    		</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							How Smart Contract Escrow account works?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>Besides saving the clauses, the smart contract is also capable of saving the rent payment for you, so there's no need to deposit the payment to a bank account anymore.
					    		</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>		

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							Can I see the record of the activities in my Rental Aggreement in a blockchain explorer?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>Yes, every action taken is a transaction saved on blockchain, however, {{app.name}} offers a user-friendly interface so you can see it much understandably.
					    		</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>	

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
						What happens if a ticket is open at the moment of a payment?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>The paymement will be locked until the ticket is closed. The ticket can be closed either by the Tenant or an admin.
					    		</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							What cryptocurrencies does the platform support?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>Ethereum is the only cryptocurrency supported for the moment, since it's used to deploy the smart contract, however, we'll be adding more cryptocurrencies which meet this requirement soon.
					    		</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							When can I get access to the panel/dashboard?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>Any type of entity (Landlord, Tenant or Service provider) can get an access to their Admin panel or dashboard once we approve them on their request so they have to provide most of the information in the initial form and before we approve them, it is necessary to get their email verified.
					    		</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

	</mdb-accordion>







	<h3 class="text-center font-weight-bold text-center pb-3 pt-5">Lanlord</h3>

	<mdb-accordion [multiple]="false" aria-multiselectable="true">

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							Can I list my property on {{app.name}}?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>Yes, you can. Set your guide price, select amenities, add a brief description and add beautiful pictures of it</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							Why do I have to pay a fee to deploy the Smart Contract and interact in my Rental Aggreement with it?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>Every Smart Contract created is saved in the Ethereum blockchain in a transaction, and every transaction in the network costs as small miner fee so it can be saved in the blockchain. The same happens with the actions taken in the Rental Aggreement since they are processes in the form of Ethereum transactions and its record is saved.
					    		</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							What can I do with my Ethereum Wallet?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>For Landlords, it's possible to raise the rent, start a dispute, and withdraw the payment from the Smart Contract Escrow Account. This actions are processed in Ethereum transactions and saved in the blockchain, so it costs a small miner fee for processing.
					    		</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>


				
	</mdb-accordion>







	<h3 class="text-center font-weight-bold text-center pb-3 pt-5">Tenant</h3>

	<mdb-accordion [multiple]="false" aria-multiselectable="true">

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							Can I rent a property on {{app.name}}?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>Yes, you can. Know the property you want to rent, the amenities it offers, price, rules and more.</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							Why do I have to pay a fee to interact in my Rental Aggreement with the Smart Contract?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>Every action taken is processed by the Ethereum network and also generates a record which is saved in the Ethereum blockchain in a transaction, and every transaction in the network costs as small miner fee so it can be saved in the blockchain.
					    		</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							What can I do with my Ethereum Wallet?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>For Tenants, it's possible to open a maintenance service request ticket, start a dispute, and deposit the payment from the Smart Contract Escrow Account. This actions are processed in Ethereum transactions and saved in the blockchain, so it costs a small miner fee for processing.
					    		</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							Can I also deposit just by sending the money to the smart contract address?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>Yes. You just need to send the payment to the Smart Contract Address from any wallet (a friend can deposit for you) and this one will automatically process your payment.
					    		</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>


	</mdb-accordion>


	<h3 class="text-center font-weight-bold text-center pb-3 pt-5">Service Provider</h3>

	<mdb-accordion [multiple]="false" aria-multiselectable="true">

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							Can I list the services I provide on {{app.name}}?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>Yes, you can. Once your service is listed  you must wait until you get hired by a Landlord .</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>

			<mdb-accordion-item  [collapsed]="'false'">
				<div class="text-center z-depth-1">
					<div class="card">
						<mdb-accordion-item-head>
							What does the score mean?
						</mdb-accordion-item-head>
						<mdb-accordion-item-body>
							<div class="card-body black-text">
					    	<p>
					    		<strong>Your score indicates how good you're at your job according to the Landlord and Tenant opinion you've worked with. The higher score, the higher are the chances to get hired again and your service ad will be in a higher position.</strong>
					    	</p>
							</div>
						</mdb-accordion-item-body>
					</div>
				</div>
				<div class="py-1"></div>
			</mdb-accordion-item>


	</mdb-accordion>


</div>