<app-nav-bar></app-nav-bar>


<div [hidden]="!loading" class="container">
	<div class="pt-5"></div>
	<div class="row no-gutters justify-content-center pt-5">
		<div class="col-4 pt-5">
			<!-- <h3 class="font-weight-bold">LOADING...</h3> -->
			<!-- <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar> -->
			<div class="lazy-spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
			</div>
		</div>
	</div>
	<div class="py-5"></div>
	<div class="py-5"></div>
</div>


<div [hidden]="loading">
	<router-outlet></router-outlet>
</div>
<div class="py-5"></div>


<app-footer></app-footer>