
<div *ngIf="!myProperty || !userInfo" class="text-center py-5 mt-5">
    <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>


<div *ngIf="myProperty && userInfo" class="py-5 mt-5">

  <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-4'" [contentClass]="'card'">

    <mdb-tab heading="General" style="margin: -31px -30px -16px;" (select)="panelShown(1)">
      <app-general #general
                  [myProperty]='myProperty'
                  [userInfo]='userInfo'
                  [selectedPanel]='selectedPanel'
                  [staticTabs]='staticTabs'>
      </app-general>
    </mdb-tab>

    <mdb-tab heading="Actions" [disabled]="!(myProperty.tenantsID.length>0)" (select)="panelShown(2)">
      <app-actions 
                  [myProperty]='myProperty'
                  [userInfo]='userInfo'
                  [tenantSelected]='general.tenantSelected'
                  [selectedPanel]='selectedPanel'
                  [staticTabs]='staticTabs'>
      </app-actions>
    </mdb-tab>

    <mdb-tab heading="Record" [disabled]="!(myProperty.tenantsID.length>0)" (select)="panelShown(3)">
      <app-history
                  [myProperty]='myProperty'
                  [userInfo]='userInfo'
                  [tenantSelected]='general.tenantSelected'
                  [selectedPanel]='selectedPanel'
                  [staticTabs]='staticTabs'>
      </app-history>
    </mdb-tab>

    <mdb-tab heading="ESigned documents" [disabled]="!(myProperty.tenantsID.length>0)" (select)="panelShown(4)">
      <app-esigned-docs 
                      [myProperty]='myProperty'
                      [userInfo]='userInfo'
                      [tenantSelected]='general.tenantSelected'
                      [selectedPanel]='selectedPanel'
                      [staticTabs]='staticTabs'>
      </app-esigned-docs>
    </mdb-tab>

    <mdb-tab heading='Smart contract' (select)="panelShown(5)">
      <app-smart-contract 
      [myProperty]='myProperty'
      [userInfo]='userInfo'
      [tenantSelected]='general.tenantSelected'
      [selectedPanel]='selectedPanel'
      [staticTabs]='staticTabs'>
      </app-smart-contract>
    </mdb-tab>
    
    <mdb-tab heading="Settings" (select)="panelShown(6)">
      <app-settings [myProperty]='myProperty'
                    [userInfo]='userInfo'
                    [tenantSelected]='general.tenantSelected'
                    [selectedPanel]='selectedPanel'
                    [staticTabs]='staticTabs'>
      </app-settings>
    </mdb-tab>

  </mdb-tabset>
</div>