<div class="pt-5 pb-4">
	<div class="info-color pt-4 pb-1 font-weight-bold z-depth-1 white-text">
			<div class="row no-gutters justify-content-center">
        <div class="col-12 col-md text-center">
            <h3 class="h3-responsive pt-2 text-capitalize">ID Verification requests</h3>
        </div>
			</div>
	</div>
</div>


<div class="px-md-5">
	<mdb-card>
			<div class="table-responsive no-gutters">
				<table mdbTable hover="true">
					<thead class="unique-color white-text z-depth-2">
						<tr mdbTableCol>
							<th>Date</th>
							<th>First name</th>
							<th>Last name</th>
							<th>Email</th>
							<th>Role</th>
						</tr>
					</thead>
					<tbody *ngIf="!loadingRequests">
						<tr *ngFor="let request of requests" mdbTableCol style="cursor: pointer;" [routerLink]="['/admin/id-verification/details/'+request.id]">
								<td>{{formatDateSring(request.creationTS)}}</td>
								<td class="text-capitalize">{{request.firstName}}</td>
								<td class="text-capitalize">{{request.lastName}}</td>
								<td>{{request.email}}</td>
								<td class="text-capitalize">{{request.role}}</td>
						</tr>
					</tbody>
				</table>

				<div *ngIf="loadingRequests" class="text-center">
					<mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
				</div>

				<div *ngIf="!loadingRequests && requests && requests.length==0" class="text-center pt-5 pb-3">
					<h3><strong>No pending requests</strong></h3>
				</div>

				<hr class="my-0">
			</div>
</mdb-card>
</div>