
<section class="text-center pb-1 my-5">

  <h2 class="h1 pt-5 pb-3">Our pricing plans</h2>
  
  <p class="grey-text pb-5 font-weight-bold">Try a {{app.name}} plan. Designed to maximise your success.</p>


  <div class="row no-gutters justify-content-center pb-5">
    <div class="col-md-6">
      <div class="card card-image" style="background-image: url('./assets/forest.jpg');">
        <div class="white-text text-center rgba-stylish-strong">
          <div class="card-body">
            <h3 class="pb-2">Free plan?</h3>
            <p>The initial free plan includes: </p>
            <p><strong>Tenants:</strong> Unlimited applications.</p>
            <p><strong>Landlord:</strong> Up to 2 active listings.</p>
            <p><strong>Real Estate Agents:</strong> Up to 2 active listings which include Smart Contracts.</p>
            <p><strong>Service Providers:</strong> Up to 2 advertisements.</p>
            <div *ngIf="!(userInfo$ | async)" class="pb-3">
              <button mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect [routerLink]="['/account/create']">Register</button>
            </div>
            <div *ngIf="userInfo$ | async as userInfo" class="pb-3">
                <button *ngIf="userInfo.membership.pricingPlan=='free'" mdbBtn disabled='true' color="white" outline="true" class="waves-light" mdbWavesEffect>Current plan</button>
                <button *ngIf="userInfo.membership.pricingPlan!='free'" mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect (click)="openCancelationModal()">Downgrade</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center no-gutters">


      <div class="col-md-6 col-lg-3 mb-4">

          <!-- Card -->
          <div class="card card-image" style="background-image: url('./assets/forest.jpg');">

              <!--Pricing card-->
              <div class="text-white text-center pricing-card d-flex align-items-center rgba-indigo-strong py-3 pb-5 px-3 rounded">

                  <!--Content-->
                  <div class="card-body">
                    <h5><i class="fa fa-certificate" aria-hidden="true"></i> Basic</h5>
                    <!--Price-->
                    <div class="price pt-0">
                        <h3 class="number">{{pricings['basic'].amount}}</h3>
                    </div>
                    <div *ngIf="userInfo$ | async as userInfo" class="pb-3">
                        <button *ngIf="userInfo.membership.pricingPlan=='basic'" mdbBtn disabled='true' color="white" outline="true" class="waves-light" mdbWavesEffect>Current plan</button>
                        <button *ngIf="userInfo.membership.pricingPlan!='basic'" mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect (click)="selectPlan('basic')">
                          <span *ngIf="userInfo.membership.pricingPlan=='free'">Upgrade</span>
                          <span *ngIf="userInfo.membership.pricingPlan!='free'">Downgrade</span>
                        </button>
                    </div>
                      
                    <strong>Tenants</strong>
                    <ul class="striped">
                      <li>
                        Unlimited applications
                      </li>
                    </ul>

                    <strong>Landlords</strong>
                    <ul class="striped">
                      <li>
                        Up to <strong>7</strong> active listings
                      </li>
                    </ul>

                    <strong>Real Estate Agents</strong>
                    <ul class="striped">
                      <li>
                        Up to <strong>7</strong> active listings which include Smart Contracts
                      </li>
                      <li>
                        Inclusion in Agents search engine
                      </li>
                    </ul>

                    <strong>Service providers</strong>
                    <ul class="striped">
                      <li>
                        Up to <strong>7</strong> advertisements
                      </li>
                      <li>
                        Inclusion in Service providers search engine
                      </li>
                    </ul>
                      
                  </div>

              </div>
              <!--Pricing card-->
          </div>
      </div>
     

      <div class="col-md-6 col-lg-3 mb-4">

          <!-- Card -->
          <div class="card card-image" style="background-image: url('./assets/forest.jpg');">

              <!--Pricing card-->
              <div class="text-white text-center pricing-card d-flex align-items-center rgba-purple-strong py-3 pb-5 px-3 rounded">

                  <!--Content-->
                  <div class="card-body">
                    <h5><i class="fa fa-certificate" aria-hidden="true"></i> Plus</h5>
                    <!--Price-->
                    <div class="price pt-0">
                        <h3 class="number">{{pricings['plus'].amount}}</h3>
                    </div>
                    <div *ngIf="userInfo$ | async as userInfo" class="pb-3">
                        <button *ngIf="userInfo.membership.pricingPlan=='plus'" mdbBtn disabled='true' color="white" outline="true" class="waves-light" mdbWavesEffect>Current plan</button>
                        <button *ngIf="userInfo.membership.pricingPlan!='plus'" mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect (click)="selectPlan('plus')">
                          <span *ngIf="userInfo.membership.pricingPlan=='free' || userInfo.membership.pricingPlan=='basic'">Upgrade</span>
                          <span *ngIf="!(userInfo.membership.pricingPlan=='free' || userInfo.membership.pricingPlan=='basic')">Downgrade</span>
                        </button>
                    </div>
                      <!--Price-->
                      
                    <strong>Tenants</strong>
                    <ul class="striped">
                      <li>
                        <strong>Unlimited</strong> applications
                      </li>
                    </ul>

                    <strong>Landlords</strong>
                    <ul class="striped">
                      <li>
                        Up to <strong>15</strong> active listings
                      </li>
                    </ul>

                    <strong>Real Estate Agents</strong>
                    <ul class="striped">
                      <li>
                        Up to <strong>15</strong> active listings which include Smart Contracts
                      </li>
                      <li>
                        Inclusion in Agents search engine
                      </li>
                    </ul>

                    <strong>Service providers</strong>
                    <ul class="striped">
                      <li>
                        Up to <strong>15</strong> advertisements
                      </li>
                      <li>
                        Inclusion in Service providers search engine
                      </li>
                    </ul>
                  </div>

              </div>
              <!--Pricing card-->
          </div>
      </div>
      

      <div class="col-md-6 col-lg-3 mb-4">

        <!-- Card -->
        <div class="card card-image" style="background-image: url('./assets/forest.jpg');">

            <!--Pricing card-->
            <div class="text-white text-center pricing-card d-flex align-items-center rgba-teal-strong py-3 pb-5 px-3 rounded">

                <!--Content-->
                <div class="card-body">
                    <h5><i class="fa fa-certificate" aria-hidden="true"></i> Professional</h5>
                    <!--Price-->
                    <div class="price pt-0">
                        <h3 class="number">{{pricings['professional'].amount}}</h3>
                    </div>
                    <div *ngIf="userInfo$ | async as userInfo" class="pb-3">
                        <button *ngIf="userInfo.membership.pricingPlan=='professional'" mdbBtn disabled='true' color="white" outline="true" class="waves-light" mdbWavesEffect>Current plan</button>
                        <button *ngIf="userInfo.membership.pricingPlan!='professional'" mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect (click)="selectPlan('professional')">
                          <span *ngIf="userInfo.membership.pricingPlan!='enterprise'">Upgrade</span>
                          <span *ngIf="userInfo.membership.pricingPlan=='enterprise'">Downgrade</span>
                        </button>
                    </div>
                      <!--Price-->
                      
                    <strong>Tenants</strong>
                    <ul class="striped">
                      <li>
                        <strong>Unlimited</strong> applications
                      </li>
                    </ul>

                    <strong>Landlords</strong>
                    <ul class="striped">
                      <li>
                        Up to <strong>20</strong> active listings
                      </li>
                    </ul>

                    <strong>Real Estate Agents</strong>
                    <ul class="striped">
                      <li>
                        Up to <strong>20</strong> active listings which include Smart Contracts
                      </li>
                      <li>
                        Inclusion in Agents search engine
                      </li>
                    </ul>

                    <strong>Service providers</strong>
                    <ul class="striped">
                      <li>
                        Up to <strong>20</strong> advertisements
                      </li>
                      <li>
                        Inclusion in Service providers search engine
                      </li>
                    </ul>
                </div>

            </div>
            <!--Pricing card-->
        </div>
    </div>
    

    <div class="col-md-6 col-lg-3 mb-4">

      <!-- Card -->
      <div class="card card-image" style="background-image: url('./assets/forest.jpg');">

          <!--Pricing card-->
          <div class="text-white text-center pricing-card d-flex align-items-center rgba-orange-strong pt-3 px-3 rounded">

              <!--Content-->
              <div class="card-body">
                  <h5><i class="fa fa-diamond" aria-hidden="true"></i> Enterprise</h5>
                  <!--Price-->
                  <div class="price pt-0">
                    <h3 class="number">{{pricings['enterprise'].amount}}</h3>
                  </div>
                  <!--Price-->
                  <div *ngIf="userInfo$ | async as userInfo" class="pb-3">
                      <button *ngIf="userInfo.membership.pricingPlan=='enterprise'" mdbBtn disabled='true' color="white" outline="true" class="waves-light" mdbWavesEffect>Current plan</button>
                      <button *ngIf="userInfo.membership.pricingPlan!='enterprise'" mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect (click)="selectPlan('enterprise')">Upgrade</button>
                  </div>
                    <!--Price-->
                    
                  <strong>Tenants</strong>
                  <ul class="striped">
                    <li>
                      <strong>Unlimited</strong> applications
                    </li>
                  </ul>

                  <strong>Landlords</strong>
                  <ul class="striped">
                    <li>
                        <strong>Unlimited</strong> active listings
                    </li>
                  </ul>

                  <strong>Real Estate Agents</strong>
                  <ul class="striped">
                    <li>
                      <strong>Unlimited</strong> active listings which include Smart Contracts
                    </li>
                    <li>
                      Inclusion in Agents search engine and profile highlighted from the rest
                    </li>
                  </ul>

                  <strong>Service providers</strong>
                  <ul class="striped">
                    <li>
                      <strong>Unlimited</strong> advertisements
                    </li>
                    <li>
                      Inclusion in Service providers search engine and profile highlighted from the rest
                    </li>
                  </ul>
              </div>

          </div>
          <!--Pricing card-->
      </div>
  </div>
  

  </div>
  <!--Grid row-->

</section>




<h2 class="h1 py-5 text-center">Fees and charges</h2>


<h4 class="text-center pb-2">For Tenants</h4>

<div class="row justify-content-center text-center no-gutters pb-5">

    <div class="col-md-4 px-md-2 pb-4 pb-md-0">
        <div class="card card-image" style="background-image: url('./assets/forest.jpg');">
        
          <div class="white-text text-center rgba-indigo-strong">
            <div class="card-body">
              <h5 class="font-weight-bold mt-3">Highlight your application (2$)</h5>
              <p class="white-text pb-4">Make your application more visible than the others to the Landlord</p>
            </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 px-md-2">
        <div class="card card-image" style="background-image: url('./assets/forest.jpg');">
        <!-- <i class="fa fa-code fa-3x cyan-text"></i> -->
        <div class="white-text text-center rgba-indigo-strong">
          <div class="card-body">
            <h5 class="font-weight-bold mt-3">Place your application at the top (5$)</h5>
            <p class="white-text">Let your application be the first one to be seen by Landlord by placing it at the beginning of the application list.</p>
          </div>
        </div>
      </div>
    </div>
</div>


<h4 class="text-center pb-2">For Landlords and Real Estate Agents</h4>

<div class="row justify-content-center text-center no-gutters pb-5">

    <div class="col-md-4 px-md-2">
      <div class="card card-image" style="background-image: url('./assets/forest.jpg');">
        <!-- <i class="fa fa-bank fa-3x red-text"></i> -->
        <div class="white-text text-center rgba-indigo-strong">
          <div class="card-body">
            <h5 class="font-weight-bold mt-3">Highlight your listing (10$)</h5>
            <p class="white-text">Make your listing more visible than the others</p>
          </div>
        </div>
      </div>
    </div>
</div>


<h4 class="text-center pb-2">For Service Providers</h4>

<div class="row justify-content-center text-center no-gutters pb-5">

    <div class="col-md-4 px-md-2">
      <div class="card card-image" style="background-image: url('./assets/forest.jpg');">
        <!-- <i class="fa fa-bank fa-3x red-text"></i> -->
        <div class="white-text text-center rgba-indigo-strong">
          <div class="card-body">
            <h5 class="font-weight-bold mt-3">Highlight your advertisement (5$)</h5>
            <p class="white-text">Make your advertisement more visible than the others</p>
         </div>
        </div>
      </div>
    </div>
</div>








<div mdbModal #pricingModal="mdbModal" (closed)="closed()" style="overflow: auto;" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success modal-lg" role="document">
    <!--Content-->
    <div *ngIf="pricingSelected" class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading text-capitalize">{{pricingSelected.plan}} Plan</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="pricingModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <h1 class="h1-responsive text-center">Total: {{pricingSelected.amount}} USD</h1>
        <h5 *ngIf="!currencySelected" class="text-center">Select currency</h5>
        <h5 *ngIf="currencySelected && !amountToPay" class="text-center">Loading...</h5>
        <h5 *ngIf="currencySelected && amountToPay" class="text-center">Amount in {{currencySelected.name}}: <strong>{{amountToPay}} {{currencySelected.currency}}</strong></h5>
        
        <div *ngIf="!currencies" class="pt-3 text-center">
            <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
        </div>

        <div *ngIf="currencies" class="row justify-content-center">
          <div *ngFor="let item of currencies" class="col-6 col-sm-4 col-lg-auto pt-3" (click)="selectCurrency(item)" style="cursor:pointer" >
            <mdb-card [ngClass]="{'border': currencySelected && currencySelected.currency==item.currency, 'border-warning': currencySelected && currencySelected.currency==item.currency }">
              <mdb-card-body>
                <img [src]='"./assets/coins/" + item.currency + ".png"' class="img-fluid">
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>

        <p *ngIf="currencySelected && userInfo$ | async as userInfo" class="text-center font-weight-bold pt-3">
          Your balance: 
          <span *ngIf="!userInfo.balances[currencySelected.currency]">0</span>
          <span *ngIf="userInfo.balances[currencySelected.currency]">{{formatBalance(userInfo.balances[currencySelected.currency].available)}}</span>
          {{currencySelected.currency}}
        </p>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button type="button" [disabled]='buying' mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal"
        (click)="pricingModal.hide()">Cancel</button>
        <button type="button" [disabled]='!currencySelected || !currencies || !pricingSelected || !amountToPay || buying' mdbBtn 
          color="success" class="waves-effect" mdbWavesEffect (click)="buyPricingPlan()">
          <span *ngIf="!buying">Confirm</span>
          <span *ngIf="buying">Confirming</span>
        </button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>



<div mdbModal #cancelationModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-warning" role="document">
    
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>
      
      <div class="modal-body">
        <h1>😥</h1>
        <p>Downgrade will be done inmediately</p>
      </div>
      
      <div class="modal-footer flex-center">
        <button type="button" [disabled]='canceling' mdbBtn color="warning" outline="true" class="waves-effect"
          mdbWavesEffect (click)="cancelPricingPlan()" >
          <span *ngIf="!canceling">Yes</span>
          <span *ngIf="canceling">Confirming</span>
        </button>
        <button type="button" [disabled]='canceling' mdbBtn color="warning" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="cancelationModal.hide()">No</button>
      </div>
    </div>
  </div>
</div>