<div class="pt-5 pb-4">
	<div class="info-color pt-4 pb-1 font-weight-bold z-depth-1 white-text">
			<div class="row no-gutters justify-content-center">
        <div class="col-12 col-md text-center">
            <h3 class="h3-responsive pt-2 text-capitalize">List Property</h3>
        </div>
			</div>
	</div>
</div>

<div *ngIf="!(userInfo$ | async) || ((userInfo$ | async).role != 'real estate agent' && !myProperty)" class="text-center">
	<mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>

<div class="row no-gutters justify-content-center pb-4">



	<div [hidden]="!((userInfo$ | async) && ((userInfo$ | async).role == 'real estate agent' || myProperty) && status==0)" class="col col-md-8">
		<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
			<div class="row no-gutters justify-content-center pb-4">
				

					<div class="col-12 pb-2 md-form">
						<i class="fa fa-home prefix grey-text"></i>
						<input type="text" length="50" mdbCharCounter id="form-propertyName" class="form-control" formControlName="name" successMessage=" " errorMessage=' ' required mdbInputDirective>
						<label for="form-propertyName">Listing title</label>
					</div>

          <div class="col-12 col-md-8 md-form">
            <i class="fa fa-address-book prefix grey-text"></i>
            <input #search type="text" id="form-address" class="form-control" formControlName="address" successMessage=" " errorMessage=' ' required mdbInputDirective placeholder="Address">
        	</div>

          <div class="col-12 col-md-4 md-form">
            <i class="fa fa-address-book prefix grey-text"></i>
            <input type="text" id="form-unit" class="form-control" formControlName="unit" successMessage=" " errorMessage='This field is required' mdbInputDirective>
            <label for="form-unit">Unit# (Optional)</label>
          </div>

					<div class="col-12 col-md-4 px-1 text-center">
						<label class="font-weight-bold">Type</label>
						<mdb-select [options]="propertyOptions" formControlName="type" placeholder="Select" class="colorful-select dropdown-default border border-primary"></mdb-select>
					</div>

					<div class="col-12 col-md-4 px-1 text-center">
						<label class="font-weight-bold">Beds</label>
						<mdb-select [options]="bedsOptions" formControlName="numOfBeds" placeholder="Select" class="colorful-select dropdown-default border border-primary"></mdb-select>
					</div>

					<div class="col-12 col-md-4 px-1 text-center">
						<label class="font-weight-bold">Baths</label>
						<mdb-select [options]="bathsOptions" formControlName="numOfBaths" placeholder="Select" class="colorful-select dropdown-default border border-primary"></mdb-select>
					</div>

					<div class="col-12 col-md-12 md-form">
						<i class="fa fa-arrows-h prefix grey-text"></i>
						<input type="number" id="form-sqft" class="form-control" formControlName="sqft" successMessage=" " errorMessage=' ' required mdbInputDirective>
						<label for="form-sqft">SQFT</label>
					</div>

					<div class="col-12 col-md-6 md-form">
						<i class="fa fa-money prefix grey-text"></i>
						<input type="number" id="form-rentAmount" class="form-control" formControlName="rentAmount" successMessage=" " errorMessage=' ' required mdbInputDirective>
						<label for="form-rentAmount">Monthly price (USD)</label>
					</div>

					<div class="col-12 col-md-6 md-form">
						<i class="fa fa-money prefix grey-text"></i>
						<input type="number" id="form-securityDepositAmount" class="form-control" formControlName="securityDepositAmount" successMessage=" " errorMessage=' ' required mdbInputDirective>
						<label for="form-securityDepositAmount">Security deposit (USD)</label>
					</div>
<!-- 	          <div class="col-12 col-md-12 px-1">
	            <mdb-select [options]="petsAllowanceOptions" formControlName="type" placeholder="Pet Policy" class="colorful-select dropdown-default"></mdb-select>
						</div> -->
					<div class="col-12">
						<p class="mb-0 font-weight-bold grey-text">Available From</p>
					</div>
					<div class="col-12">
						<mdb-date-picker [options]="myDatePickerOptions" placeholder="Choose date" formControlName="availableFrom" required></mdb-date-picker>
					</div>

					<h1 class="col-12 text-center pb-3">Add photos</h1>
					<div formArrayName="photos">
						<div class="row justify-content-center no-gutters pt-3">
								<div *ngFor="let photo of photos.controls; let i=index">
									<div class="col-12">
										<label class="label" [mdbTooltip]="(imageCropped.localURL[i])? '' : 'Add a photo'" style="cursor: pointer;">
											<img [src]='imageCropped.localURL[i] || addPhotoLogoURL' alt="" style="width: 220px; height: 220px;"  class="img-fluid zoom"><!--  style="width: 90%" -->
											<input [disabled]="imageCropped.localURL[i] || photosUploading || photosDeleting" type="file" class="sr-only" accept="image/*" (change)="addPhoto($event,i)">
										</label>
										<div *ngIf="imageCropped.uploading[i]">
											<mdb-progress [value]="imageCropped.uploadFilePercentage[i]" min="0" max="100" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></mdb-progress>
										</div>
										<div *ngIf="photo.value" class="text-center">
											<button [disabled]="photosUploading || photosDeleting" type="button" mdbBtn color="danger" outline="true" mdbWavesEffect (click)="deletePhoto(i)" >
												<span *ngIf="!imageCropped.deleting[i]">Delete</span>
												<span *ngIf="imageCropped.deleting[i]">Deleting</span>
											</button>
										</div>
									</div>
								</div>
								<div *ngIf="imageCropped.localURL.length>=3" class="col-12 text-center">
									<button type="button" mdbBtn color="info" outline="true" (click)="addNewPhoto()" >One more</button>
								</div>
						</div>
					</div>

					<div class="col-12 md-form">
					  <i class="fa fa-pencil prefix grey-text"></i>
					  <textarea mdbInputDirective type="text" length="1000" mdbCharCounter formControlName="details" id="form8" class="md-textarea form-control" rows="3" successMessage=" " errorMessage=' ' ></textarea>
					  <label for="form8">Description</label>
					</div>

					<div class="col-12 md-form">
						<h1 class="text-center pb-3">Amenities</h1>
						<ul class="row justify-content-between no-gutters amenities-list">
							<li *ngFor="let amenity of amenities" class="col-5 pb-3 font-weight-bold" (click)="selectAmenities(amenity.name)" 
									[style.opacity]="amenity.selected? 1:''">
								<span class="amenities-icon {{amenity.id}}" 
								[ngStyle]="{'background-position-y':amenity.selected? 0:''}"></span>
								<span [class.blue-text]='amenity.selected'> {{amenity.name}} </span>
							</li>
						</ul>
					</div>

					<!-- <div class="col-12">
						<h1 class="text-center pb-3">Type of Rental Agreement</h1>
						<div class="form-check pb-2">
							<input type="radio" class="form-check-input" id="radioID1" formControlName="typeOfContract" value="traditional contract" mdbInputDirective [mdbValidation]='false'>
							<label class="form-check-label" for="radioID1"><h4 class="font-weight-bold">Traditional Contract</h4></label>
						</div>							
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radioID2" formControlName="typeOfContract" value="ethereum smart contract" mdbInputDirective [mdbValidation]='false'>
							<label class="form-check-label" for="radioID2"><h4 class="font-weight-bold">Ethereum Smart Contract</h4></label>
						</div>
					</div> -->

					<div *ngIf="(userInfo$ | async)?.role == 'real estate agent' && !agreementId" class="col-12 pt-5 pb-3">
						<h1 class="text-center pb-3">Is the Landlord registered on {{app.name}}?</h1>
						<div class="form-check pb-2">
							<input type="radio" class="form-check-input" id="radioID3" formControlName="includesLandlord" value="no" mdbInputDirective [mdbValidation]='false'>
							<label class="form-check-label" for="radioID3"><h4 class="font-weight-bold">No</h4></label>
						</div>							
						<div class="form-check">
							<input type="radio" class="form-check-input" id="radioID4" formControlName="includesLandlord" value="yes" mdbInputDirective [mdbValidation]='false'>
							<label class="form-check-label" for="radioID4"><h4 class="font-weight-bold">Yes</h4></label>
						</div>
					</div>

					<div *ngIf="(userInfo$ | async) && (userInfo$ | async).role == 'real estate agent' && itemForm.get('includesLandlord').value=='yes'"  class="col-12 pb-2 md-form">
						<i class="fa fa-envelope prefix grey-text"></i>
						<input type="email" id="form-landlordEmail" class="form-control" formControlName="landlordEmail" successMessage=" " errorMessage=' ' mdbInputDirective>
						<label for="form-landlordEmail">Landlord Email</label>
					</div>


			</div>

			<div class="text-center pt-5">
        <button type="submit" mdbBtn color="success" size="lg" [disabled]="!itemForm.valid || submiting || photosUploading || photosDeleting" mdbWavesEffect>
            <span *ngIf="!submiting">Post</span>
            <span *ngIf="submiting">
							<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Posting...
						</span>
        </button>
      </div>

		</form>
	</div>

  <div *ngIf="status==1" class="col col-md-8">
	  <div class="text-center">
	    <i class="fa fa-check green-text fa-4x animated rotateIn"></i>
	    <h4 *ngIf="(userInfo$ | async) && ((userInfo$ | async).role !== 'real estate agent' || itemForm.get('includesLandlord').value !== 'yes')">
	      Property successfully listed. It'll be publicly visible once {{app.name}} team verifies your form.
			</h4>
			<h4 *ngIf="(userInfo$ | async) && (userInfo$ | async).role == 'real estate agent' && itemForm.get('includesLandlord').value=='yes'">
				Property successfully listed. It'll be publicly visible once both the Landlord and {{app.name}} team confirm the listing
			</h4>
			 <h3 class="pt-5"><a  [routerLink]="['/listings/details/' + listingID]" class="font-weight-bold">View listing</a></h3>
	  </div>
	</div>


</div>






 

<div mdbModal #cropImageModal="mdbModal" style="overflow: auto;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" (opened)="onShown()" (closed)="onHidden()">
  <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead" id="myModalLabel">Crop the image</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cropImageModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      	<div class="img-container">
				  <img #imageToCrop src=''>
				</div>

      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="cropImageModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="uploadNewPhoto()" mdbWavesEffect>Save changes</button>
      </div>
    </div>
  </div>
</div>


