.zoom {
  /*padding: 50px;*/
  /*background-color: #f5f5f5;*/
  transition: transform .2s;
  /*width: 200px;*/
  /*height: 200px;*/
  /*margin: 0 auto;*/
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}


.img-container img {
  max-width: 100%;
}




.amenities-list li{
  cursor: pointer;
  opacity: 0.3;
}

.amenities-list li:hover{
  opacity: 1;
}

