<div class="text-center pt-5 pb-5" *ngIf="!clauses">
	<mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>

<div *ngIf="clauses" class="container">
	<label>
      <h1 class="text-center font-weight-bold pb-4">Residential Lease Agreement</h1>
      <p>This Lease (the "Lease") dated and approved this 
          <span *ngIf="!clauses.approval || !clauses.approval.approved">_________________</span>
          <span *ngIf="clauses.approval && clauses.approval.approved">{{approvalDate.month}} {{approvalDate.dayOfMonth}}, {{approvalDate.year}}</span>
      </p>
      <p class="pb-2">BETWEEN:</p>
      <p class="text-center text-capitalize"><strong>{{clauses.parties.landlord.firstName}} {{clauses.parties.landlord.lastName}}</strong></p>
      <p class="text-center">(the "Landlord")</p>
      <p class="text-center">-AND-</p>
      <p class="text-center text-capitalize"><strong>{{clauses.parties.tenant.firstName}} {{clauses.parties.tenant.lastName}}</strong></p>
      <p class="text-center">(the "Tenant")</p>
      <p class="text-center pb-5">(individually the "Party" and collectively the "Parties")</p>
		  <p class="pb-2">IN CONSIDERATION OF the Landlord leasing certain premises to the Tenant and other valuable consideration, the receipt and sufficiency of which consideration is hereby acknowledged, the Parties agree as follows:</p>


      <h4>Leased Property</h4>
      <ol>
          <li>
              The Landlord agrees to rent to the Tenant the {{propertyType}}
              (the "Property"), located at {{clauses.general.property.address}} for use as a residential premises only.
          </li>
          <li *ngIf="clauses.parties.selectedOccupantsOptions!='1'">
              Subject to provisions of this Lease, apart from the Tenant
              <span *ngIf="clauses.parties.selectedOccupantsOptions=='2'"> and the Tenant's immediate family members</span>, no other person will live in the Property without the prior written permission of the Landlord.
          </li>
          <li *ngIf="clauses.terms.useOfProperty.selectedPetsAllowance!='1'">
              <span *ngIf="clauses.terms.useOfProperty.selectedPetsAllowance=='2'">A reasonable number of </span>
              <span *ngIf="clauses.terms.useOfProperty.selectedPetsAllowance=='3' || clauses.terms.useOfProperty.selectedPetsAllowance=='4'">No </span>
              animals are allowed to be kept in or about the Property
              <span *ngIf="clauses.terms.useOfProperty.selectedPetsAllowance=='4'"> without the prior written permission of the Landlord</span>.
          </li>
          <li *ngIf="clauses.property.details.selectedAccessToParking!='1'">
              <span *ngIf="clauses.property.details.selectedAccessToParking=='2'">Subject to provisions of this Lease, the Tenant is entitled to the use of the parking on or about the Property.</span>
              <span *ngIf="clauses.property.details.selectedAccessToParking=='3'">Parking space is not provided under the terms of this Lease and no vehicle may park on or about the Property.</span>
          </li>
          <li *ngIf="clauses.terms.useOfProperty.selectedSmokingAllowance!='1'">
              <span *ngIf="clauses.terms.useOfProperty.selectedSmokingAllowance=='2'">Smoking is permitted on the Property. The Tenant will be responsible for all damage caused by smoking including, but not limited to, stains, burns, odors, and removal of debris.</span>
              <span *ngIf="clauses.terms.useOfProperty.selectedSmokingAllowance=='3'">The Tenant and members of Tenant's household will not smoke anywhere in the Property nor permit any guests or visitors to smoke in the Property.</span>
          </li>
      </ol>


      <h4>Terms</h4>
      <ol>
          <li>
              The term of the Lease commences at 12:00 noon on {{dateLeaseStarts.month}} {{dateLeaseStarts.dayOfMonth}}, {{dateLeaseStarts.year}} 
              and continuing until the Landlord or the Tenant terminates the tenancy.
          </li>
      </ol>


      <h4>Rent</h4>
      <ol>
        <li>
            Subject to the provision of this Lease, the rent for the Property is {{clauses.terms.rent.amount}} USD per month (the "Rent").
        </li>
        <li>
            The Tenant will pay the Rent the {{paymentDateDay}} day of each and every month of the term of this Lease to the Smart Contract Address.
        </li>
        <li *ngIf="clauses.terms.latePayments.selectedLatePayment!=1">
            The Tenant will be charged an additional amount of 
            <span *ngIf="clauses.terms.latePayments.selectedLatePayment=='2'">{{clauses.terms.latePayments.percentage}}% of the Rent </span>
            <span *ngIf="clauses.terms.latePayments.selectedLatePayment=='3'">{{clauses.terms.latePayments.amount}} ETH per day </span>
            <span *ngIf="clauses.terms.latePayments.selectedLatePayment=='4'">{{clauses.terms.latePayments.amount}} ETH per infraction </span>
            for any Rent that is received after the latter of the due date and the expiration of any grace period under the Act, if any.
        </li>
      </ol>


      <h4>Security Deposit</h4>
      <ol>
        <li>
            At the same time Tenant signs this Agreement, Tenant will pay a
            security deposit in the amount of {{clauses.terms.securityDeposit.amount}} USD to Landlord. The security deposit will
            be retained by Landlord as security for Tenant’s performance of obligations under this
            Agreement. If Tenant does not comply with any of the terms of this Agreement, Landlord
            may apply any or all of the security deposit in payment of any amount owed by Tenant
            and for any damages and costs incurred by Landlord due to Tenant’s failure to comply.
        </li>
      </ol>


      <h4  *ngIf="clauses.terms.utilitiesDetails.selectedUtilitiesDetails!='1'">Utilities and Other Changes</h4>
      <ol *ngIf="clauses.terms.utilitiesDetails.selectedUtilitiesDetails!='1'">
          <li *ngIf="clauses.terms.utilitiesDetails.selectedUtilitiesDetails=='2'">
              The Tenant is responsible for the payment of all utilities.
          </li>
          <li *ngIf="clauses.terms.utilitiesDetails.selectedUtilitiesDetails=='3' && landlordPays.length>0">
              The Landlord is responsible for the payment of the following utilities and other charges in relation to the Property: {{landlordPays}}.
          </li>
          <li *ngIf="clauses.terms.utilitiesDetails.selectedUtilitiesDetails=='3' && tenantPays.length>0">
              The Tenant is responsible for the payment of the following utilities and other charges in relation to the Property: {{tenantPays}}.
          </li>
      </ol>


      <h4>Insurance</h4>
      <ol>
        <li>
          The Tenant is hereby advised and understands that the personal property of the Tenant is not insured by the Landlord for either damage or loss, and the Landlord assumes no liability for any such loss.
        </li>
      </ol>


      <h4>Attorney Fees</h4>
      <ol>
        <li>
          In the event that any action is filed in relation to this Lease, the unsuccessful Party in the action will pay to the successful Party, in addition to all sums that either Party may be called on to pay, a reasonable sum for successful Party's attorney fees.
        </li>
      </ol>
    

      <h4>Severability</h4>
      <ol>
        <li>If there is a conflict between any provision of this Lease and the Act, the Act will prevail.</li>
      </ol>


      <h4 *ngIf="clauses.finalDetails.additionalClauses.selectedAdditionalClause=='1'">Additional Clause</h4>
      <ol *ngIf="clauses.finalDetails.additionalClauses.selectedAdditionalClause=='1'">
        <li>
          {{clauses.finalDetails.additionalClauses.clause}}
        </li>
      </ol>


      <h4>Damage to Property</h4>
      <ol>
        <li>If the Property should be damaged other than by the Tenant's negligence or willful act or that of the Tenant's employee, family, agent, or visitor and the Landlord decides not to rebuild or repair the Property, the Landlord may end this Lease by giving appropriate notice.</li>
      </ol>


      <h4>Care and Use of Property</h4>
      <ol>
        <li>The Tenant will promptly notifiy the Landlord of any damage, or of any situation that may significantly interfere with the normal use of the Property or to any furnishings supplied by the Landlord.</li>
        <li>The Tenant will not engage in any illegal trade or activity on or about the Property.</li>
        <li>At the expiration of the term of this Lease, the Tenant will quit and surrender the Property in as good a state and condition as they were at the commencement of this Lease, reasonable use and wear and tear excepted.</li>
      </ol>


      <h4>Rules and Regulations</h4>
      <ol>
        <li>The Tenant will obey all rules and regulations of the Landlord regarding the Property.</li>
      </ol>


      <h4 *ngIf="clauses.finalDetails.disputeResolution.selectedDisputeResolution=='2'">Mediation</h4>
      <h4 *ngIf="clauses.finalDetails.disputeResolution.selectedDisputeResolution=='3'">Arbitration</h4>
      <h4 *ngIf="clauses.finalDetails.disputeResolution.selectedDisputeResolution=='4'">Mediation and Arbitration</h4>
      <ol *ngIf="clauses.finalDetails.disputeResolution.selectedDisputeResolution!='1'">
        <li>If any dispute relating to this Lease between the Parties is not resolved through informal discussion, the Parties agree to submit the issue 
          <span *ngIf="clauses.finalDetails.disputeResolution.selectedDisputeResolution=='2'">before a mediator. The decision of the mediator will not be binding on the Parties. Any mediator must be neutral party acceptable to both Parties. The cost of any mediation will be </span>
          <span *ngIf="clauses.finalDetails.disputeResolution.selectedDisputeResolution=='3'">before an arbitrator. The decision of the arbitrator will be binding on the Parties. Any arbitrator must be neutral party acceptable to both Parties. The cost of any arbitration will be </span>
          <span *ngIf="clauses.finalDetails.disputeResolution.selectedDisputeResolution=='4'">first before a non-binding mediator and to an arbitrator in the event that mediation fails. The decision of the arbitrator will be binding on the Parties. Any mediator or arbitrator must be neutral party acceptable to both Parties. The cost of any mediation or arbitration will be </span>
          <span *ngIf="clauses.finalDetails.disputeResolution.selectedDisputeResolutionCost=='1'">shared equally by the Parties.</span>
          <span *ngIf="clauses.finalDetails.disputeResolution.selectedDisputeResolutionCost=='2'">paid by the Landlord.</span>
          <span *ngIf="clauses.finalDetails.disputeResolution.selectedDisputeResolutionCost=='3'">paid by the Tenant.</span>
        </li>
      </ol>


      <h4>Address for Notice</h4>
      <ol>
        <li>
          For any matter relating to this tenancy, the Tenant may be contacted through the email address below:
          <ul>
            <li class="text-capitalize">
              <span >Name: {{clauses.parties.tenant.firstName}} {{clauses.parties.tenant.lastName}}</span>
            </li>
            <li>
              <span>Email: {{clauses.parties.tenant.email}}</span>
            </li>
          </ul>
        </li>
        <li>
          For any matter relating to this tenancy, whether during or after this tenancy has been terminated, the Landlord's email address for notice is:
          <ul>
            <li class="text-capitalize">
              <span>Name: {{clauses.parties.landlord.firstName}} {{clauses.parties.landlord.lastName}}</span>
            </li>
            <li>
              <span>Email: {{clauses.parties.landlord.email}}</span>
            </li>
          </ul>
        </li>
      </ol>


      <h4>Ethereum Wallets</h4>
      <ol>
        <li>The Wallets generated by the platform are securely protected with encryption with the user password.</li>
        <li>
        Both the Tenant and Landlord will use the Ethereum Wallets provided by the platform to take actions in the Lease Agreement, such as depositing/withdrawing the rent, open/close ticket, start/end disputes, etc.
        </li>
        <li>The Wallets may be exported and used outside the platform to take actions in the Lease Agreement.</li>
        <li>
          <span>The Landlord Ethereum Address is as follows: {{clauses.parties.landlord.address}}</span>
        </li>
        <li>
          <span>The Tenant Ethereum Address is as follows: {{clauses.parties.tenant.address}}</span>
        </li>
      </ol>


      <h4>Smart Contract</h4>
      <ol>
        <li>The Smart Contract will be the one responsable for:
          <ul>
            <li>Storing all the Lease Clauses which can be easily read through an Ethereum Blockchain Explorer or the Smart Contract Solidity Code.</li>
            <li>Processing tickets, disputes, deposits and withdraws.</li>
            <li>Providing its Contract Address so that the Tenant will be able to deposit the rent in it.</li>
            <li>Playing the role of an escrow account, so that the Smart Contract will hold the rent if there's a ticket opened by the Tenant.</li>
            <li>Releasing the rent once a ticket is closed so that the Landlord can withdraw the money.</li>
          </ul>
        </li>
        <li>The Smart Contract won't be able to process any action until it's approved by the Tenant.</li>
          <li>In case in a dispute resolution a Tenant needs to pay to the Landlord and this one refuses to it, an admin can make the contract to take the required amount of money (ETH) to deposit it to the Contract Address, where the Lanlord will be able to withdraw it.</li>
      </ol>


      <h4>General Provisions</h4>
      <ol>
        <li>All monetary amounts stated or referred to in this Lease are based in the Ethereum cryptocurrency "Ether" (ETH).</li>
        <li>Any waiver by the Landlord of any failure by the Tenant to perform or observe the provisions of this Lease will not operate as a waiver of the Landlord's right under this Lease in respect of any subsequent defaults, breaches or non-performance and will not defeat or affect in any way the Landlord's right in respect of any subsequent default or breach.</li>
        <li>Locks may not be added or changed without the prior written agreement of both Parties, or unless the changes are made in compliance with the Act.</li>
        <li>This Lease constitutes the entire agreement between the Parties.</li>
        <li>Time is of the essence in this Lease.</li>
      </ol>


      <h3 class="text-center pt-4 pb-3">Signatures</h3>
      As proof that the Landlord has approved the Lease Agreement, the Smart Contract address and the transaction hash of its creation is denoted below as signature of this Lease Agreement:
      <ul>
        <li>
          <strong>Contract address: </strong>
          <span *ngIf="!clauses.contract">__________________________________________</span>
          <span *ngIf="clauses.contract">{{clauses.contract.address}}</span>
        </li>
        <li>
          <strong>Creation Transaction Hash: </strong>
          <span *ngIf="!clauses.contract">_______________________________________________</span>
          <span *ngIf="clauses.contract">{{clauses.contract.txHash}}</span>
        </li>
      </ul>

      As proof that the Tenant has approved the Lease Agreement, he/she agrees on approving the Rental Agreement and the clauses written by the Landlord with the agreement approval transaction hash denoted below as signature of this Lease Agreement:
      <ul>
        <li>
          <strong>Agreement Approval Transaction Hash: </strong>
            <span *ngIf="!clauses.approval || !clauses.approval.approved">_______________________________________________</span>
            <span *ngIf="clauses.approval && clauses.approval.approved">{{clauses.approval.txHash}}</span>
        </li>
      </ul>


  </label>
</div>