<mdb-navbar *ngIf="authenticated==false" SideClass="navbar navbar-expand-md navbar-dark fixed-top light-blue darken-4 scrolling-navbar" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" [routerLink]="['/']">
    	  <img [src]="'./assets/' + app.symbol + '.png'" height="30px" alt="">
    	  <strong> {{app.name}}</strong>
        </a>
    </logo>
  <links>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/listings/all']">
              <mdb-icon fas icon="home"></mdb-icon>
              <span class="clearfix d-none d-sm-inline-block"> Properties for Rent</span>                      
            </a>
        </li>
        <li class="nav-item dropdown" mdbDropdown>
          <a mdbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="address-book"></mdb-icon>
            <span class="d-none d-sm-inline-block"> Directory</span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-success" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/service-providers']">
                <mdb-icon fas icon="tools"></mdb-icon>
                <span> Top Service Providers</span>
              </a>
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/real-estate-agents']">
                <mdb-icon fas icon="user-tie"></mdb-icon>
                <span> Top Real Estate Agents</span>
              </a>
          </div>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/help/pricing']">
              <mdb-icon fas icon="gift"></mdb-icon>
              <span class="clearfix d-none d-sm-inline-block"> Pricing</span>                      
            </a>
        </li>
      </ul>

      <ul class="navbar-nav nav-flex-icons ml-auto">       
         <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/help/FAQ']" >
                <mdb-icon fas icon="question-circle"></mdb-icon>
                <span class="clearfix d-none d-sm-inline-block"> FAQ</span>                      
              </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/how-it-works']" >
                <mdb-icon fas icon="exclamation-circle"></mdb-icon>
                <span class="clearfix d-none d-sm-inline-block"> How it works</span>                      
              </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/account/create']" >
                <mdb-icon fas icon="plus-square"></mdb-icon>
                <span class="clearfix d-none d-sm-inline-block"> Create account</span>                      
              </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/account/login']">
                <mdb-icon fas icon="sign-in-alt"></mdb-icon>
                <span class="clearfix d-none d-sm-inline-block"> Login</span>                      
              </a>
          </li>
      </ul>
  </links>	    
</mdb-navbar>




<mdb-navbar *ngIf="authenticated" SideClass="navbar navbar-expand-md navbar-dark fixed-top light-blue darken-4 scrolling-navbar" [containerInside]="false">
  <logo>
      <a *ngIf="userInfo" class="logo navbar-brand" [routerLink]="['/user/'+userInfo.uid]" [queryParams]="{role: userInfo.role}">
        <img [src]="'./assets/' + app.symbol + '.png'" height="30px" alt="">
        <strong> {{app.name}}</strong>
      </a>
  </logo>
  <links>
      <ul class="navbar-nav nav-flex-icons">
         <li class="nav-item dropdown" mdbDropdown>
            <a mdbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              <mdb-icon fas icon="user"></mdb-icon>
              <span *ngIf="userInfo" class="d-none d-sm-inline-block text-capitalize"> {{userInfo.role}}</span>
            </a>
             <div *dropdownMenu class="dropdown-menu dropdown dropdown-success" role="menu">
                <a *ngIf="!userInfo" class="dropdown-item waves-light" mdbWavesEffect>
                  <mdb-icon fas icon="spinner"></mdb-icon>
                </a>
                <a *ngIf="userInfo && (userInfo.role=='tenant' || userInfo.role=='landlord')" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/my-properties/all']">
                  <mdb-icon fas icon="home"></mdb-icon>
                  My Properties
                </a>
                <a *ngIf="userInfo && userInfo.role=='tenant'" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/listings/all']">
                  <mdb-icon fas icon="home"></mdb-icon>
                  Rent a property
                </a>
                <a *ngIf="userInfo && userInfo.role=='real estate agent'" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/listings/mine']">
                  <mdb-icon fas icon="home"></mdb-icon>
                  My Listings
                </a>
                <a *ngIf="userInfo && userInfo.role=='tenant'" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/applications/all']">
                  <mdb-icon fas icon="bookmark"></mdb-icon>
                  My applications
                </a>
                <a *ngIf="userInfo?.role=='landlord' || userInfo?.role=='real estate agent'" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/agreements/all']">
                  <mdb-icon fas icon="file-signature"></mdb-icon>
                  <span> Agreements</span>
                </a>
                <a *ngIf="userInfo?.role=='tenant' || userInfo?.role=='landlord' || userInfo?.role=='service provider'" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/my-service-providers-jobs/all']">
                  <mdb-icon fas icon="wrench"></mdb-icon>
                  My Service Providers jobs
                </a>
                <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/service-providers']">
                  <mdb-icon fas icon="tools"></mdb-icon>
                  <span> Top Service Providers</span>
                </a>
                <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/real-estate-agents']">
                  <mdb-icon fas icon="user-tie"></mdb-icon>
                  <span> Top Real Estate Agents</span>
                </a>
             </div>
         </li>
         
         <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/help/pricing']">
                <mdb-icon fas icon="gift"></mdb-icon>
                <span class="clearfix d-none d-sm-inline-block"> Pricing</span>                      
            </a>
        </li>

        <li *ngIf="userInfo?.admin" class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="exclamation-circle"></mdb-icon>
            <span class="clearfix d-none d-sm-inline-block"> Admin</span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-success" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/admin/id-verification/all']">
                <mdb-icon far icon="address-card"></mdb-icon>
                ID Verification
              </a>
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/admin/property-listing/all']">
                <mdb-icon fas icon="home"></mdb-icon> Property Listing
              </a>
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/admin/withdrawal/all']">
                <mdb-icon far icon="money-bill-alt"></mdb-icon> Withdrawal
              </a>
              <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/admin/balances']">
                <mdb-icon fas icon="hand-holding-usd"></mdb-icon> Balances
              </a>
          </div>
        </li>

      </ul>

      <ul class="navbar-nav nav-flex-icons ml-auto">
          <li *ngIf="userInfo" class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
              <a class="nav-link" (click)="notificationComponent.openNotificationModal()">
                  <span class="d-sm-inline-block pl-1 badge badge-{{userInfo.preferences.counters.unreads.notifications>0? 'warning' : 'info'}} badge-pill">
                    {{userInfo.preferences.counters.unreads.notifications}}
                  </span>                   
                  <mdb-icon fas icon="bell"></mdb-icon>
              </a>
          </li>
          <li *ngIf="userInfo" class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
              <a class="nav-link" (click)="chatComponent.openChatModal()">
                  <span class="d-sm-inline-block pl-1 badge badge-info badge-pill">0</span>                     
                  <mdb-icon fas icon="comments"></mdb-icon>
              </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/my-wallet']">
                  <mdb-icon *ngIf="!userInfo" fas icon="spinner" class="ml-1"></mdb-icon>
                  <mdb-icon *ngIf="userInfo" far icon="money-bill-alt"></mdb-icon>
                  <span *ngIf="userInfo" class="clearfix d-none d-sm-inline-block"> 
                    My Wallets
                  </span>                    
              </a>
          </li>     
          <li class="nav-item dropdown" mdbDropdown>
             <a mdbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              <mdb-icon fas icon="user"></mdb-icon>
             </a>
             <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-success" role="menu">
                <a *ngIf="!userInfo" class="dropdown-item waves-light" mdbWavesEffect>
                  <mdb-icon fas icon="spinner"></mdb-icon>
                </a>
                <a *ngIf="userInfo" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/user', userInfo.uid]">
                  <mdb-icon fas icon="user"></mdb-icon>
                  <span class="text-capitalize"> {{userInfo.firstName}}</span>
                </a>
                <a *ngIf="userInfo" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/user/settings']">
                  <mdb-icon fas icon="cog"></mdb-icon>
                  Settings
                </a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">
                  <mdb-icon fas icon="sign-out-alt"></mdb-icon>
                  Logout
                </a>
             </div>
         </li>
      </ul>
  </links>      
</mdb-navbar>



<app-notifications #notificationComponent [userInfo]='userInfo'></app-notifications>

<app-chat #chatComponent [userInfo]='userInfo'></app-chat>