<div class="pt-5 pb-4">
	<div class="info-color pt-4 pb-1 font-weight-bold z-depth-1 white-text">
			<div class="row no-gutters justify-content-center">
        <div class="col-12 col-md text-center">
            <h3 class="h3-responsive pt-2 text-capitalize">Withdrawal requests</h3>
        </div>
			</div>
	</div>
</div>


<div class="row no-gutters justify-content-center">

  <div class="col-12 col-md-9">
    <mdb-card>
        <div class="table-responsive no-gutters">
          <table *ngIf="withdrawals" class="text-center" mdbTable hover="true">
            <thead class="unique-color white-text z-depth-2">
              <tr mdbTableCol>
                <th>Date</th>
                <th>Currency</th>
                <th>Amount</th>
                <th>ID</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let withdrawal of withdrawals" mdbTableCol style="cursor: pointer;" [routerLink]="['/admin/withdrawal/details/'+withdrawal.id]">
                <th class="font-weight-bold"><img [src]='"./assets/coins/" + withdrawal.currency + ".png"' width="40px" class="img-fluid"> {{formatPreviewTxDate(withdrawal.creationTS)}}</th>  
                <th class="font-weight-bold pt-4">{{assetFromCurrency(withdrawal.currency).name}} ({{withdrawal.currency}})</th>
                <td class="font-weight-bold pt-4">{{withdrawal.amount}} {{withdrawal.currency}} ({{fromCryptoToUSD(withdrawal.currency, withdrawal.amount)}} USD) </td>
                <th class="font-weight-bold pt-4">{{withdrawal.id}}</th>
              </tr>
            </tbody>
          </table>

          <div *ngIf="!withdrawals" class="text-center">
            <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
          </div>

          <div *ngIf="withdrawals && withdrawals.length==0" class="text-center pt-5 pb-3">
            <h3><strong>No pending withdrawal</strong></h3>
          </div>

          <hr class="my-0">
        </div>
    </mdb-card>
  </div>
</div>