<div *ngIf="!userInfo || !currencies" class="text-center pb-4">
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>
  
<div *ngIf="userInfo && currencies" class="row no-gutters justify-content-center py-4 px-md-5">
  <div class="col-12 pb-5">
      <h2 class="h2-responsive text-center font-weight-bold">Transaction History</h2>
  </div>

  <div class="col-12">
    <form class="row no-gutters justify-content-center" [formGroup]="itemForm">

      <div class="col-12 col-md-10 col-lg-6 col-xl-5">
        <div class="row no-gutters justify-content-center">
          <div class="col-9 col-md-6 pt-3 text-center font-weight-bold">
            <mdb-select class="border border-primary" [options]="cryptosSelect" formControlName='currency' placeholder="Choose Cryptocurrency"></mdb-select>
          </div>
          <div *ngIf="itemForm.get('currency').value!='0'" class="col-auto pt-3 pl-3 text-center">
            <img [src]='"./assets/coins/" + currencyFromSelect + ".png"' width="40px" class="img-fluid">
          </div>
          <div *ngIf="itemForm.get('currency').value=='0'" class="col-auto pt-3 pl-3 text-center">
              <img [src]='"./assets/coins/cryptos.png"' width="40px" class="img-fluid">
            </div>
        </div>
      </div>

      <div class="col-12 col-md-10 col-lg-6 col-xl-5">
        <div class="row no-gutters justify-content-center">
          <div class="col-9 col-md-6 pt-3 text-center font-weight-bold">
            <mdb-select class="border border-primary" [options]="transactionTypeSelect" formControlName='txType' placeholder="Choose Transaction Type"></mdb-select>
          </div>
          <div *ngIf="itemForm.get('txType').value!='0'" class="col-auto pt-3 pl-3 text-center">
            <img [src]='iconFromtxType(txTypeFromSelect)' width="40px" class="img-fluid">
          </div>
          <div *ngIf="itemForm.get('txType').value=='0'" class="col-auto pt-3 pl-3 text-center">
            <img [src]='"/assets/transactions/allTxTypes.png"' width="40px" class="img-fluid">
          </div>
        </div>
      </div>

      <!-- <div class="col-12 pt-4 text-center">
        <button [disabled]='searching' mdbBtn color='success' rounded="true" mdbWavesEffect (click)="search()">Search</button>
      </div> -->

    </form>
  </div>

  <div class="col-12 col-md-9 pt-5" style="overflow: auto;">

      <div *ngIf="searching" class="text-center pb-4">
        <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
      </div>

      <table *ngIf="txs" mdbTable hover="true">
        <tbody>
          <tr *ngFor="let tx of txs" mdbTableCol style="cursor:pointer;" (click)="selectTx(tx)">
            <th class="font-weight-bold"><img [src]='"./assets/coins/" + tx.currency + ".png"' width="40px" class="img-fluid"> {{formatPreviewTxDate(tx.creationTS)}}</th>
            <td class="font-weight-bold"><img [src]='iconFromtxType(tx.type)' width="40px" class="img-fluid"> {{tx.type.toUpperCase()}}</td>
            <td class="font-weight-bold" [ngClass]="{
              'green-text': (tx.type=='deposit' || tx.type=='payment received'), 
              'red-text': (tx.type!='deposit' && tx.type!='payment received')
              }">
              <span *ngIf="(tx.type=='deposit' || tx.type=='payment received')">+</span>
              <span *ngIf="(tx.type!='deposit' && tx.type!='payment received')">-</span>
              <span *ngIf="tx.type!='withdrawal'">{{formatAmount(tx.amount)}} {{tx.currency}}</span>
              <span *ngIf="tx.type=='withdrawal'">{{formatAmount(newBigNumber(tx.amount).plus(tx.fee))}} {{tx.currency}}</span>
            </td>
            <td class="font-weight-bold" [ngClass]="{'green-text': tx.status=='confirmed', 'grey-text': tx.status=='pending'}">
              {{tx.status.toUpperCase()}}
            </td>
          </tr>
        </tbody>
      </table>
      
      <div *ngIf="txs && txs.length==0" class="text-center pt-2 pb-3">
        <strong>No transactions found</strong>
      </div>
    
      <hr class="my-0">
      <div *ngIf="canLoadMoreTxs" class="text-center pt-4">
        <button [disabled]='loadingMoreTxs' color='success' rounded="true" mdbBtn mdbWavesEffect (click)="loadMoreTx()">
          <span *ngIf="!loadingMoreTxs">Load more</span>
          <span *ngIf="loadingMoreTxs" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
  </div>
</div>




<div mdbModal #txModal="mdbModal" style="overflow: auto;" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar" role="document">
      
      <div *ngIf="txSelected" class="modal-content">
  
          
        <div class="modal-header">
            <img [src]='"./assets/coins/" + txSelected.currency + ".png"' class="rounded-circle img-responsive">
        </div>
         
        <div class="modal-body text-left mb-1">
          <!-- <h5 class="mt-1 mb-2 text-center">Transaction</h5> -->
  
          <div class="md-form">
            <p>
              <strong>Date: </strong> {{formatDate(txSelected.creationTS)}}
            </p>
            <p>
              <strong>Currency: </strong> {{assetFromCurrency(txSelected.currency).name}} ({{txSelected.currency}})
            </p>
            <p>
              <strong>ID: </strong> {{txSelected.id}}
            </p>
            <p class="text-capitalize">
              <strong>Type: </strong> <img [src]='txSelected.icon' width="25px" class="img-fluid"> {{txSelected.type}}
            </p>
            <p *ngIf="txSelected.to">
              <strong>To: </strong> <span>{{txSelected.to}}</span>
            </p>
            <p *ngIf="txSelected.txHash">
              <strong>Hash: </strong> <span>{{txSelected.txHash}}</span>
            </p>
            <p *ngIf="txSelected.details">
              <strong>Description: </strong> {{txSelected.details}}
            </p>
            <!-- <p>                            
               <strong>Hash: </strong> 
               <span style="font-size: 70%"><a [href]="etherscanURL+'/tx/'+txSelected.hash" target="_blank">{{txSelected.hash}}</a></span>
            </p>
                     -->
            <p>
              <strong>Status: </strong>
              <span class="font-weight-bold" [ngClass]="{'green-text': txSelected.status=='confirmed', 'grey-text': txSelected.status=='pending'}">
                {{txSelected.status.toUpperCase()}}
              </span>
            </p>
            <p>                            
               <strong>Amount: </strong> {{formatAmount(txSelected.amount)}} {{txSelected.currency}}
            </p>
            <p *ngIf="txSelected.fee>=0">
              <strong>Fee: </strong> {{formatAmount(txSelected.fee)}} {{txSelected.currency}}
            </p>
          </div>
  
          <div class="text-center">
              <button color='cyan' mdbBtn class="mt-1" mdbWavesEffect (click)="txModal.hide()">Close</button>
          </div>
        </div>
  
      </div>
        
    </div>
  </div>