
<h3 class="font-weight-bold h3-responsive pb-2 text-center">Transactions</h3>
<div style="overflow: auto;">

	<table class="table table-hover">
	  <thead>
	    <tr>
	    	<th> </th>
	      <th>TxHash</th>
	      <th>From</th>
	      <th>To</th>
	      <th>Value</th>
	      <th>TxFee</th>
	    </tr>
	  </thead>
	  <tbody *ngIf="!loadingTxs">
	  	<tr *ngFor="let tx of txs" style="cursor: pointer;" (click)="selectTx(tx)">
	  		<td *ngIf="tx.from.toLowerCase()==identityWallet.address.toLowerCase() && 
	  							(!tx.to || (tx.to && tx.to.toLowerCase()!=identityWallet.address.toLowerCase()))">
	  			<span class="badge badge-info">SENT</span>
	  		</td>
	  		<td *ngIf="tx.to.toLowerCase()==identityWallet.address.toLowerCase() && tx.from.toLowerCase()!=identityWallet.address.toLowerCase()">
	  			<span class="badge badge-success">RECEIVED</span>
	  		</td>
	  		<td *ngIf="tx.from.toLowerCase()==identityWallet.address.toLowerCase() && tx.to.toLowerCase()==identityWallet.address.toLowerCase()">
	  			<span class="badge badge-warning">SELF</span>
	  		</td>
	  		<th>{{tx.hash.slice(0,18)}}...</th>
	  		<td>{{tx.from.slice(0,18)}}...</td>
	  		<td *ngIf="tx.to">{{tx.to.slice(0,18)}}...</td>
	  		<td *ngIf="!tx.to">Contract Creation</td>
	  		<td>{{ formatValue(tx.value) }} ETH</td>
	  		<td>{{ formatValue(newBigNumber(tx.gasUsed).times(newBigNumber(tx.gasPrice))) }} ETH</td>	
	  	</tr>
	  </tbody>
	</table>	

	<div *ngIf="loadingTxs" class="text-center">
		<mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
	</div>

	<div *ngIf="!loadingTxs && txs && txs.length==0" class="text-center pt-2 pb-3">
		<strong>No transactions found</strong>
	</div>

	<hr class="my-0">

	<div *ngIf="!loadingTxs && txs" class="d-flex justify-content-center">
	  <nav class="my-4 pt-2">
	    <ul class="pagination pagination-circle pg-purple mb-0">

	      <li class="page-item" [ngClass]="{disabled: page == 1}">
	        <a class="page-link" aria-label="Previous" mdbWavesEffect (click)="previousPage()">
	        	<i class="fa fa-arrow-circle-left fa-3x" 
	        		[ngClass]="{'grey-text':page==1, 'purple-text':page!=1}" aria-hidden="true"></i>
	          <span class="sr-only">Previous</span>
	        </a>
	      </li>
	      
	      <li class="page-item" [ngClass]="{disabled: txs.length<offset}">
	        <a class="page-link" aria-label="Next" mdbWavesEffect (click)="nextPage()">
	        	<i class="fa fa-arrow-circle-right fa-3x" 
	        		[ngClass]="{'grey-text':txs.length<offset, 'purple-text':txs.length>=offset}" aria-hidden="true"></i>
	          <span class="sr-only">Next</span>
	        </a>
	      </li>

	    </ul>
	  </nav>
	</div>
</div>






<!-- TRANSACTION MODAL -->
<div mdbModal #txModal="mdbModal" style="overflow: auto;" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar" role="document">
    
    <div class="modal-content">

        
      <div class="modal-header">
          <img [src]="'./assets/ETH2.png'" class="rounded-circle img-responsive">
      </div>
       
      <div class="modal-body text-left mb-1">
        <h5 class="mt-1 mb-2 text-center">Transaction</h5>

        <div *ngIf="txSelected" class="md-form ml-0 mr-0">
        	<p>                            
             <strong>Hash: </strong> 
             <span style="font-size: 70%"><a [href]="etherscanURL+'/tx/'+txSelected.hash" target="_blank">{{txSelected.hash}}</a></span>
          </p>
      		<p>
            <strong>From: </strong>{{txSelected.from}}                            
          </p>
          <p *ngIf="txSelected.to">
            <strong>To: </strong>{{txSelected.to}}                            
          </p>
          <p *ngIf="txSelected.contractAddress">
            <strong>Contract address: </strong>{{txSelected.contractAddress}}                            
          </p>
          <p>                            
             <strong>Amount: </strong> {{formatValue(txSelected.value)}} ETH
          </p>
					<p>
						<strong>Fee: </strong> {{ formatValue(newBigNumber(txSelected.gasUsed).times(newBigNumber(txSelected.gasPrice))) }} ETH
					</p>
					<p>
						<strong>Gas used: </strong>{{txSelected.gasUsed}} UNITS
					</p>											
					<p>
						<strong>Gas price: </strong>{{ newBigNumber(txSelected.gasPrice).times(newBigNumber(10).pow(-9)).toString(10) }} Gwei
					</p>
					<p>
						<strong>Block height: </strong>{{txSelected.blockNumber}}
					</p>					
        </div>

        <div class="text-center">
            <button class="btn btn-cyan mt-1 waves-light" mdbWavesEffect (click)="txModal.hide()" > Close </button>
        </div>
      </div>

    </div>
      
  </div>
</div>
