<div class="pt-5 pb-4">
	<div class="info-color pt-4 pb-1 font-weight-bold z-depth-1 white-text">
			<div class="row no-gutters justify-content-center">
        <div class="col-12 col-md text-center">
            <h3 class="h3-responsive pt-3 text-capitalize">
              Top Real Estate Agents
            </h3>
        </div>
        <div [hidden]="!addressEntered" class="text-center form-inline waves-light col-12 col-md-4 pl-3">
            <i class="fa fa-search prefix"></i>
            <input #search class="form-control font-weight-bold form-control-sm ml-2 w-75" type="text" placeholder="Search">
        </div>
			</div>
	</div>
</div>


<div *ngIf="submitting" class="text-center">
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>


<div *ngIf="total>0" class="section-heading">
    <h3 class="pb-2 text-center">Results: <span class="badge blue">{{total}}</span></h3>
</div>

<div class="text-center pb-4">
	<span *ngIf="filterUsed && !submitting" class="badge badge-primary">(Filters active)</span>
</div>


<h1 *ngIf="total==0" class="text-center py-5 mb-5">
	Nothing found 😢
</h1>

<h1 *ngIf="!addressEntered" class="text-center pt-5 pb-1">
	Enter a city 🌇
</h1>

<div [hidden]="addressEntered" class="row justify-content-center no-gutters">
	<div class="col-md-6 md-form">
		<i class="fa fa-search prefix grey-text"></i>
		<input #search2 type="text" id="form-address" class="form-control" required mdbInputDirective placeholder="Search">
	</div>
</div>


<div *ngIf="realEstateAgents && realEstateAgents.length>0" class="row no-gutters justify-content-center pt-3 pb-5">
    
    <div class="col-md-7">
      <mdb-card class="black-text">
        <mdb-card-body>

          <div *ngFor="let user of realEstateAgents" class="row">
            <div class="col-md-2 col-12 text-center">
              <img [src]="user.photo || './assets/noProfilePicture.png'" width="100px" style="cursor:pointer"
                class="avatar rounded-circle z-depth-1-half img-fluid" (click)="viewProfile(user.uid)">
            </div>
            
            <div class="col-md-6 col-12">
              <div class="row">
                <div class="col-md-auto col-12">
                  <h5 class="text-center text-capitalize"><span style="cursor:pointer" (click)="viewProfile(user.uid)">{{user.firstName}} {{user.lastName}} </span> 
                    <app-membership-icon [pricingPlan]='user.membership.pricingPlan'></app-membership-icon>  
                  </h5>                  
                </div>
                <div class="col-12">
                  <h5 class="text-center text-md-left">
                    <span class="badge badge-warning mr-1">{{user.realEstateAgent.score}}</span>
                    <app-score [score]='user.realEstateAgent.score'></app-score>
                    <small class="grey-text text-right"> ({{user.realEstateAgent.reviews}}
                      <span *ngIf="user.realEstateAgent.reviews==1"> review</span> <span *ngIf="user.realEstateAgent.reviews!=1"> reviews</span>)
                    </small>
                  </h5>
                </div>
                <div class="col-12">
                  <p class="grey-text mb-1">{{user.shortDescription}}</p>
                </div>
              </div>
              <!-- <hr> -->
            </div>
            <div class="col font-weight-bold">
              <p>Total Rented: {{user.totalRented}}</p>
              <p>Total Tenants: {{user.totalTenants}}</p>
              <p>Total Landlords: {{user.totalLandlords}}</p>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
</div>