<div *ngIf="!(userInfo$ | async)" style="padding-top: 20%;">		
	<div class="text-center">
		<mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
	</div>
</div>



<div *ngIf="userInfo$ | async as userInfo" class="py-5">
	<div class="py-2">
		<div class="info-color pt-4 pb-2 font-weight-bold z-depth-1 white-text">
				<div class="row no-gutters justify-content-center">
					<div class="col text-center">
						<h3 class="h3-responsive text-capitalize">
								{{userInfo.firstName}}'s Wallets
						</h3>
					</div>
				</div>
		</div>
	</div>

	<mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-3'" [contentClass]="'card'">
		<mdb-tab heading="Deposit Wallet" (select)="selectedPanel=1">
				<app-deposit-wallet *ngIf="selectedPanel==1" [userInfo]='userInfo' [staticTabs]='staticTabs'></app-deposit-wallet>
		</mdb-tab>

		<mdb-tab heading="Identity Wallet" (select)="selectedPanel=2">
				<app-identity-wallet *ngIf="selectedPanel==2" [userInfo]='userInfo'></app-identity-wallet>
		</mdb-tab>

		<mdb-tab heading="Transaction History" (select)="selectedPanel=3">
				<app-transactions *ngIf="selectedPanel==3" [userInfo]='userInfo'></app-transactions>
		</mdb-tab>

	</mdb-tabset>
	
</div>


<div class="py-5"></div>


