<div class="row no-gutters pt-2">
  <div class="col-12">
      <div class="row">
        <div class="col-12 grey-text text-center pb-4">
            Used for pricing plans and Rental Agreements without Smart Contracts. Your money is securely saved on the Platform.
        </div>

        <div *ngIf="!(currencies$ | async)" class="col-12 pt-4 text-center">
          <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
        </div>

        <div *ngIf="currencies$ | async as currencies" class="col-12 col-md-4 pb-3 pb-md-0">
          <mdb-card>
            <mdb-card-body>
              <div class="row">

                <div class="col-3">
                  <i *ngIf="userInfo" class="fa fa-money fa-3x green-text" aria-hidden="true"></i> 
                </div>
                <div class="col-9">
                  <p class="mb-0">{{totalBalanceInUSD(currencies).decimalPlaces(8).toString()}} USD</p>
                  <p class="grey-text">Estimated balance</p>
                </div>
                <div class="col-12">
                    <div class="success-color py-1 z-depth-1"></div>
                </div>

                <div *ngFor="let item of currencies" class="col-12 row no-gutters">

                  <div class="col-3 pt-3">
                    <img [src]='"./assets/coins/" + item.currency + ".png"' class="img-fluid rounded-circle">
                  </div>
                  <div class="col-9 pt-4 pt-md-5">
                    <p class="pl-3 mb-0">
                      <span *ngIf="!userInfo.balances[item.currency]">0</span>
                      <span *ngIf="userInfo.balances[item.currency]">{{balanceInUSD(item.currency, item.price.USD).decimalPlaces(8).toString()}}</span>
                      USD
                    </p>
                    <p class="pl-3 grey-text">
                      <span *ngIf="!userInfo.balances[item.currency]">0</span>
                      <span *ngIf="userInfo.balances[item.currency]">{{formatBalance(userInfo.balances[item.currency].available)}}</span>
                      {{item.currency}}
                    </p>
                  </div>
                  <div class="col-12 pt-3">
                    <div class="py-1 z-depth-1" [ngStyle]="{'background-color':item.styleColor}"></div>
                  </div>
                </div>

              </div>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div *ngIf="currencies$ | async as currencies" class="col-12 col-md-8">
          <div *ngFor="let item of currencies" class="pb-3">
            <mdb-card>
              <mdb-card-body>
                <div  class="row justify-content-between">
                  <div class="col-12 col-md-8 text-center text-md-left">
                    <div class="row">
                      <div class="col-12 col-md-3">
                        <img [src]='"./assets/coins/" + item.currency + ".png"' class="img-fluid rounded-circle">
                      </div>
                      <div class="col-12 col-md-8 pt-md-3">
                        <h4>{{item.name}}</h4>
                        <h4 class="grey-text">{{item.currency}}</h4>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="userInfo.balances[item.currency]" class="col-12 col-md-4 pt-md-5 text-center text-md-left">
                    <p>Available: {{formatBalance(userInfo.balances[item.currency].available)}} {{item.currency}}</p>
                  </div>

                  <div *ngIf="!userInfo.balances[item.currency]" class="col-12 col-md-4 pt-md-3 text-center text-md-left">
                    <button [disabled]='creating[item.currency]' mdbBtn mdbWavesEffect color="success" size='lg' (click)="createWallet(item.currency)">
                        <span *ngIf="!creating[item.currency]">Create Wallet</span>
                        <span *ngIf="creating[item.currency]">Creating</span>
                    </button>
                  </div>

                  <div *ngIf="userInfo.balances[item.currency]" class="col-12 text-center text-md-left pt-md-1">
                    <app-deposit [userInfo]='userInfo' [currencyInfo]='item'></app-deposit>
                    
                    <app-withdraw [userInfo]='userInfo' [currencyInfo]='item'></app-withdraw>
                    
                    <button mdbBtn mdbWavesEffect color="secondary" (click)="viewTransactionHistory()">
                        Transactions
                    </button>
                  </div>

                  
                </div>
              </mdb-card-body>
            </mdb-card>
        </div>
        </div>
      </div>
  </div>
</div>

