<div class="pb-5 text-center" *ngIf="!state">
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>	

<div *ngIf='state==1'>
  <div class="row no-gutters mt-5 pt-5 justify-content-md-center">
    <div class="col col-md-4">
      <div class="card card-cascade">
        <div class="view view-cascade gradient-card-header success-color">
          <h2 class="h2-responsive mb-2">            
             Email verified
          </h2>
        </div>
      <div class="card-body text-center">
      	 <i class="fa fa-check green-text fa-3x animated rotateIn"></i>
        <h3 class="">
          You may now log in
        </h3>
	        <a mdbBtn color="success" type="button" class="mb-3 waves-lightr" mdbWavesEffect [routerLink]="['/account/login']">
	       	 	Login
	      	</a>
  
      </div>
    </div>
  </div>
  </div>
</div>


<div *ngIf='state==2 || state==3 || state==4'>
  <div class="row no-gutters mt-5 pt-5 justify-content-md-center">
    <div class="col col-md-4">
      <div class="card card-cascade">
        <div class="view view-cascade gradient-card-header danger-color">
          <h2 class="h2-responsive mb-2">            
             {{errorMessage}}
          </h2>
        </div>
      <div class="card-body text-center">
        <div>
      	 <i class="fa fa-close red-text fa-3x animated rotateIn"></i>
        </div>
        <div>
         <a mdbBtn color="danger" type="button" class="mb-3 waves-lightr" mdbWavesEffect [routerLink]="['/account/resend-email-verification-code']">
            Resend email verification code.
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>