<div *ngIf="!tenantSelected || !tenantSelected.info" class="text-center">
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>

<div *ngIf="tenantSelected && tenantSelected.info" class="row">
  <div class="col-12">


    <div class="pb-4">
      <div class="card">
        <section class="card-body text-center">
          <h1 class="font-weight-bold pb-4">Perform an action</h1>
          <p *ngIf="tenantSelected.info.state && tenantSelected.info.state.depositInfo" class="grey-text">Last payment: {{formatDateString(tenantSelected.info.state.depositInfo.creationTS)}}</p>
          
          <div class="row justify-content-center text-left pt-3">



            <div *ngIf="userInfo.uid==tenantSelected.uid" class="col-md-4 mb-4">
              <div class="">
                <div class="col-1 col-md-2 float-left">
                    <i class="fa fa-bank green-text fa-2x"></i>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="font-weight-bold">Deposit rent</h4>
                    <p class="grey-text">Deposit rent with the cryptocurrency of your preference.</p>
                    <a (click)="openDepositWithCryptoModal()" class="btn btn-success btn-sm ml-0 waves-light" mdbWavesEffect>Deposit</a>
                </div>
              </div>
            </div>

            <div *ngIf="userInfo.uid==tenantSelected.uid" class="col-md-4 mb-4">
              <div class="">
                <div class="col-1 col-md-2 float-left">
                    <i class="fa fa-ticket orange-text fa-2x"></i>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="font-weight-bold">Ticket</h4>
                    <p *ngIf="!ticketIsOpen" class="grey-text">Open a ticket to submit maintenance service requests to the landlord.</p>
                    <a *ngIf="!ticketIsOpen" (click)="ticketModal.show()" class="btn btn-warning btn-sm ml-0 waves-light" mdbWavesEffect>Open ticket</a>
                    <p *ngIf="ticketIsOpen" class="grey-text">Close your ticket once maintenance service is done.</p>
                    <a *ngIf="ticketIsOpen" (click)="ticketModal.show()" class="btn btn-warning btn-sm ml-0 waves-light" mdbWavesEffect>Close ticket</a>
                </div>
              </div>
            </div>


            <div *ngIf="userInfo.uid==myProperty.user.uid" class="col-md-6 mb-4">
              <div class="">
                <div class="col-1 col-md-2 float-left">
                    <i class="fa fa-money purple-text fa-4x"></i>
                </div>
                <div class="col-10 col-md-9 col-lg-10 float-right">
                    <h4 class="font-weight-bold">Modify rent</h4>
                    <p class="grey-text">Modify rent the Tenant pays.</p>
                    <button class="ml-0" type="button" mdbBtn color="secondary" size='sm' mdbWavesEffect (click)="modifyRentModal.show()">Modify</button>
                </div>
              </div>
            </div>






          </div>
        </section>
      </div>
    </div>



  </div>
</div>



<div mdbModal #depositWithCryptoModal="mdbModal" style="overflow: auto;" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <p class="heading text-capitalize">
                <span>Send Payment</span>                
              </p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="depositWithCryptoModal.hide()">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
          </div>

          <form [formGroup]="depositWithCryptoForm" (ngSubmit)="depositWithCrypto()">
            <div class="modal-body row justify-content-center">

              <div class="col-12">
                <h5 *ngIf="!currencySelected" class="text-center">Select Payment Method</h5>
                <h5 *ngIf="currencySelected" class="text-center">Payment Method: {{currencySelected.name}} ({{currencySelected.currency}})</h5>
              </div>
              
              <div *ngIf="!currencies" class="pt-3 text-center">
                  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
              </div>

              <div class="col-12">
                <div *ngIf="currencies" class="row justify-content-center">
                  <div *ngFor="let item of currencies" class="col-6 col-sm-4 col-lg-auto pt-3" (click)="selectCurrency(item)" style="cursor:pointer" >
                    <mdb-card [ngClass]="{'border': currencySelected && currencySelected.currency==item.currency, 'border-warning': currencySelected && currencySelected.currency==item.currency }">
                      <mdb-card-body>
                        <img [src]='"./assets/coins/" + item.currency + ".png"' class="img-fluid">
                      </mdb-card-body>
                    </mdb-card>
                  </div>
                </div>
              </div>

              
              <div *ngIf="currencySelected" class="col-md-8 pt-5">
                <p class="font-weight-bold mb-0">Amount ({{currencySelected.currency}})</p>
              </div>
              <div *ngIf="currencySelected" class="col-8 md-form mt-0">
                  <input mdbInput mdbValidate type="number" class="form-control" formControlName="payment">
                  <mdb-error *ngIf="depositWithCryptoForm.get('payment').invalid && (depositWithCryptoForm.get('payment').dirty || depositWithCryptoForm.get('payment').touched)"></mdb-error>
                  <mdb-success *ngIf="depositWithCryptoForm.get('payment').valid && (depositWithCryptoForm.get('payment').dirty || depositWithCryptoForm.get('payment').touched)"></mdb-success>
              </div>

              <div class="col-12">
                <p *ngIf="currencySelected && userInfo" class="text-center font-weight-bold pt-3">
                  Your balance: 
                  <span *ngIf="!userInfo.balances[currencySelected.currency]">0</span>
                  <span *ngIf="userInfo.balances[currencySelected.currency]">{{formatBalance(userInfo.balances[currencySelected.currency].available)}}</span>
                  {{currencySelected.currency}}
                </p>
              </div>
            </div>


            <div class="modal-footer justify-content-center">
              <button type="button" [disabled]='depositingWithCrypto' mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="depositWithCryptoModal.hide()">
                Cancel
              </button>
              <button type="submit" [disabled]="!currencySelected || !currencies || depositingWithCrypto || depositWithCryptoForm.get('payment').invalid" 
                mdbBtn color="success" class="waves-effect" mdbWavesEffect>
                <span *ngIf="!depositingWithCrypto">Submit</span>
                <span *ngIf="depositingWithCrypto">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only">Submitting</span>
                </span>
              </button>
            </div>
          </form>
      </div>
  </div>

</div>



<div mdbModal #ticketModal="mdbModal" (closed)=ticketModalClosed() class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-warning" role="document">
    
    <div *ngIf="tenantSelected && tenantSelected.info" class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">
          <span *ngIf="!ticketIsOpen">Open Ticket</span>
          <span *ngIf="ticketIsOpen">Close ticket</span>
        </p>
      </div>
      <form [formGroup]="ticketForm" (ngSubmit)="ticket()">
     
        <div class="modal-body">
          <mdb-icon fas icon="ticket-alt" size="3x" class="animated rotateIn"></mdb-icon>
          <div class="col-12 pt-3">
            <p *ngIf="!ticketIsOpen" class="font-weight-bold mb-0">Reason</p>
            <p *ngIf="ticketIsOpen" class="font-weight-bold mb-0">Are you sure?</p>
          </div>
          <div *ngIf="!ticketIsOpen" class="col-12 md-form mt-0">
            <textarea mdbInput mdbValidate type="text" formControlName="details" length='50' mdbCharCounter class="form-control md-textarea md-textarea-auto" rows="3"></textarea>
            <mdb-error *ngIf="ticketForm.get('details').invalid && (ticketForm.get('details').dirty || ticketForm.get('details').touched)"></mdb-error>
            <mdb-success *ngIf="ticketForm.get('details').valid && (ticketForm.get('details').dirty || ticketForm.get('details').touched)"></mdb-success>
          </div>
        </div>
        
        <div class="modal-footer flex-center">
          <button type="button" [disabled]="submittingTicket" mdbBtn color="warning" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="ticketModal.hide()">Cancel</button>
          <button type="submit" [disabled]="submittingTicket || (!ticketIsOpen && ticketForm.get('details').invalid)" mdbBtn color="warning" class="waves-effect" mdbWavesEffect>
            <span *ngIf="!submittingTicket">Submit</span>
            <span *ngIf="submittingTicket">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span class="sr-only">Submitting</span>
            </span>
          </button>
          
        </div>
      </form>
    </div>
  </div>
</div>



<div mdbModal #modifyRentModal="mdbModal" (closed)=modifyRentModalClosed() class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-info" role="document">
    
    <div *ngIf="tenantSelected && tenantSelected.info" class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">
          Modify Rent
        </p>
      </div>
      <form [formGroup]="modifyRentForm" (ngSubmit)="modifyRent()">
     
        <div class="modal-body">
          <mdb-icon fas icon="hand-holding-usd" size="3x" class="animated rotateIn"></mdb-icon>
          <div class="col-12 pt-3">
            <p class="font-weight-bold mb-0">New Rent (USD)</p>
          </div>
          <div class="col-12 md-form mt-0">
            <input mdbInput mdbValidate type="number" class="form-control" formControlName="newRent">
            <mdb-error *ngIf="modifyRentForm.get('newRent').invalid && (modifyRentForm.get('newRent').dirty || modifyRentForm.get('newRent').touched)"></mdb-error>
            <mdb-success *ngIf="modifyRentForm.get('newRent').valid && (modifyRentForm.get('newRent').dirty || modifyRentForm.get('newRent').touched)"></mdb-success>
          </div>
        </div>
        
        <div class="modal-footer flex-center">
          <button type="button" [disabled]='modifyingRent' mdbBtn color="info" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="modifyRentModal.hide()">Cancel</button>
          <button type="submit" [disabled]="modifyingRent || modifyRentForm.get('newRent').invalid" mdbBtn color="info" class="waves-effect" mdbWavesEffect>
            <span *ngIf="!modifyingRent">Submit</span>
            <span *ngIf="modifyingRent">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Submitting</span>
            </span>
          </button>
          
        </div>
      </form>
    </div>
  </div>
</div>