<mdb-icon *ngIf="pricingPlan === 'free'" fas icon="certificate" mdbTooltip='Free Member' class="grey-text font-weight-bold"></mdb-icon>
<mdb-icon *ngIf="pricingPlan === 'basic'" fas icon="certificate" mdbTooltip='Basic Member' class="indigo-text font-weight-bold"></mdb-icon>
<mdb-icon *ngIf="pricingPlan === 'plus'" fas icon="certificate" mdbTooltip='Plus Member' class="purple-text font-weight-bold"></mdb-icon>
<mdb-icon *ngIf="pricingPlan === 'professional'" fas icon="certificate" mdbTooltip='Professional Member' class="cyan-text font-weight-bold"></mdb-icon>
<mdb-icon *ngIf="pricingPlan === 'enterprise'" fas icon="certificate" mdbTooltip='Enterprise Member' class="text-warning font-weight-bold"></mdb-icon>