<div *ngIf="myProperty.tenantsID.length>0 && (!tenantSelected || !tenantSelected.info)" class="text-center">
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>

<div class="row">

  <div class="col-12 text-center">
    <h1 class="font-weight-bold">Settings</h1>
  </div>
  
  <div class="col-12 py-5 text-center">
      <button *ngIf="myProperty.tenantsID.length>0 && tenantSelected && tenantSelected.info &&
                    (tenantSelected.info.status=='active' || (tenantSelected.info.status=='endingLease' && tenantSelected.info.requestedBy!=userInfo.uid) )" 
          type="button" mdbBtn color="danger" rounded='true' mdbWavesEffect (click)="openEndLeaseModal()">
          <span class="text-uppercase" *ngIf="tenantSelected.info.status=='active'">
            End Lease with 
              <span *ngIf="userInfo.uid==tenantSelected.uid"> {{myProperty.user.firstName}}</span>
              <span *ngIf="userInfo.uid==myProperty.user.uid"> {{tenantSelected.firstName}}</span>
          </span>

          <span *ngIf="tenantSelected.info.status=='endingLease' && tenantSelected.info.requestedBy!=userInfo.uid">Accept request to end Lease</span>
      </button>

      <button *ngIf="myProperty.tenantsID.length>0 && tenantSelected && tenantSelected.info && 
          tenantSelected.info.status=='endingLease' && tenantSelected.info.requestedBy==userInfo.uid" 
          type="button" [disabled]='cancelingCulmination' mdbBtn color="danger" rounded='true' mdbWavesEffect (click)="cancelCulmination()">
          <span class="text-uppercase" *ngIf="!cancelingCulmination">Cancel Lease Culmination with 
              <span *ngIf="userInfo.uid==tenantSelected.uid"> {{myProperty.user.firstName}}</span>
              <span *ngIf="userInfo.uid==myProperty.user.uid"> {{tenantSelected.firstName}}</span>
          </span>

          <span *ngIf="cancelingCulmination" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>

      <button *ngIf="userInfo.uid==myProperty.user.uid" type="button" mdbBtn color="warning" rounded='true' mdbWavesEffect (click)="openDeletePropertyModal()">
          <span>Delete Property</span>
      </button>
  </div>

</div>




<div mdbModal #endLeaseModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
      
      <div *ngIf="tenantSelected && tenantSelected.info" class="modal-content text-center">
        <div class="modal-header d-flex justify-content-center">
          <p class="heading">Are you sure you want to end this Lease?</p>
        </div>
        
        <div class="modal-body">
          <i class="fa fa-times fa-4x animated rotateIn"></i>
          <p>The 
            <span *ngIf="userInfo.uid==myProperty.user.uid"> Tenant </span>
            <span  *ngIf="userInfo.uid==tenantSelected.uid"> Landlord </span>
            will need to confirm your request
          </p>
        </div>
        
        <div class="modal-footer flex-center">
          <button type="button" [disabled]='endingLease' mdbBtn color="danger" outline="true" class="waves-effect"
            mdbWavesEffect (click)="endLease()">
            <span *ngIf="!endingLease">Yes</span>
            <span *ngIf="endingLease">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span class="sr-only">Submitting</span>
            </span>
          </button>
          <button type="button" [disabled]='endingLease' mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="endLeaseModal.hide()">No</button>
        </div>
      </div>
    </div>
</div>





<div mdbModal #deletePropertyModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure you want delete the property?</p>
      </div>
      
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
        <p class="grey-text">All the property related info will be deleted as well</p>
      </div>
      
      <div class="modal-footer flex-center">
        <button type="button" [disabled]='deletingProperty' mdbBtn color="danger" outline="true" class="waves-effect"
          mdbWavesEffect (click)="deleteProperty()">
          <span *ngIf="!deletingProperty">Yes</span>
          <span *ngIf="deletingProperty">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Submitting</span>
          </span>
        </button>
        <button type="button" [disabled]='deletingProperty' mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="deletePropertyModal.hide()">No</button>
      </div>
    </div>
  </div>
</div>