
<div *ngIf='state==0'>
    <div class="row no-gutters justify-content-center pb-4">
      <div class="col col-md-4 col-sm-8">
        <div class="card card-cascade">
            <div class="view view-cascade gradient-card-header info-color-dark">
              <h2 class="h2-responsive mb-2">Reset password</h2>
            </div>
            <mdb-progress-bar *ngIf="submiting" class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
            <div class="card-body">
                <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
                    <h4 class="h4-responsive text-center mb-2">Enter new password</h4>
                    
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="orangeForm-password" class="form-control" formControlName="password" successMessage=" " [errorMessage]="newPasswordErrorMessage()" mdbInputDirective>
                        <label for="orangeForm-password">Password</label>
                    </div>

<!--                     <div class="md-form">                    
                        <div class="row justify-content-center">
                          <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" 
                              [site_key]="recapchaKey"
                              language="en">                        
                          </re-captcha>
                        </div>
                    </div> -->

                    <div class="text-center pt-5">
                        <button type="submit" class="col btn btn-info waves-light" mdbWavesEffect
                        [disabled]=" submiting || !itemForm.valid">
                            <span *ngIf="!submiting">Reset</span>
                            <span *ngIf="submiting">Resetting...</span>   
                        </button>
                    </div>
                </form>
            </div>
        </div>
     </div>
    </div>
</div>


<div *ngIf='state==1 || state==3'>
  <div class="row no-gutters mt-5 pt-5 justify-content-md-center">
    <div class="col col-md-4">
      <div class="card card-cascade">
        <div class="view view-cascade gradient-card-header danger-color">
          <h2 class="h2-responsive mb-2">            
             {{errorMessage}}
          </h2>
        </div>
      <div class="card-body text-center">
        <div>
         <i class="fa fa-close red-text fa-3x animated rotateIn"></i>
        </div>
        <div>
         <a mdbBtn color="danger" type="button" class="mb-3 waves-lightr" mdbWavesEffect [routerLink]="['/account/forgot-your-password']"> Resend reset password link
         </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


<div *ngIf='state==2'>
  <div class="row no-gutters mt-5 pt-5 justify-content-md-center">
    <div class="col col-md-4">
      <div class="card card-cascade">
        <div class="view view-cascade gradient-card-header success-color">
          <h2 class="h2-responsive mb-2">            
             Password reset
          </h2>
        </div>
      <div class="card-body text-center">
      	 <i class="fa fa-check green-text fa-3x animated rotateIn"></i>
        <h3 class="">
          You may now log in.
        </h3>
        <div class="">
	        <a mdbBtn color="success" type="button" class="mb-3 waves-lightr" mdbWavesEffect [routerLink]="['/account/login']">
	       	 	Login
	      	</a>
        </div>
  
      </div>
    </div>
  </div>
  </div>
</div>
