<div class="row no-gutters justify-content-center pb-4">

  <div *ngIf="!userInfo" class="text-center">
    <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
  </div>

	<div *ngIf="userInfo && status==0" class="col col-md-8">
		<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
			<h2 class="h2-responsive text-center font-weight-bold mb-2">Reset Password</h2>
			<div class="row justify-content-center pb-4">
				<div class="col-12 pb-2 md-form">
					<i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="form-currentPassword" class="form-control" formControlName="currentPassword" successMessage=" " errorMessage='This field is required' required mdbInputDirective>
          <label for="form-currentPassword">Current Password</label>
				</div>

        <div class="col-12 pb-2 md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="form-newPassword" class="form-control" #newPassword formControlName="newPassword" successMessage=" " [errorMessage]="newPasswordErrorMessage()" mdbInputDirective>
          <label for="form-newPassword">New Password</label>
        </div>

        <div class="col-12 pb-2 md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="form-repeatPassword" class="form-control" #repeatPassword
                    required formControlName="repeatPassword" successMessage=" " [errorMessage]="repeatPasswordErrorMessage()" mdbInputDirective>

          <label for="form-repeatPassword">Repeat Password</label>
        </div>

			</div>

			<div class="text-center pt-5">
        <button type="submit" mdbBtn color="success" [disabled]="!itemForm.valid || submiting" mdbWavesEffect>
            <span *ngIf="!submiting">Save new Password</span>
            <span *ngIf="submiting">Saving...</span>
        </button>
      </div>
		</form>
	</div>

  <div *ngIf="status==1">
    <div class="text-center">
      <i class="fa fa-check green-text fa-4x animated rotateIn"></i>
      <h3>
        Password successfully reset
      </h3>
    </div>
  </div>

</div>
