<button mdbBtn mdbWavesEffect color="success" (click)="openWithdrawalModal()">
  Withdraw
</button>

<div mdbModal #withdrawalModal="mdbModal" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
   [config]='{ignoreBackdropClick:false, keyboard:true}' (closed)='withdrawalModalClosed()'>
  <div class="modal-dialog cascading-modal modal-avatar" role="document">
      <div class="modal-content">

          <div class="modal-header">
              <img [src]='"./assets/coins/" + currencyInfo.currency + ".png"' class="rounded-circle img-responsive">
          </div>
          <div class="modal-body text-center mb-1">

            <div *ngIf="!withdrawalFee && state==0" class="text-center">
              <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
            </div>

            <p *ngIf="withdrawalFee && state==0" class="">Fee is 
              <span class="font-weight-bold" mdbTooltip="Transfers to addresses outside of {{app.name}}">{{withdrawalFee}} {{currencyInfo.currency}} </span>for external withdrawals and 
              <span class="font-weight-bold" mdbTooltip="Transfers to {{app.name}} users addresses">0 {{currencyInfo.currency}} </span>for internal withdrawals
            </p>

            <p *ngIf="state==1" class="mb-0">Fee: 
              <span class="font-weight-bold">{{withdrawalFee}} {{currencyInfo.currency}}</span>
            </p>
            <p *ngIf="state==1">
              <span *ngIf="!isInternal" class="grey-text" mdbTooltip="Transfers to addresses outside of {{app.name}}">External withdrawal</span>
              <span *ngIf="isInternal" class="grey-text" mdbTooltip="Transfer to {{app.name}} users addresses">Internal withdrawal</span>
            </p>

            <form *ngIf="withdrawalFee || state!=0" [formGroup]="withdrawalForm" (ngSubmit)='next()'>

              <div class="row justify-content-center">
                  <div *ngIf="state==0" class="col-12 pt-3">
                    <p class="font-weight-bold mb-0">{{currencyInfo.name}} receiver address</p>
                  </div>
                  <div *ngIf="state==0" class="col-12 md-form mt-0">
                    <input mdbInput mdbValidate type="text" id="form3" class="form-control" formControlName="to">
                    <mdb-error *ngIf="withdrawalForm.get('to').invalid && (withdrawalForm.get('to').dirty || withdrawalForm.get('to').touched)"></mdb-error>
                    <mdb-success *ngIf="withdrawalForm.get('to').valid && (withdrawalForm.get('to').dirty || withdrawalForm.get('to').touched)"></mdb-success>
                  </div>

                  <div *ngIf="state==1" class="col-12 pt-3">
                    <p class=""><span class="font-weight-bold">Address: </span>{{withdrawalForm.get('to').value}}</p>
                  </div>

                  <div *ngIf="state==1" class="col-12 pt-3">
                    <p class="font-weight-bold mb-0">Amount ({{currencyInfo.currency}})</p>
                  </div>
                  <div *ngIf="state==1" class="col-12 md-form mt-0">
                    <input mdbInput mdbValidate type="number" id="form3" class="form-control" formControlName="amount">
                    <mdb-error *ngIf="withdrawalForm.get('amount').invalid && (withdrawalForm.get('amount').dirty || withdrawalForm.get('amount').touched)">
                      <span *ngIf="withdrawalForm.get('amount').errors.required || withdrawalForm.get('amount').errors.invalidAmount">
                        Invalid amount
                      </span>
                      <span *ngIf="!withdrawalForm.get('amount').errors.required && !withdrawalForm.get('amount').errors.invalidAmount && withdrawalForm.get('amount').errors.insufficientFunds">Insufficient funds</span>
                    </mdb-error>
                    <mdb-success *ngIf="withdrawalForm.get('amount').valid && (withdrawalForm.get('amount').dirty || withdrawalForm.get('amount').touched)"></mdb-success>
                  </div>

                  <div *ngIf="state==2" class="col-12 pt-3">
                    <p class="font-weight-bold mb-0 green-text">Check your email!. We've sent you a confirmation code</p>
                  </div>
                  <div *ngIf="state==2" class="col-12 pt-3">
                    <p class="font-weight-bold mb-0">Enter code</p>
                  </div>
                  <div *ngIf="state==2" class="col-12 md-form my-0">
                    <input mdbInput mdbValidate type="text" id="form3" class="form-control" formControlName="code">
                    <mdb-error *ngIf="withdrawalForm.get('code').invalid && (withdrawalForm.get('code').dirty || withdrawalForm.get('code').touched)"></mdb-error>
                    <mdb-success *ngIf="withdrawalForm.get('code').valid && (withdrawalForm.get('code').dirty || withdrawalForm.get('code').touched)"></mdb-success>
                  </div>

                  <p *ngIf="state==1" class="mb-1">Max amount: 
                    <span class="grey-text">{{maxAmount}} {{currencyInfo.currency}}</span>
                  </p>
              </div>

              <div class="text-center">
                  <button type="button" [disabled]='submitting[state]' mdbBtn color='default' outline='true' mdbWavesEffect (click)="withdrawalModal.hide()">
                    Cancel
                  </button>
                  <button type="submit" [disabled]='submitting[state]' mdbBtn color="success" class="relative waves-light" mdbWavesEffect>
                    <span *ngIf="!submitting[state] && state!=2">Next</span>
                    <span *ngIf="!submitting[state] && state==2">Withdraw</span>
                    <span *ngIf="submitting[state]" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  </button>
              </div>
            </form>
          </div>

      </div>
  </div>
</div>