<div *ngIf="!realEstateAgent || !landlord" class="text-center">
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>

<div *ngIf="realEstateAgent && landlord" class="text-center py-3">
  <h1>ESigned Documents with 
    <span *ngIf="isRealEstateAgent(userInfo.uid)" class="text-capitalize"> {{landlord.firstName}}</span>
    <span *ngIf="isRealEstateAgent(userInfo.uid)" class="text-capitalize"> {{realEstateAgent.firstName}}</span>
  </h1>
  <button *ngIf="isRealEstateAgent(userInfo.uid)" mdbBtn color="info" rounded="true" type="button" mdbWavesEffect (click)="openEsignModal()">Upload new document</button>
</div>


<div *ngIf="realEstateAgent && landlord" class="">
  <mdb-card>
    <div class="table-responsive no-gutters">
      <table mdbTable hover="true">
        <thead class="unique-color white-text z-depth-2">
          <tr mdbTableCol class="text-center">
            <th> </th>
            <th>ID</th>
            <th>Signers</th>
            <th>Status</th>
            <th>Document</th>
          </tr>
        </thead>
        <tbody *ngIf="signaturesRequest && !loadingSignatures">
          <tr *ngFor="let signatureRequest of signaturesRequest" mdbTableCol>
            <td>
              <h1>
                <mdb-icon *ngIf="!signatureRequest.smartContract" fas icon="shield-alt" class="grey-text" mdbTooltip='Not backed up on Blockchain'></mdb-icon>
                <mdb-icon *ngIf="signatureRequest.smartContract && signatureRequest.smartContract.status=='pending'" fas icon="spinner" class="orange-text" mdbTooltip='Backing up on Blockchain'></mdb-icon>
                <mdb-icon *ngIf="signatureRequest.smartContract && signatureRequest.smartContract.status=='confirmed'" fas icon="shield-alt" class="purple-text" mdbTooltip='Backed up on Blockchain'></mdb-icon>
              </h1>
            </td>
            <td class="font-weight-bold">
              <p>{{signatureRequest.id}}</p>
            </td>
            <td>
              <ul>
                <li>
                  <p class="font-weight-bold">
                    <span class="text-capitalize">{{agreement.realEstateAgent.firstName}} {{agreement.realEstateAgent.lastName}}. </span>
                    <mdb-badge *ngIf="signatureRequest.signatures && realEstateAgentSignature(signatureRequest.signatures).status_code=='awaiting_signature'" warning="true">Pending Signature</mdb-badge>
                    <mdb-badge *ngIf="signatureRequest.signatures && realEstateAgentSignature(signatureRequest.signatures).status_code=='signed'" success="true">
                      Signed on {{formatSignedDateString(realEstateAgentSignature(signatureRequest.signatures).signed_at*1000)}}
                    </mdb-badge>
                  </p>
                </li>
                <li>
                  <p class="font-weight-bold">
                    <span class="text-capitalize">{{agreement.landlord.firstName}} {{agreement.landlord.lastName}}. </span>
                    <mdb-badge *ngIf="signatureRequest.signatures && landlordSignature(signatureRequest.signatures).status_code=='awaiting_signature'" warning="true">Pending Signature</mdb-badge>
                    <mdb-badge *ngIf="signatureRequest.signatures && landlordSignature(signatureRequest.signatures).status_code=='signed'" success="true">
                      Signed on {{formatSignedDateString(landlordSignature(signatureRequest.signatures).signed_at*1000)}}
                    </mdb-badge>
                  </p>
                </li>
              </ul>
            </td>

            <td *ngIf="!signatureRequest.signatures">
              <p class="font-weight-bold red-text">Document not uploaded</p>
            </td>
            <td *ngIf="signatureRequest.signatures && realEstateAgentSignature(signatureRequest.signatures).status_code=='awaiting_signature' && landlordSignature(signatureRequest.signatures).status_code=='awaiting_signature'">
              <p class="font-weight-bold orange-text">Document not signed</p>
            </td>
            <td *ngIf="signatureRequest.signatures && realEstateAgentSignature(signatureRequest.signatures).status_code=='signed' && landlordSignature(signatureRequest.signatures).status_code=='awaiting_signature'">
              <p class="font-weight-bold orange-text">Real Estate Agent signed. Wating for Landlord's Signature</p>
            </td>
            <td *ngIf="signatureRequest.signatures && realEstateAgentSignature(signatureRequest.signatures).status_code=='awaiting_signature' && landlordSignature(signatureRequest.signatures).status_code=='signed'">
              <p class="font-weight-bold orange-text">Landlord signed. Wating for Real Estate Agent's Signature</p>
            </td>
            <td *ngIf="signatureRequest.signatures && realEstateAgentSignature(signatureRequest.signatures).status_code=='signed' && landlordSignature(signatureRequest.signatures).status_code=='signed'">
              <p class="font-weight-bold green-text">Document signed</p>
            </td>

            <td *ngIf="!signatureRequest.signatures && isRealEstateAgent(userInfo.uid)" class="font-weight-bold">
              <button mdbBtn color="warning" rounded="true" type="button" mdbWavesEffect (click)="selectSignatureRequest(signatureRequest)">
                <span>Upload</span>
              </button>
            </td>
            <td *ngIf="!signatureRequest.signatures && isLandlord(userInfo.uid)" class="font-weight-bold">
              <button disabled='true' mdbBtn color="warning" rounded="true" type="button" mdbWavesEffect>
                <span>Sign</span>
              </button>
            </td>
            <td *ngIf="signatureRequest.signatures && 
                      ( (isRealEstateAgent(userInfo.uid) && realEstateAgentSignature(signatureRequest.signatures).status_code=='awaiting_signature') || 
                        (isLandlord(userInfo.uid) && landlordSignature(signatureRequest.signatures).status_code=='awaiting_signature') )" 
              class="font-weight-bold">
              <button mdbBtn color="warning" rounded="true" type="button" mdbWavesEffect (click)="selectSignatureRequest(signatureRequest)">
                <span>Sign</span>
              </button>
            </td>
            <td *ngIf="signatureRequest.signatures && 
                       ( (isRealEstateAgent(userInfo.uid) && realEstateAgentSignature(signatureRequest.signatures).status_code=='signed' || 
                       isLandlord(userInfo.uid) && landlordSignature(signatureRequest.signatures).status_code=='signed') )" 
              class="font-weight-bold">
              <button mdbBtn color="danger" [disabled]='signatureRequest.loadingDocUrl' rounded="true" type="button" size='sm' mdbWavesEffect (click)="viewDocument(signatureRequest)">
                <span *ngIf="!signatureRequest.loadingDocUrl">view</span>
                <span *ngIf="signatureRequest.loadingDocUrl" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </button>
              <button *ngIf="isRealEstateAgent(userInfo.uid) && !signatureRequest.smartContract" mdbBtn color='secondary' rounded="true" type="button" size='sm' mdbWavesEffect (click)="gasAndGasPrice(signatureRequest)">
               Back up on blockchain
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="!signaturesRequest || loadingSignatures" class="text-center">
        <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
      </div>

      <div *ngIf="signaturesRequest?.length==0" class="text-center pt-2 pb-3">
        <strong>No Documents uploaded</strong>
      </div>
      
      <hr class="my-0">
      <div *ngIf="canLoadMoreSigReq" class="text-center pt-4">
        <button [disabled]='loadingMoreSigReq' color='success' rounded="true" mdbBtn mdbWavesEffect (click)="loadMoreSigReq()">
          <span *ngIf="!loadingMoreSigReq">Load more</span>
          <span *ngIf="loadingMoreSigReq" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>

    </div>
  </mdb-card>
</div>



<div mdbModal #esignModal="mdbModal" style="overflow: auto;" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" [ngClass]="{'modal-lg':!signatureRequestSelected }" role="document">
    <!--Content-->
    <div *ngIf="userInfo" class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p *ngIf="!signatureRequestSelected" class="heading">Pay for Esign</p>
        <p *ngIf="signatureRequestSelected" class="heading">Upload your Document</p>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="esignModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div *ngIf="!signatureRequestSelected" class="modal-body">
        <p class="grey-text">Our eSign services with <span class="font-weight-bold">HelloSign</span> requires a small fee to be used.</p>
        <h2 class="h2-responsive text-center">Fee: 10 USD</h2>
        <h5 *ngIf="!currencySelected" class="text-center">Select currency</h5>
        <h5 *ngIf="currencySelected && !amountToPay" class="text-center">Loading...</h5>
        <h5 *ngIf="currencySelected && amountToPay" class="text-center">Amount in {{currencySelected.name}}: <strong>{{amountToPay}} {{currencySelected.currency}}</strong></h5>
        
        <div *ngIf="!currencies" class="pt-3 text-center">
            <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
        </div>

        <div *ngIf="currencies" class="row justify-content-center">
          <div *ngFor="let item of currencies" class="col-6 col-sm-4 col-lg-auto pt-3" (click)="selectCurrency(item)" style="cursor:pointer" >
            <mdb-card [ngClass]="{'border': currencySelected && currencySelected.currency==item.currency, 'border-warning': currencySelected && currencySelected.currency==item.currency }">
              <mdb-card-body>
                <img [src]='"./assets/coins/" + item.currency + ".png"' class="img-fluid">
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>

        <p *ngIf="currencySelected && userInfo" class="text-center font-weight-bold pt-3">
          Your balance: 
          <span *ngIf="!userInfo.balances[currencySelected.currency]">0</span>
          <span *ngIf="userInfo.balances[currencySelected.currency]">{{formatBalance(userInfo.balances[currencySelected.currency].available)}}</span>
          {{currencySelected.currency}}
        </p>
      </div>
      
      <div *ngIf="signatureRequestSelected" class="modal-body">
        <div class="file-field md-form mb-0">
          <div mdbBtn floating="true" size="lg" mdbWavesEffect>
            <i class="fas fa-cloud-upload-alt fa-2x" aria-hidden="true"></i>
            <input type="file" accept="application/pdf" [disabled]='doc.uploading' mdbFileSelect (change)="onUploadOutput($event)">
          </div>
          <div class="file-path-wrapper mt-3">
            <input class="file-path" disabled type="text" placeholder="Upload your file" [value]='doc.tempName || null'>
          </div>
        </div>

        <p *ngIf="doc.errorUploading" class="font-weight-bold red-text text-center">Error uploading file</p>
        <div *ngIf="doc.uploading" class="pt-3">
          <mdb-progress [value]="doc.uploadPercent" min="0" max="100" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></mdb-progress>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button type="button" [disabled]='payingForEsign || doc.uploading' 
         mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="esignModal.hide()">
         Cancel
        </button>

        <button *ngIf="!signatureRequestSelected" 
          type="button" [disabled]='!currencySelected || !currencies || !amountToPay || payingForEsign' mdbBtn color="success" class="waves-effect" mdbWavesEffect (click)="payForEsignWithCrypto()">
          <span *ngIf="!payingForEsign">Confirm</span>
          <span *ngIf="payingForEsign" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        
        <button *ngIf="signatureRequestSelected" 
          type="button" [disabled]='doc.uploading || !this.doc.file' mdbBtn color="success" class="waves-effect" mdbWavesEffect (click)="uploadDocument()">
          <span *ngIf="!doc.uploading">Start Uploading</span>
          <span *ngIf="doc.uploading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        
      </div>
    </div>
    
  </div>
</div>



<div mdbModal #sendTX="mdbModal" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar" role="document">
          
      <div class="modal-content">
  
              
        <div class="modal-header">
            <img [src]="'./assets/' + 'ETH' + '2.png'" class="rounded-circle img-responsive">
        </div>
              
        <form [formGroup]="itemForm" (ngSubmit)='saveDocOnBlockchain()'>
          <div class="modal-body text-center mb-1">
    
            <div>
              <h5 class="mt-1 mb-2" *ngIf="!estimating">Confirm Transaction</h5>
              <h5 class="mt-1 mb-2" *ngIf="estimating">Estimating Fee ...</h5>
    
              <div *ngIf="estimating">
                <mdb-spinner spinnerType="big" spinnerColor="blue" ></mdb-spinner>
              </div>
    
              <div *ngIf="!estimating">
                <div class="md-form ml-0 mr-0">
                    <input required formControlName="gasLimit" mdbInputDirective successMessage=' ' errorMessage=' ' type="number" id="gasLimit" class="form-control ml-0">
                    <label for="gasLimit" class="ml-0">Gas limit (UNITS)</label>
                </div>
                <div class="md-form ml-0 mr-0">
                    <input required formControlName="gasPriceInGWei" mdbInputDirective successMessage=' ' errorMessage=' ' type="number" id="gasPriceInGWei" class="form-control ml-0">
                    <label for="gasPriceInGWei" class="ml-0">Gas Price (Gwei)</label>
                </div>
                <div *ngIf="itemForm.value.gasLimit>0 && itemForm.value.gasPriceInGWei>0" class="md-form ml-0 mr-0 text-left">
                  <p>
                    <strong>Max Fee: </strong>
                    {{ newBigNumber(itemForm.value.gasLimit).times(newBigNumber(itemForm.value.gasPriceInGWei).times(newBigNumber(10).pow(-9))).toString(10) }} ETH                            
                  </p>
                  <p class="font-weight-bold">
                    Your balance in your Identity Wallet: {{ newBigNumber(balance).times(newBigNumber(10).pow(-18)).toNumber() }} ETH
                  </p>
                </div>
              </div>
    
              <div class="text-center">
                <button type="submit" [disabled]="submittingDocOnBC || !(itemForm.value.gasLimit>0) || !(itemForm.value.gasPriceInGWei>0) || estimating" class="btn btn-outline-default mt-1" mdbWavesEffect>
                  <span *ngIf="!submittingDocOnBC">Submit</span>
                  <span *ngIf="submittingDocOnBC" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <i class="fa fa-paper-plane-o ml-1"></i>
                </button>
              </div>
    
            </div>

          </div>
        </form>
  
      </div>
    </div>
</div>




<div mdbModal #txModal="mdbModal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Transaction sent successfully</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="txModal.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="text-center">
                <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                <strong class="pt-1 pr-2">Transaction hash:
                  <a [href]="etherscanURL+'/tx/'+txHash" target="_blank" rel="noopener">{{txHash}}</a>
                </strong>
              </div>
            </div>
        </div>
    </div>
</div>