<div mdbModal #notificationModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" style="overflow: auto;" (closed)='notificationModalClosed()'>
  <div class="modal-dialog modal-notify modal-info" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <i class="fa fa-bell white-text fa-2x mr-auto animated rotateIn"></i>
        <h2 class="text-center heading lead w-100" id="myModalLabel">My Notifications</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="notificationModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <div class="modal-body">
				<div *ngIf="!notifications" class="text-center pt-5">
					<mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
				</div>
				
        <div *ngIf="notifications" class="scrollbar-light-blue text-left">
          <div *ngFor="let notification of notifications" class="pb-2 px-1"> 
	          <div class="card"><!-- orange lighten-4 -->
	          	<div class="card-body p-2">
	          		<h5 class="card-title text-left ml-4 mb-1 h5-responsive">{{notification.title}}</h5>
	          		<div class="row no-gutters">
									<div class="col-auto pr-2">
											<mdb-icon fas icon="exclamation" size="3x"></mdb-icon>
									</div>
									<div class="col">
										<p class="mb-0">{{notification.content}}</p>
									</div>
									<div *ngIf="notification.hasButton" class="col-12 text-right">
                    <button *ngIf="
                    notification.action == 'provide property landlord feedback' || 
                    notification.action == 'provide property tenant feedback' || 
                    notification.action == 'provide agreement real estate agent feedback' || 
                    notification.action == 'provide agreement landlord feedback'"
                    mdbBtn color='success' size='sm' mdbWavesEffect (click)="openProvideFeedbackModal(notification)">
                      {{notification.buttonText}}
                    </button>
                    <button *ngIf="notification.action == 'confirm property listing'" mdbBtn color='success' size='sm' mdbWavesEffect (click)="openConfirmModal(notification)">
                      {{notification.buttonText}}
                    </button>
									</div>
									<div class="col-12">
										<p class="grey-text text-right mb-0">
											<span [mdbTooltip]='formatDate(notification.creationTS)'>{{dateFromNow(notification.creationTS)}}</span>
										</p>
									</div>
	          		</div>
	        		</div>
	          </div>
          </div>
					
					<div *ngIf="canLoadMoreOldNotifications && notifications.length>=notificationsOffset" class="pb-4 px-1" (click)="loadMore()">
						<button mdbBtn color='secondary' block="true" mdbWavesEffect>
							<span *ngIf="!loadingOldNotifications">Load more</span>
							<span *ngIf="loadingOldNotifications" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
						</button>
					</div>

				</div>
      </div>

    </div>

  </div>
</div>




<div mdbModal #provideFeedbackModal="mdbModal" style="overflow: auto;" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    
    <div class="modal-content text-center">

			<div *ngIf="!userForFeedback" class="text-center pt-5">
				<mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
			</div>
    
      <div *ngIf="userForFeedback" class="modal-header d-flex justify-content-center">
        <p class="heading">Provide feedback for <span class="text-capitalize">{{userForFeedback.firstName}} {{userForFeedback.lastName}}</span></p>
      </div>

      <form [formGroup]="itemForm" (ngSubmit)="provideFeedBack()">
        <div *ngIf="userForFeedback && notificiationForFeedback" class="modal-body">
          <div class="text-center">
            <img [src]="userForFeedback.photo || './assets/noProfilePicture.png'" height="120px" class="avatar rounded-circle z-depth-1-half">
            <h4 class="pt-3">How was your experience?</h4>
          </div>

          <div class="row">
              <div *ngIf="notificiationForFeedback.action == 'provide property landlord feedback'" class="col-12 md-form">
                  <p class="font-weight-bold">
                    Average time of maintenance request tickets resolution
                  </p>
                  <h4 style="cursor: pointer;">
                    <app-score [score]="itemForm.get('avgTimeOfTicketResolution').value" (selectedScore)='selectScore($event, "avgTimeOfTicketResolution")'></app-score>
                  </h4>
              </div>

              <div *ngIf="notificiationForFeedback.action == 'provide property tenant feedback'" class="col-12 md-form">
                  <p class="font-weight-bold">
                    Ontime Payments
                  </p>
                  <h4 style="cursor: pointer;">
                    <app-score [score]="itemForm.get('ontimePayments').value" (selectedScore)='selectScore($event,"ontimePayments")'></app-score>
                  </h4>
              </div>

              <div class="col-12 md-form">
                  <p class="font-weight-bold">
                    How would you rate 
                    <span class="text-capitalize">{{userForFeedback.firstName}} {{userForFeedback.lastName}}</span> as 
                    <span *ngIf="notificiationForFeedback.action == 'provide property landlord feedback'">Landlord</span>
                    <span *ngIf="notificiationForFeedback.action == 'provide property tenant feedback'" >Tenant</span>
                    <span *ngIf="notificiationForFeedback.action == 'provide agreement real estate agent feedback'">Real Estate Agent</span>
                    <span *ngIf="notificiationForFeedback.action == 'provide agreement landlord feedback'">Landlord</span>
                  </p>
                  <h4 style="cursor: pointer;">
                    <app-score [score]="itemForm.get('score').value" (selectedScore)='selectScore($event, "score")'></app-score>
                  </h4>
              </div>

              <div class="col-12 pt-2">
                  <p class="font-weight-bold">Write review</p>
              </div>
              <div class="col-12 md-form">
                <textarea mdbInputDirective type="text" length="200" mdbCharCounter formControlName="review" id="form8" class="md-textarea form-control" rows="3" successMessage=" " errorMessage=' ' ></textarea>
                <label for="form8" class="pl-3">Review (Optional)</label>
              </div>
          </div>
          
        </div>
      
        <div class="modal-footer flex-center">
          <button type="button" [disabled]="providingFeedback" mdbBtn color="success" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="provideFeedbackModal.hide()">Cancel</button>
          <button type="submit" [disabled]="providingFeedback" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect>
            <span *ngIf="!providingFeedback">Submit</span>
						<span *ngIf="providingFeedback" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>
    </form>
    </div>
    
  </div>
</div>



<div mdbModal #confirmModal="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-warning" role="document">
    
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>
      
      <div class="modal-body">
        <h1>👍</h1>
        <p>Confirm you want your property to be listed on the platfom</p>
      </div>
      
      <div class="modal-footer flex-center">
        <button type="button" [disabled]='confirming' mdbBtn color="warning" outline="true" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="confirmModal.hide()">No</button>
        <button type="button" [disabled]='confirming' mdbBtn color="warning" class="waves-effect" mdbWavesEffect (click)="confirmPropertyListing()">
          <span *ngIf="!confirming">Yes</span>
          <span *ngIf="confirming">Confirming</span>
        </button>
      </div>
    </div>
  </div>
</div>