<div>

    <div [ngStyle]="{'background-image':'url('+ myProperty.photos[0] +')'}">
      <div class="white-text rgba-black-strong rounded pt-5 px-4" style="height: 100vh !important;">
      
          <div class="row justify-content-md-center no-gutters">
              <div class="col-md-6">
                <!-- <h3 class="text-center text-md-left pb-1 pb-md-3"><span class="badge badge-info">Apartment</span></h3> -->
                <h1 class="h1-responsive py-md-3 font-weight-bold text-center text-md-left"><strong>{{myProperty.name}}</strong></h1>
              </div>
              <div class="col-md-3">
                <p class="text-center white-text pb-1 pb-md-3">{{myProperty.address}}</p>
              </div>
          </div>


          <div class="row justify-content-md-center">
              <div class="col-md-6">
                  <!-- <h1 class="h1-responsive py-md-3 font-weight-bold text-center text-md-left"><strong>The property name</strong></h1> -->
                  <button *ngIf="isLandlord(userInfo.uid)" mdbBtn color="secondary" rounded="true" type="button" mdbWavesEffect (click)="editProperty()">Edit Property</button>
                  <button *ngIf="isLandlord(userInfo.uid) && !myProperty.createdByRealEstateAgent && myProperty.listingID" mdbBtn color="info" rounded="true" type="button" mdbWavesEffect (click)="viewListing()">View listing</button>
                  <button *ngIf="isLandlord(userInfo.uid) && !myProperty.createdByRealEstateAgent && !myProperty.listingID" mdbBtn color="info" rounded="true" type="button" mdbWavesEffect (click)="listProperty()">List Property</button>
                  <div *ngIf="tenantSelected && tenantSelected.info" class="pt-5 pl-5">
                    <h3>Rent: {{tenantSelected.info.rentAmount}} USD</h3>
                  </div>
                  <div *ngIf="myProperty.tenantsID.length>0 && (!tenantSelected || !tenantSelected.info)" class="text-center py-5 mt-5">
                    <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
                  </div>
              </div>

              <div class="col-md-4 black-text">
                <mdb-card class="text-center">

                  <mdb-card-body *ngIf="isLandlord(userInfo.uid)">
                      <div *ngIf="myProperty.tenantsID.length==0"><h3 class="h3-responsive">No tenants in this property</h3></div>
                      
                      <div *ngIf="myProperty.tenantsID.length>0 && !tenants" class="text-center py-5 mt-5">
                        <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
                      </div>
                      
                      <div *ngIf="myProperty.tenantsID.length>0 && tenants" class="row">
                          <div class="col-12">
                            <h6 class="blue-text text-center">Select Tenant</h6>
                          </div>
                          <div class="col-12 pb-3">
                            <form [formGroup]="selectTenantForm">
                              <mdb-select [options]="tenantsOptions" formControlName="tenant" placeholder="Select Tenant" class="colorful-select dropdown-secondary font-weight-bold border border-primary"></mdb-select>
                            </form>
                          </div>
                          
                          <div *ngIf="tenantSelected" class="col-md-3 col-12 text-center">
                            <img [src]="tenantSelected.photo || './assets/noProfilePicture.png'"  class="avatar rounded-circle z-depth-1-half img-fluid"
                              style="cursor:pointer" (click)="viewProfile(tenantSelected.uid)">
                          </div>

                          <div *ngIf="tenantSelected" class="col-md-8 col-12">
                              <div class="row">
                                  <div class="col-md-auto col-12 px-0">
                                      <h3 class="text-center text-capitalize h3-responsive">
                                          <span style="cursor:pointer" (click)="viewProfile(tenantSelected.uid)">{{tenantSelected.firstName}} {{tenantSelected.lastName}} </span>
                                          <i *ngIf="tenantSelected.membership.pricingPlan=='free'" mdbTooltip='Free Member' class="fa fa-certificate grey-text font-weight-bold" aria-hidden="true"></i>
                                          <i *ngIf="tenantSelected.membership.pricingPlan=='basic'" mdbTooltip='Basic Member' class="fa fa-certificate indigo-text font-weight-bold" aria-hidden="true"></i>
                                          <i *ngIf="tenantSelected.membership.pricingPlan=='plus'" mdbTooltip='Plus Member' class="fa fa-certificate purple-text font-weight-bold" aria-hidden="true"></i>
                                          <i *ngIf="tenantSelected.membership.pricingPlan=='professional'" mdbTooltip='Professional Member' class="fa fa-certificate cyan-text font-weight-bold" aria-hidden="true"></i>
                                          <i *ngIf="tenantSelected.membership.pricingPlan=='enterprise'" mdbTooltip='Enterprise Member' class="fa fa-certificate text-warning font-weight-bold" aria-hidden="true"></i>
                                      </h3>
                                  </div>
                                  <div class="col-12">
                                      <h4 class="text-center text-md-left pb-2 h4-responsive">
                                          <span class="badge badge-warning mr-1">{{tenantSelected.tenant.score}}</span>
                                          <app-score [score]='tenantSelected.tenant.score'></app-score>
                                          <small class="grey-text text-right"> ({{tenantSelected.tenant.reviews}} 
                                              <span *ngIf="tenantSelected.tenant.reviews==1"> review</span> <span *ngIf="tenantSelected.tenant.reviews!=1"> reviews</span>)
                                          </small>
                                      </h4>
                                  </div>
                              </div>
                          </div>

                          <div class="col-md-12 col-12">
                              <div class="text-center pt-md-4">
                                <a mdbBtn color="success" rounded="true" block="true" mdbWavesEffect (click)="chatComponent.openMessagesModal(openMessagesObj)">Chat</a>
                              </div>
                          </div>
                      </div>
                  </mdb-card-body>



                  <mdb-card-body *ngIf="userInfo.uid!=myProperty.user.uid">
                      <div><h5 class="blue-text pb-3">Landlord</h5></div>
                      
                      <div *ngIf="!landlordInfo" class="text-center py-5 mt-5">
                        <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
                      </div>
                      
                      <div *ngIf="landlordInfo" class="row">
                          <div class="col-md-3 col-12 text-center">
                            <img [src]="landlordInfo.photo || './assets/noProfilePicture.png'"  class="avatar rounded-circle z-depth-1-half img-fluid"
                              style="cursor:pointer" (click)="viewProfile(landlordInfo.uid)">
                          </div>

                          <div class="col-md-8 col-12">
                              <div class="row">
                                  <div class="col-md-auto col-12 px-0">
                                      <h3 class="text-center text-capitalize h3-responsive">
                                          <span style="cursor:pointer" (click)="viewProfile(landlordInfo.uid)">{{landlordInfo.firstName}} {{landlordInfo.lastName}} </span>
                                          <i *ngIf="landlordInfo.membership.pricingPlan=='free'" mdbTooltip='Free Member' class="fa fa-certificate grey-text font-weight-bold" aria-hidden="true"></i>
                                          <i *ngIf="landlordInfo.membership.pricingPlan=='basic'" mdbTooltip='Basic Member' class="fa fa-certificate indigo-text font-weight-bold" aria-hidden="true"></i>
                                          <i *ngIf="landlordInfo.membership.pricingPlan=='plus'" mdbTooltip='Plus Member' class="fa fa-certificate purple-text font-weight-bold" aria-hidden="true"></i>
                                          <i *ngIf="landlordInfo.membership.pricingPlan=='professional'" mdbTooltip='Professional Member' class="fa fa-certificate cyan-text font-weight-bold" aria-hidden="true"></i>
                                          <i *ngIf="landlordInfo.membership.pricingPlan=='enterprise'" mdbTooltip='Enterprise Member' class="fa fa-certificate text-warning font-weight-bold" aria-hidden="true"></i>
                                      </h3>
                                  </div>
                                  <div class="col-12">
                                      <h4 class="text-center text-md-left pb-2 h4-responsive">
                                          <span class="badge badge-warning mr-1">{{landlordInfo.tenant.score}}</span>
                                          <app-score [score]='landlordInfo.tenant.score'></app-score>
                                          <small class="grey-text text-right"> ({{landlordInfo.tenant.reviews}} 
                                              <span *ngIf="landlordInfo.tenant.reviews==1"> review</span> <span *ngIf="landlordInfo.tenant.reviews!=1"> reviews</span>)
                                          </small>
                                      </h4>
                                  </div>
                              </div>
                          </div>

                          <div class="col-md-12 col-12">
                              <div class="text-center pt-md-4">
                                <a mdbBtn color="success" rounded="true" block="true" mdbWavesEffect (click)="chatComponent.openMessagesModal(openMessagesObj)">Chat</a>
                              </div>
                          </div>
                      </div>
                  </mdb-card-body>


                </mdb-card>
              </div>

              <div *ngIf="myProperty.tenantsID.length>0 && tenantSelected && tenantSelected.info && tenantSelected.info.status=='endingLease'" class="col-12 text-center pt-5">
                  <h4>Pending request to end Lease</h4>
                  <button *ngIf="tenantSelected.info.requestedBy!=userInfo.uid" mdbBtn type="button" color='danger' rounded="true" mdbWavesEffect (click)='panelShown(6)'>
                      End Lease
                  </button>
              </div>

              <div *ngIf="ticketIsOpen" class="col-12 text-center pt-5">
                <h2 class="font-weight-bold" mdbTooltip="Go to 'Top Service Providers' to Search for a Service Provider">
                  <mdb-icon fas icon="ticket-alt" class="orange-text mr-1"></mdb-icon>Ticket open
                </h2>
                <h4>Reason: {{tenantSelected.info.state.ticketInfo.details}}</h4>
              </div>

            </div>

      </div>
    </div>
</div>



<app-chat #chatComponent [userInfo]='userInfo' [tenantSelected]='tenantSelected'></app-chat>