<div *ngIf="!tenantSelected || !tenantSelected.info" class="text-center">
  <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
</div>

<div *ngIf="tenantSelected && tenantSelected.info" class="row">
  <div class="col-12">
      <div class="pb-4">
        <div class="row justify-content-center no-gutters">


            <div class="col-md-10">
              <div class="" style="overflow: auto;">
                  <h1 class="font-weight-bold pt-3 text-center">Record</h1>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th> </th>
                        <th>Date</th>
                        <th>User</th>
                        <th>ID</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="!loadingHistory">
                      <tr *ngFor="let item of history; let i = index" style="cursor: pointer;" (click)="selectHistoryItem(item)">
                        <td *ngIf="item.action=='deposit'">
                          <span class="badge badge-success">DEPOSIT</span>
                        </td>
                        <td *ngIf="item.action=='ticket'">
                          <span class="badge badge-warning">TICKET</span>
                        </td>
                        <td *ngIf="item.action=='rentModified'">
                          <span class="badge badge-secondary">RENT</span>
                        </td>
                        <td>{{formatDateString(item.creationTS)}}</td>
                        <td class="text-capitalize">{{item.user.firstName}} {{item.user.lastName}}</td>
                        <td>{{item.id}}</td>
                      </tr>
                    </tbody>
                  </table>
  
                  <div *ngIf="loadingHistory" class="text-center pt-5 pb-5">
                    <mdb-spinner spinnerType="big" spinnerColor="blue"></mdb-spinner>
                  </div>
  
                  <div *ngIf="!loadingHistory && history && history.length==0" class="text-center pt-2 pb-3">
                    <strong>No record found</strong>
                  </div>
  
                  <hr class="my-0">
              </div>
            </div>


        </div>
      </div>
  </div>
</div>



<div mdbModal #historyItemModal="mdbModal" style="overflow: auto;" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="text-center heading lead w-100" id="myModalLabel">History</h2>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="historyItemModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>


      <div class="modal-body">
        <div *ngIf="historyItemSelected" class="text-center">
        	<i *ngIf="historyItemSelected.action=='deposit'" class="fa fa-bank green-text fa-4x mb-3 animated rotateIn"></i>
        	<i *ngIf="historyItemSelected.action=='rentModified'" class="fa fa-money purple-text fa-4x mb-3 animated rotateIn"></i>
        	<i *ngIf="historyItemSelected.action=='ticket'" class="fa fa-ticket orange-text fa-4x mb-3 animated rotateIn"></i>
        </div>

        <div class="text-left">
          <div *ngIf="historyItemSelected">
            <p>
	          	<strong>Action: </strong>
	          	<span *ngIf="historyItemSelected.action=='deposit'"><span class="badge badge-success">PAYMENT SENT</span></span>
	          	<span *ngIf="historyItemSelected.action=='rentModified'"><span class="badge badge-secondary">RENT MODIFIED</span></span>
	          	<span *ngIf="historyItemSelected.action=='ticket' && historyItemSelected.open"><span class="badge badge-warning">TICKET OPEN</span></span>
	          	<span *ngIf="historyItemSelected.action=='ticket' && !historyItemSelected.open"><span class="badge badge-warning">TICKET CLOSED</span></span>
            </p>
            <p>
              <strong>ID: </strong>{{historyItemSelected.id}}
            </p>
            <p *ngIf="historyItemSelected.action=='deposit'">
              <strong>Payment Method: </strong>{{historyItemSelected.currencyForPayment.name}} ({{historyItemSelected.currencyForPayment.currency}})
            </p>
            <p *ngIf="historyItemSelected.action=='deposit'">
              <strong>Amount: </strong>{{historyItemSelected.currencyForPayment.amount}} {{historyItemSelected.currencyForPayment.currency}}
            </p>
            <p *ngIf="historyItemSelected.action=='ticket' && historyItemSelected.open">
              <strong>Reason: </strong>{{historyItemSelected.details}}
            </p>
            <p *ngIf="historyItemSelected.action=='rentModified'">
              <strong>New rent: </strong>{{historyItemSelected.newRent}} USD
            </p>
            <p class="text-capitalize">
              <strong>User: </strong>
              {{historyItemSelected.user.firstName}} {{historyItemSelected.user.lastName}}
              <span *ngIf="myProperty.user.uid==historyItemSelected.user.uid"> (Landlord)</span>
              <span *ngIf="tenantSelected.uid==historyItemSelected.user.uid"> (Tenant)</span>
            </p>
            <p>
              <strong>Date: </strong>{{formatDateString(historyItemSelected.creationTS)}}
            </p>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-cyan mt-1 waves-light" mdbWavesEffect (click)="historyItemModal.hide()">Close</button>
      </div>

    </div>
  </div>

</div>