
<a (click)="contactUs.show()">Contact Us</a>


<div mdbModal #contactUs="mdbModal" style="overflow: auto;" (closed)="onHidden()" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
	      <div class="modal-header text-center">
	        <h4 class="modal-title w-100 font-weight-bold black-text">Contact us</h4>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="contactUs.hide()">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body mx-3">
	        <div class="md-form mb-4">
	          <i class="fa fa-user prefix grey-text"></i>
	          <input type="text" id="form34" class="form-control validate" formControlName="name" successMessage=" " errorMessage='This field is required' mdbInputDirective>
	          <label for="form34">Your name</label>
	        </div>

	        <div class="md-form mb-4">
	          <i class="fa fa-envelope prefix grey-text"></i>
	          <input type="email" id="form29" class="form-control validate" formControlName="email" successMessage=" " [errorMessage]='emailErrorMessage()' mdbInputDirective>
	          <label for="form29">Your email</label>
	        </div>

	        <div class="md-form mb-4">
	          <i class="fa fa-tag prefix grey-text"></i>
	          <input type="text" id="form32" class="form-control validate" formControlName="subject" successMessage=" " errorMessage='This field is required' mdbInputDirective>
	          <label for="form32">Subject</label>
	        </div>

	        <div class="md-form">
	          <i class="fa fa-pencil prefix grey-text"></i>
	          <textarea type="text" id="form8" class="md-textarea form-control" rows="1" formControlName="message" successMessage=" " errorMessage='This field is required' mdbInputDirective></textarea>
	          <label for="form8">Your message</label>
	        </div>
	        
	        <div class="md-form">                    
            <div class="row justify-content-center">
              <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" 
                  [site_key]="recapchaKey"
                  language="en">                        
              </re-captcha>
            </div>
          </div>

	      </div>
	      <div class="modal-footer d-flex justify-content-center">
	        <button type="submit" [disabled]="!itemForm.valid || submiting || !captchaProcessed" mdbBtn color="unique" class="waves-light" mdbWavesEffect>
	        	<span *ngIf="!submiting">Send</span>
	        	<span *ngIf="submiting">Sending...</span>
	        	
	          <i class="fa fa-paper-plane-o ml-1"></i>
	        </button>
	      </div>
    	</form>
    </div>
  </div>
</div>